[2020-09-24 16:47] fmeum commented on #926
That's unfortunate...

I have contacted another one of the Android devs working on Autofill and am hoping that I'll get a response this time. When Chrome Canary stops crashing and should reveal that my fix is not working as intended, their input may be very helpful. I'm out of ideas otherwise (short of trying to push marking the URL bad important for Autofill again).

[2020-09-25 09:47] fmeum commented on #926
Chrome Canary is no longer crashing, but for some reason the fix doesn't fix anything in Chrome. I [have created a revert](https://bugs.chromium.org/p/chromium/issues/detail?id=1103555#c14) and will evaluate other options.

[2020-09-25 11:23] qhga commented on #1109
Hey,
I am not sure if this helps, but I have a similar setup to @nicoe and also a similar problem:

**Setup:**
Device: Xiaomi Mi Mix 2s (polaris)
OS: Lineage 17.1 (2020-08-26 microG) <- Had the same issues with Lineage 16 (also microG and non microG)
Password Store version: 1.12 <- Had the same issue with other version and the version with the fix @msfjarvis provided above
Method to sync the repos

[2020-09-25 11:27] msfjarvis commented on #1109
Thanks, that's extremely helpful! I'm confident the problem stems from this part:

We do not use the Storage Access Framework for accessing files, which means selection of storage providers like Google Drive and Nextcloud that implement it will not work. If you can send over a debug log, I'll be able to confirm this.

[2020-09-25 11:30] msfjarvis commented on #1109
Going over the wiki, the [First time setup](https://github.com/android-password-store/Android-Password-Store/wiki/First-time-setup) page clearly says that selecting Nextcloud as a provider is 'wrong', which bolsters my theory that this is a SAF related situation. If and when #957 is merged, this should start working.

[2020-09-25 11:40] qhga commented on #1109
@msfjarvis Here is the log, hope that further confirms your suspicion. Have a good one!
[code]

[2020-09-25 11:48] msfjarvis commented on #1109
Yeah that confirms it :(

The SAF migration is presenting challenges at every step so there's no definite timeline for it yet, but I'll definitely verify Nextcloud works whenever that work is ready to ship.

[2020-09-25 12:22] nicoe commented on #1109
* Harsh Shandilya [septembre 25, 2020 13:30]:

Indeed I tested by going directly to the directory instead of using
the Nextcloud provider and it works.

Thanks @phga and the PasswordStore team, I overlooked the wiki sorry
about that.
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-09-25 23:30] aplund opened #1120 "[BUG] IPv6 urls using square bracket notation does not connect"
Set the git server to ssh://username@[fe80::dead:beef]:2323/path/to/repo (substituting real values of course).  I get an EINVAL message when trying to sync the repo.

[2020-09-29 15:02] msfjarvis commented on #1120
I can't reproduce this on my own servers, do you have a screenshot of the error?

[2020-09-29 18:46] DAMO238 opened #1123 "[BUG] Cannot synchronise with git repo"
**Describe the bug**
Upon selecting pull from git, or synchronise, the following error is thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialise a pass git repo on a Linux machine
2. Create some entries (in this case, I imported my lastpass)
3. Initialise a bare git repo on a server
4. Push the pass git repo to the bare git repo
5. Import the bare git repo to the app and a

[2020-09-29 18:53] senilio opened #1124 "[FEATURE] Support for new meta data format used by gopass"
**Is your feature request related to a problem? Please describe.**
gopass devs have implemented a new meta data format for secrets, where all secrets start with the line ```GOPASS-SECRET-1.0```. This line is picked up by Android Password Store as the actual password.

More info on the new format here: https://github.com/gopasspw/gopass/blob/master/docs/features.md#mime-secrets

**Describe the solu

[2020-09-29 18:56] msfjarvis commented on #1124
Duplicate of https://github.com/android-password-store/Android-Password-Store/issues/1055, I've answered it there.

[2020-09-29 18:56] #1124 closed, assigned to nobody

[2020-09-29 19:03] msfjarvis commented on #1123
I do exactly this so not sure what's going wrong here. I fixed the only known cause of this particular type of bug all the way back in April (#738). You're also behind our releases, since we pushed out `v1.12.0` 5 days ago.

How do I reproduce this issue? Are you cloning the bare repository or creating one on your device and using the external storage option to make the app use it?

[2020-09-30 13:25] DAMO238 commented on #1123
I was using the 'local (hidden) repository'. I have solved the issue by going into 'git utils' and doing a 'hard reset to remote branch'. I think the issue may have been that there was an issue during the cloning, and the repository was just initialised but not cloned, which would lead to conflicting histories. Why we don't see the error saying that git refuses to merge conflicting histories, I do

[2020-09-30 13:56] msfjarvis commented on #1123
Hm that'd explain it. The initial repository we create is pretty incomplete and mostly unusable so I guess I'll finally get around to fixing that.

[2020-09-30 21:17] zanona opened #1126 "[FEATURE] Allow additional fields per credential"
It would really great to be able to store additional fields per credential. Like, recovery keys, email linked to the account, or any contextual notes, really ;)  Perhaps even storing credit card numbers like on 1 password?

[2020-10-01 03:42] msfjarvis commented on #1126
You can already do that by entering whatever you want into the extra content field. We're not going to add separate handling for them.

[2020-10-01 08:13] zanona commented on #1126
Oh my, so sorry. I completely missed that field.

[2020-10-01 08:13] #1126 closed, assigned to nobody

[2020-10-01 15:32] #1123 closed, assigned to msfjarvis

[2020-10-02 08:24] msfjarvis commented on #889
The Termux PR has been merged, so there's nothing left to do here. Closing.

[2020-10-02 08:24] #889 closed, assigned to nobody

[2020-10-03 02:42] computator commented on #998
I am encountering this issue, but in my case it's because Password Store stopped supporting the full range of keyid formats that GPG (and therefore pass) accept. My .gpg-id uses the common `0xlong` format but with an exclamation mark after to force a specific subkey (Ex.  `0x123456789ABCDEF0!`). This format used to work, but no longer does; possibly with the switch from the "legacy" play version t

[2020-10-03 02:58] computator commented on #998
I just realized I was using a subkey id (since that was my original intent with my .gpg-id, and which used to work). Trying again with the primary key id these formats worked:
- `123456789ABCDEF0`
- `0x123456789ABCDEF0`
These did not:
- `0x123456789ABCDEF0!`
- `12345678123456789ABCDEF0123456789ABCDEF0` (full fingerprint)

[2020-10-03 09:55] msfjarvis commented on #998
That was my mistake, I misremembered the strategies we deploy to repair a broken store: The app doesn't prompt for key selection if no `.gpg-id` was found. We've changed it in the development branch to also work for empty `.gpg-id` files that the app has been creating as a holdover from its legacy version, and will probably extend it to missing `.gpg-id` before the release goes out.

If even the f

[2020-10-03 17:22] MrPixelized opened #1133 "[FEATURE] Automatic synchronisation of password-store repository"
### Problem statement
It can sometimes be mildly frustrating to have to remember to manually
synchronise passwords with a git server when you open the app, especially
because often times, the first thing you do when you want to retrieve a password
from the password store is synchronise the database manually.

### Proposed solutions
I'd like an optional feature which automatically syncrhonises the

[2020-10-03 17:36] msfjarvis commented on #1133
Duplicate of #277

[2020-10-03 17:36] #1133 closed, assigned to nobody

[2020-10-04 07:19] msfjarvis commented on #145
The maintainers do not own an Inputstick to be able to test any implementation of this, and the Inputstick developers have ignored a [request to publish their library to a public maven repository](https://github.com/inputstick/InputStickAPI-Android/issues/1) for 4 years which makes integration much harder than it needs to be. This issue has also been stale for more than 3 years which to me suggest

[2020-10-04 07:19] #145 closed

[2020-10-04 07:22] msfjarvis commented on #371
This use case is too niche and uncommon for the non-trivial work it is going to require. Closing.

[2020-10-04 07:22] #371 closed

[2020-10-04 10:25] msfjarvis commented on #170
It's impossible to support this feature in JGit 3 and we cannot upgrade to a newer version without completely dropping support for at least Android 6 so this feature will have to be reconsidered for the next major bump (2.x.y), whenever that happens.

[2020-10-04 10:25] #170 closed

[2020-10-04 11:10] msfjarvis commented on #215
A generic proxy option is being implemented, but there will not be an Orbot/Tor specific control.

[2020-10-04 14:50] FloatingLizard commented on #955
Hello,
  I just installed Version 1.11.3 and I am unable to create a password and the error is .gpg-id is too short, please use a long ID.
Is there an update as this one that was updated 3 weeks ago according to the F-droid store.  Or do I have to edit the .gpg-id ?

Thanks

[2020-10-04 14:59] msfjarvis commented on #955
There's no update to be made for this, you'll need to fix your store. `gpg --list-keys` on your computer will give you the full key IDs that need to be in your `.gpg-id` file. v1.12.0 has been added to F-Droid [a week ago](https://gitlab.com/fdroid/fdroiddata/-/commit/7a025580453d52bca138fbc96a5c0c56e138dd0a) so you should update your repository.

[2020-10-04 23:58] msfjarvis commented on #831
I've given this some more thought and I don't think I'm going to consider adding WebDAV to the app at all regardless of who's writing the implementation. If first-party vendors cannot get this right then I most certainly don't want to maintain it alongside the existing labyrinth of Git.

[2020-10-04 23:58] #831 closed

[2020-10-05 11:41] Skrilltrax commented on #277
@msfjarvis we discussed an option to sync every time the app is launched. Want to implement it that way?

[2020-10-05 11:44] msfjarvis commented on #277
I can get behind that.

[2020-10-05 11:47] Skrilltrax commented on #277
Cool, I can take a look at it later today.

[2020-10-05 13:04] msfjarvis commented on #1120
@aplund are you still affected by this issue?

[2020-10-06 02:03] aplund commented on #1120
On v1.12.0 I still have the problem.

I have uploaded a screenshot.

![Screenshot_20201006-114748](https://user-images.githubusercontent.com/1369436/95150376-62117980-07cb-11eb-8ae6-fa1cee72a768.jpg)

The sshd daemon on this host is working and the host responds to pings from other apps.  Perhaps I'm missing a scope component?  The other programs don't seem to need it though.

[2020-10-06 02:07] aplund commented on #1120
Sorry, I forgot to mention that putting in a scope component gives the error: "The provided repository URL is not valid".

[2020-10-06 06:24] msfjarvis commented on #1120
The URL format you need is `ssh://username@[ip::address]:port/full/path/to/repository`, like this: `ssh://msfjarvis@[fe:80:dead:beaf::1]:22/home/msfjarvis/pass-test`.

[2020-10-06 11:01] aplund commented on #1120
That is exactly how I have it (except the IPv6 address is an actual fe80:: address as per screenshot).  Syncing the repo gives the EINVAL error above.

[2020-10-06 11:30] msfjarvis commented on #1120
And I still can't reproduce it :/

The closest I can get to that error is when I'm not using a VPN, which results in me not having IPv6 connectivity at all (thanks shit ISPs).

[2020-10-07 01:52] aplund commented on #1120
What happens when you try to explicitly set the zone component?  I get an error saying the format is invalid. Though, I think the OS needs this for some link local address.  On my laptop I get EINVAL without it.

That is try:

ssh://msfjarvis@[fe:80:dead:beaf::1%25eth0]:22/home/msfjarvis/pass-test

where eth0 is replaced by your actual interface name or number.  I get an error saying the username

[2020-10-08 08:46] cmol opened #1141 "[BUG] Error on git sync: "parameter must be ECParameterSpec ...""
**Describe the bug**
When running a git operation, a popup with the following text occurs:

"An error occured during a Git operation

parameter must be ECParameterSync or ECGenParameterSpec"

The repo is not syncronized.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application
2. Synchronize the repo

**Expected behavior**
Git repo synchronizes.

**Device information:**
 - Device: Go

[2020-10-08 08:48] msfjarvis commented on #1141
Can you provide more information regarding the authentication and the Git host that you're using?

[2020-10-08 08:54] cmol commented on #1141
I'm using ssh-keys and are running git over ssh.
Basically I have just initialized a bare repo on a debian box.

[2020-10-08 09:00] cmol commented on #1141
It should also be noted that this has worked for a long time. It is now a new clone of the repo I am seeing this issue with.

[2020-10-08 09:02] fmeum commented on #1141
Could you provide more information on what type of SSH key you are using and whether you imported or generated it in Password Store? Also, do you know which host key types your server is offering?

[2020-10-08 09:27] cmol commented on #1141
I am using imported 4096 bit RSA keys.

Host keys:
2048 bit RSA
1024 bit DSA
256 bit ECDSA

[2020-10-08 09:43] fmeum commented on #1141
I might have an idea then, I'll investigate.

[2020-10-08 10:05] cmol commented on #1141
Just realized I made a typo here. It's supposed to say "NOT a new clone".

[2020-10-08 11:45] #163 closed

[2020-10-08 11:45] #215 closed

[2020-10-08 11:53] msfjarvis commented on #215
[Snapshots](https://dl.msfjarvis.dev/APS/) have been updated with the proxy setting. While it works well in my testing with tinyproxy and Squid, it'll be helpful for more people to try it out and file bugs so we can polish off any problems before release.

[2020-10-08 11:53] msfjarvis commented on #163
[Snapshots](https://dl.msfjarvis.dev/APS/) have been updated with the proxy setting. While it works well in my testing with tinyproxy and Squid, it'll be helpful for more people to try it out and file bugs so we can polish off any problems before release.

[2020-10-08 14:41] fmeum commented on #1141
I can reproduce the issue: An Android compatibility issue in SSHJ lets ECDSA key exchanges fail. Since we rank them relatively high in our config, the only workaround I see at the moment is to upgrade the server to an OpenSSH version with support for Curve25519 based key exchange.

@msfjarvis I could work around this and a different issue that prevents connections to hosts with only ECDSA host key

[2020-10-08 14:48] msfjarvis commented on #1141
I say we land the fix now but a new patch release doesn't seem worthwhile since the bug isn't particularly widespread.

[2020-10-08 15:10] fmeum commented on #1141
I submitted the upstream PR: https://github.com/hierynomus/sshj/pull/636 and will draft a workaround shortly.

[2020-10-08 15:54] #1141 closed, assigned to fmeum

[2020-10-08 16:46] cmol commented on #1141
That was a quick process! I'm assuming this will be in the next release? And do you know when that will hit the play store?

[2020-10-08 16:47] cmol commented on #1141
And thank you :)

[2020-10-08 16:53] msfjarvis commented on #1141
The issue is linked to the [milestone](https://github.com/android-password-store/Android-Password-Store/milestone/18) for the next release, which contains our expected timeline.

[2020-10-08 19:45] blastrock opened #1143 "[BUG] "Socket closed" on first repository clone"
**Describe the bug**
I'm trying to clone my git repository through ssh, and I get a dialog box saying "An error occurred during a Git operation" and "Socket closed"

**To Reproduce**
Steps to reproduce the behavior:
1. Start password manager
2. Generate a key (tried RSA and ECDSA) and add it to your server
3. Fill in the host address
4. Clone the repository

**Expected behavior**
Success

**Device

[2020-10-08 19:48] blastrock opened #1144 "[BUG] Can't generate an ed25519 key"
**Describe the bug**
When I generate an ed25519 key I get "Error while trying to generate the ssh-key" "Message : the master key android-keystore://sshkey exists but is unusable".

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app (for the first time or not)
2. Follow the tutorial until it asks you to generate a key, or go to settings -> generate ssh key pair
3. Select ed25519
4.

[2020-10-08 21:12] fmeum commented on #1144
Lineage 16 has had some Issues with the Android Keystore in the past, so it's hard to say whether this isn't just a custom ROM bug.

Have you tried this with both screen lock protection enabled and disabled?

[2020-10-09 05:10] msfjarvis commented on #1143
You can go into settings from the main screen and enable debug logging. Then force stopping and re-launching will start populating logcat. I can't reproduce this on any of my servers and I don't particularly think this is a client bug so a confirmation via logcat would be helpful.

[2020-10-10 04:53] swrangsar opened #1146 "[BUG] keep getting not authorized error on cloning from github.com account"
**Description**
when i install android password store app from the fdroid app store and try to clone from https://github.com/username/pass_repo via https  using 'password' as the authentication method. it gives me a 'not authorized' error. tried using personal access token with "repo" access but didn't work either.
have 2FA disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'clo

[2020-10-10 05:26] swrangsar commented on #1146
it's working in 1.12.0

[2020-10-10 05:26] #1146 closed, assigned to nobody

[2020-10-10 06:01] msfjarvis commented on #971
This isn't really our bug and Mozilla's not taking a lot of interest either so I'm going to go ahead and close this.

[2020-10-10 06:01] #971 closed, assigned to fmeum

[2020-10-10 07:04] fmeum commented on #1144
According to [this Tink issue](https://github.com/google/tink/issues/339#issuecomment-608584038), the issue is that the Android Keystore appears to be broken on OnePlus 3T.

@msfjarvis As we already delete the key prior to recreating it, there doesn't seem to be anything else we can do about this: Tink's self-test for broken Keystore implementations apparently fails to detect the issue, but androi

[2020-10-10 07:09] msfjarvis commented on #1144
For the first time in 3 years I truly regret the theft of my 3T. I'll try to confirm that the selftest indeed fails and file an issue.

[2020-10-10 17:05] msfjarvis commented on #1118
The silence here suggests that either nobody reads my release notes or this change is going to affect no-one, so I'm going to prepare a patch for this tonight.

[2020-10-11 10:06] blastrock commented on #1143
With the debug logging enabled, here's the logcat snippet:

[code]

I think the important line is

[code]

Could this be related to #1144?

[2020-10-11 10:10] msfjarvis commented on #1143
Thanks for the logcat snippet.

Possibly, did you use the option to protect your generated key with your screen lock?

[2020-10-11 10:11] blastrock commented on #1144
Yes, and both generation of the key and cloning of the repo work with screen lock protection disabled.

You speak about a selftest, would running it on my phone help? Can I find it on the store? Would I need to compile one?

[2020-10-11 10:14] blastrock commented on #1143
Yes, and I tried without the screen lock as jou suggested in #1144. I think the ssh connection did work. I got a lot of logs in logcat from `net.schmizz.sshj.connection.channel.direct.SessionChannel` dumping whole packets. But then it failed with

[code]

Maybe that's an unrelated issue, my repository seems to be half-initialized as a consequence of these bugs. When I start the app, I get to the m

[2020-10-11 10:18] msfjarvis commented on #1143
[code]

Definitely means that the repository is in a bad state. Our detection of these is unfortunately best-effort and the issue keeps creeping up. Going into settings and using the delete repository option should allow you to start afresh without needing to reconfigure any of the server settings.

[2020-10-11 10:22] blastrock commented on #1143
Yup, did that afterwards, it works, still with screen lock protection off :)

We can close one of these two issues if you're convinced they're duplicate.

[2020-10-11 10:23] msfjarvis commented on #1143
They are, I'm gonna close this and keep the other one open to track when Tink resolves the issue on their end.

[2020-10-11 10:23] #1143 closed, assigned to msfjarvis

[2020-10-11 10:27] msfjarvis commented on #1144
I simply added the code Tink was using to my [side project](https://github.com/msfjarvis/compose-lobsters) and had a 3T user test it on his device. If you wish to compile it yourself, I've pushed the self-test to the [tink-test](https://github.com/msfjarvis/compose-lobsters/tree/tink-test) branch. It should show a toast message at the bottom with the self-test result. [Here](https://dl.msfjarvis.d

[2020-10-11 10:34] blastrock commented on #1144
Thanks, I tried the APK and the self-test passed on my device too. Let's wait for Tink's answer then, thanks for your help!

[2020-10-11 17:28] ashoksinghal commented on #1114
I would like to work on this if it's available

[2020-10-11 17:32] msfjarvis commented on #1114
Certainly available, have at it!

[2020-10-11 17:40] ashoksinghal commented on #1114
thanks, @msfjarvis. working on it

[2020-10-12 10:42] msfjarvis commented on #1118
On second thoughts, going to push this to a longer [v2.0.0 timeline](https://twitter.com/MSF_Jarvis/status/1314943278173745152).

[2020-10-13 06:27] cyberdo opened #1150 "Cannot create files on Redmi Note 8T"
First off: I can create regular folders
Second: I can not create password files, the UI just blinks and I get back to the password edit-screen
Third: I cannot create folders with custom GPG key IDs. I get the following crash report:

[code]

I haven't connected the phone to a computer for reading the log. Is there an app that can do it or do I need the Android SDK?

[2020-10-13 06:32] msfjarvis commented on #1150
As mentioned in the issue template, bug reports that don't fill the template correctly will be immediately closed.

[2020-10-13 06:32] #1150 closed, assigned to nobody

[2020-10-13 07:08] cyberdo commented on #1150
Good to know. Where can find this template? I found nothing on Play Store, nor here on Github.

[2020-10-13 07:11] msfjarvis commented on #1150
Filing a new issue is supposed to offer you the option. I've gone ahead and backported the fix for it regardless (#1151), and v1.12.1 will be released shortly.

[2020-10-13 07:15] cyberdo commented on #1150
Thank you!

(I see nothing of the kind but I will at least try to imitate another issue better next time)

[2020-10-13 16:06] ashoksinghal commented on #1114
@msfjarvis, Just to confirm, we have to replace the SnackBars with BasicBottomSheet in all parts of the app, right? And basicBottomBar will have the functionality to autoHide in such cases as snackBars do

[2020-10-13 18:33] msfjarvis commented on #1114
We want to make the change at least in places where we require user interaction, such as git command errors and validation errors in server configuration activity. Doesn't have to be every single Snackbar, because like you said we want to be able to automatically hide in some places and the Snackbar just works better for it, for example, the "Running git operation..." one in `GitCommandExecutor`.

[2020-10-14 09:37] ashoksinghal commented on #1114
Thanks for the clarification, will do as you suggested.

[2020-10-14 23:08] benedikt-bartscher opened #1154 "Select Password Dialog"
plz remove

[2020-10-14 23:29] #1154 closed, assigned to nobody

[2020-10-16 08:48] ghost commented on #998
As @computator , I am using a subkey for encryption and decryption. Does it mean I need to use the primary key ID from now on ?

[2020-10-16 11:59] fmeum commented on #998
You always had to use the key ID of the primary key in the sense that OpenKeychain has afaik never supported specifying subkey IDs. But we are now respecting the content of the `.gpg-id` instead of asking you to select the primary key manually.

[2020-10-16 12:17] ghost commented on #998
Oh thanks I understand the whole thing better now.

[2020-10-17 16:40] msfjarvis commented on #1114
Fixed by #1157

[2020-10-17 16:40] #1114 closed, assigned to ashoksinghal

[2020-10-20 12:04] plant7403 commented on #1118
I'm up for git, git is essential, but it's hard to make it work 😑

[2020-10-20 15:47] msfjarvis commented on #1118
Do you have any reason in particular to use Git but not let the app place the repository in its private directory?

[2020-10-21 11:48] Holzhaus commented on #1118
This just applies to people who use *external* git repos on the SD card, right? Git support for repos cloned from within the app remains unaffected? Because the ability to sync my passwords using git is one of the key features for me.

[2020-10-21 14:34] Skrilltrax commented on #1118
Yes, this applies only to the external repos.

[2020-10-22 12:08] Holzhaus opened #1160 "Autofill in DuckDuckGo Browser"
Domain-dependent Autofill in the [DuckDuckGo Android browser](https://github.com/duckduckgo/Android) does not work.

It always detects "DuckDuckGo" as search string, which makes a manual search necessary.

[2020-10-22 12:11] msfjarvis commented on #1160
This is trivial to fix but I just released 1.13.0 :\

[2020-10-22 12:18] msfjarvis commented on #1160
Umm, we already support DuckDuckGo. What Android version are you on?

[2020-10-22 13:00] Holzhaus commented on #1160
![Screenshot_20201022_145721](https://user-images.githubusercontent.com/1834516/96875215-436fdb80-1477-11eb-9332-3c0747e1d14e.jpg)

[2020-10-22 13:01] Holzhaus commented on #1160
Hold on, apparently my F-Droid just found some app updates. I'll try to reproduce with the latest versions and closes this if it's already fixed.

[2020-10-22 13:13] Holzhaus commented on #1160
I can still reproduce it with DDG 5.67.0 sc   (56700) and Password Store 1.11.3.

![Screenshot_20201022_151245.jpg](https://user-images.githubusercontent.com/1834516/96876710-13293c80-1479-11eb-8605-cd6bfa6ce7a3.jpg)

[2020-10-22 13:14] Holzhaus commented on #1160
Maybe the F-Droid version is just outdated?

[2020-10-22 13:21] msfjarvis commented on #1160
Shouldn't matter, DDG support has been there since day one of the feature's introduction. FWIW, Autofill works correctly in DDG on my Samsung device.

[2020-10-22 18:05] Holzhaus commented on #1160
What do I need to do to debug this? I'm not really familiar with development on Android.

[2020-10-22 18:24] fmeum commented on #1160
Just give me the link or APK you installed DuckDuckGo from and I'll take a look.

[2020-10-22 18:54] fmeum commented on #1160
Could you try again with the Play Store version of DuckDuckGo?

@msfjarvis There is a simple explanation: The Play Store and f-droid versions of DuckDuckGo have the same application ID, but different signatures. The one known to Autofill is the Play Store signature. Should we support multiple signatures per app or wait for other real-world examples of this first?

[2020-10-22 21:15] msfjarvis commented on #1160
It's not going to be a very common case since everybody's browsers are now built on Chromium which F-Droid will never manage to build, but it is certainly a case we should try to support if it's doable without complicating things too much.

[2020-10-22 21:58] TinfoilSubmarine opened #1163 "Automatic synchronization on app start is flawed"
When I enable the new automatic synchronization in settings and then re-open the app, the "Syncing..." screen shows seemingly indefinitely.

Is there a bug causing it to never actually synchronize? Probably, but regardless of that, there should be some sort of timeout or ability for the user to cancel the sync. Otherwise, the inability to synchronize blocks the user from entering the app. There ar

[2020-10-22 22:15] TinfoilSubmarine opened #1164 "OpenKeychain SSH Authentication Mode broken"
When using OpenKeychain authentication mode for synchronizing my repository, I get the following error:

![index](https://user-images.githubusercontent.com/19600707/96934686-a5890a80-1490-11eb-8cd8-f8e98a45e738.jpg)
Transcription:
**An error occurred during a Git operation**
LifecycleOwner com.zeapo.pwdstore.git.GitServerConfigActivity@f578da1 is attempting to register while current state is RESUM

[2020-10-23 04:03] msfjarvis commented on #1163
Certainly overlooked cancellation, that's my bad. I guess I'm just gonna revert the feature and ship it with 2.0 after giving it some more thought.

[2020-10-23 04:24] msfjarvis commented on #1164
Hm this is a tough one. The error originates [here](https://github.com/android-password-store/Android-Password-Store/blob/4a9151870d8e5196248b2abc09df8fbb1593c265/app/src/main/java/com/zeapo/pwdstore/git/sshj/OpenKeychainKeyProvider.kt#L63), because we create the key provider right before using it. Unfortunately, this is in violation of the lifecycle expectations mandated by AndroidX which we did

[2020-10-23 04:59] msfjarvis commented on #1160
Turns out this was rather trivial to support this.

[2020-10-23 05:29] #1163 closed, assigned to msfjarvis

[2020-10-23 05:40] #1160 closed, assigned to msfjarvis

[2020-10-23 07:33] fmeum commented on #1164
Whelp, I thought that this possibility of late initialization was a feature of the new API... We may need a subclass of `FragmentActivity` and override `onActivityResult`, as in the good old days. I don't currently see a better encapsulated way of doing this as we do need to pass the continuation into the result handler.

[2020-10-23 07:38] msfjarvis commented on #1164
It was, briefly. Then lifecycle checks were implemented exhaustively. I'm not making much progress at day job stuff so I'll give this a shot now before I head for lunch.

[2020-10-23 07:45] msfjarvis opened #1167 "Enable Kotlin explicit API mode in autofill parser"
Kotlin 1.4 comes with an [explicit API mode](https://kotlinlang.org/docs/reference/whatsnew14.html#explicit-api-mode-for-library-authors) that requires all public API of a Kotlin library to be marked as public manually and to be provided with concrete, user-defined types as opposed to relying on automatic type inference. Our openpgp-ktx﻿ library already utilises this feature, and we should have au

[2020-10-23 08:24] fmeum commented on #1167
Sounds very useful. I'll take care of this, albeit not with the highest priority.

[2020-10-23 09:53] #1164 closed, assigned to msfjarvis

[2020-10-24 06:32] sevmonster commented on #1118
I completely missed that part. Well, it's nice to be able to access things via Termux and other solutions, but then you can always just push inside Termux and pull inside the app... I'm thinking this is an easily-adjusted-to change.

[2020-10-24 09:17] arrase opened #1174 "[BUG] Unable to decrypt passwords"
[code]

[2020-10-24 09:20] msfjarvis commented on #1174
https://github.com/android-password-store/Android-Password-Store/issues/518?

[2020-10-24 09:25] #1174 closed, assigned to nobody

[2020-10-26 15:55] #1103 closed, assigned to msfjarvis

[2020-10-27 00:45] posidonius commented on #1109
I am experiencing the same problem under Android 10 trying to set up from a Nextcloud repository.

First I tried F-Droid v 1.11.3. I also tried Play Store v 1.13.1.

Neither work. In both cases, I am stuck in a loop at the welcome screen where I am asked to set up a local repository.

I have tried giving the app required permissions before opening it, clearing data/cache between apps, and uninstal

[2020-10-27 05:02] msfjarvis commented on #1109
Can you move the repo to your device storage and try again? I'm not entirely convinced SD Card access works below Android 11.

[2020-10-27 05:44] posidonius commented on #1109
Thanks very much for your help! Yes, I did that and it solves the problem (F-Droid v 1.11.3)!

The app is misleading because when choosing local repository, it prompts with 2 options: 1) SD Card; and 2) hidden app folder.

It might be a good idea to change the "SD Card" label to "internal storage" or something like that.

[2020-10-27 06:00] msfjarvis commented on #1109
We will, thanks for confirming.

[2020-10-29 15:26] itsfarseen commented on #736
I was facing this problem in v1.11.3.

I selected SDCard/Syncthing/password-store folder using the folder picker in onboarding screen.
It still showed the onboarding screen after that. So I checked settings.
It showed `/storage/emulated/0/Syncthing/password-store`.
But `/storage/emulated/0` is Internal Storage, not SD Card.

I worked around this by using Shared Preferences Editor to manually edit

[2020-11-01 15:41] XenGi commented on #636
Do I understand that correctly that this should fix the issue of having symlinks in the store and moving this to an android phone and back converts them into files with the symlink target because of missing symlink support in jgit and java6?
because I still have this problem. :(

[2020-11-01 17:09] msfjarvis commented on #636
If it doesn't work then the reason for that could be our raw `File`-based access corrupting it. I'll try to prioritize this over the next few weeks.

[2020-11-02 13:24] fmeum commented on #1167
I added
[code]
to `autofill-parser`'s `build.gradle.kts`, but I'm not getting any build warnings/errors even though `public`s are missing. Do you know whether I need to do something else to enable the feature?

[2020-11-02 13:38] msfjarvis commented on #1167
You'll also need to pass a compiler argument

https://github.com/android-password-store/openpgp-ktx/commit/dec55e549a41998cd33adce4f054287ab201b8ca

[2020-11-02 18:30] 532910 opened #1183 "[BUG] Algorithm negotiation fail"
Just noticed the app id change `com.zeapo.pwdstore` -> `dev.msfjarvis.aps` and trying to configure the latest version from f-droid, bug get `Algorithm negotiation fail` cloning repository from server.

![2020_11_02_080012](https://user-images.githubusercontent.com/14617699/97902055-157b7880-1d4e-11eb-981c-056e514a58c6.png)

In the both case OpenKeychain is used for ssh authentication. URL is `<use

[2020-11-02 18:49] msfjarvis commented on #1183
This has been fixed with #1142 and was rolled out with the v1.12.1 release. F-Droid is slow as usual and we can't do anything about that.

[2020-11-02 18:49] #1183 closed, assigned to nobody

[2020-11-02 18:56] 532910 commented on #1183
Thank you! Could you say, is it will be possible to disable ecdsa with 1.12.1?

[2020-11-02 19:05] msfjarvis commented on #1183
Yes it should be possible to safely disable ECDSA. Try it once you get the current version from F-Droid (v1.13.1 as of this second) and file a separate issue, without removing the template, if you encounter any issues.

[2020-11-03 08:06] #1167 closed, assigned to fmeum, msfjarvis

[2020-11-03 13:01] pratclot commented on #518
The workarounds don't help me on Xiaomi Mi 9 SE.

I have both `Autostart` and `Display pop-up windows while running in the background` for both `OpenKeychain` and `Password Store`.

Split-screen also does nothing.

As many already said, there needs to be a message for the user explaining what is going on. Also, there must be some info in https://github.com/android-password-store/Android-Password-S

[2020-11-03 16:39] msfjarvis commented on #518
The app can't tell what's going on. We can only reliably check if OpenKeychain is missing, which we do and notify the user suitably for.

[2020-11-04 15:17] 532910 commented on #1183
It looks f-droid built will not be soon https://forum.f-droid.org/t/is-password-sore-stalled-again/11550/2
So I installed v2.0.0 snapshot build and can confirm it works fine.

[2020-11-04 15:51] CaptainVonNutbar commented on #998
Doesn't seem like a fix is forthcoming any time soon on the OpenKeychain side.  Can we have the option to override .gpg-id and choose a key manually?

[2020-11-04 16:08] msfjarvis commented on #1183
Awesome to hear it works. F-Droid's very lax about staying up-to-date with build tools unlike us so unfortunately these build issues keep happening. Gradle 6.7 is 3 weeks old at this point though :(

[2020-11-04 16:09] msfjarvis commented on #998
Probably, but it's rather low priority at the moment.

[2020-11-04 16:46] aodhan-domhnaill commented on #1087
Along these lines, I am having a hard time setting up the tooling for development so I can contribute. I have been battling through a variety of errors. Perhaps if we just work through them here, it could later be cleaned up into a SETUP.md or something

My current setup in VS Code on Fedora 32.

Get the code and check SDK version,
[code]

Find most recent commandline tools link https://developer.

[2020-11-04 16:54] msfjarvis commented on #1087
If you're running out of memory then you're going to need to provide some more. Create `~/.gradle/gradle.properties` and add this to it:

[code]

Ideally you want a computer with at least 8 gigabytes of system memory for Gradle, and 16 or more if you are planning to use Android Studio as an IDE.

[2020-11-04 17:10] 532910 opened #1186 "[BUG] Autofill broken below Android 11 due to missing InlinePresentationSpec"
[code]

version 2.0.0-SNAPSHOT Free flavor

[2020-11-04 17:18] 532910 commented on #1186
1.13.1 works fine

[2020-11-04 17:20] msfjarvis commented on #1186
Yep, the regression is from the new inline presentation changes from #1181. It enables [this](https://twitter.com/msfjarvis/status/1323677694815399936) to happen on Android 11, but the new APIs are missing on Android 10 and below so you see the crashes. I'm working on it right now.

[2020-11-04 17:29] 532910 commented on #636
symlinks still doesn't work, v1.13.1 and v2.0.0

[code]

[2020-11-04 17:33] msfjarvis commented on #636
Yep, there's still a few potential sources for corruption. I'll take a look eventually.

[2020-11-04 17:41] fmeum commented on #1186
Maybe I'm naive, but I expected errors like this to be caught by the IDE. @msfjarvis Do you know what kind of usage of the new API is permitted outside API level checks? Function arguments with the type `InlinePresentationSpec` seemed fine, but maybe aren't...

[2020-11-04 17:43] 532910 commented on #636
Files that should be symlinks are still plaintext files with symlink target as a content.

[2020-11-04 17:48] msfjarvis commented on #1186
I'd chalk it down to a Lint bug. I'll talk to someone from the Jetpack team and see if this can be fixed.

The answer appears to be _none_. What I've done is moved all `imeSpec`-taking methods into a `Api30AutofillResponseBuilder` class and restored the previous versions in `AutofillResponseBuilder`, selectively calling these classes based on an API level check in `OreoAutofillService`. It's an in

[2020-11-04 20:20] #1186 closed, assigned to msfjarvis

[2020-11-04 20:21] msfjarvis commented on #1186
Snapshot will be up shortly, thanks for the report!

[2020-11-04 22:03] aodhan-domhnaill commented on #1087
Thanks. I've gotten to this next error with less memory before, but more memory seems faster

[code]

[2020-11-05 00:58] aodhan-domhnaill commented on #1087
Got it to build. Minor changes that probably don't need to be checked in. Linting seems to be a problem with Android SDK version

[code]

[2020-11-05 03:04] msfjarvis commented on #1087
Lint seems to be wrong here, [this](https://github.com/android-password-store/Android-Password-Store/blob/354687e3a60f348af75c1a2f901270264d7e0313/app/src/main/java/com/zeapo/pwdstore/autofill/oreo/AutofillResponseBuilder.kt#L30) should have told it that we're only going to use this code on API 26 and above. I'll take a look.

[2020-11-05 06:21] msfjarvis commented on #1087
What Gradle command did you use to trigger this? I can't reproduce it with either `gradle check` or `gradle assemble` on the develop branch.

[2020-11-05 06:40] msfjarvis opened #1188 "Provide a user-configurable denylist for Autofill"
**Is your feature request related to a problem? Please describe.**
We currently have a [very small list](https://github.com/android-password-store/Android-Password-Store/blob/354687e3a60f348af75c1a2f901270264d7e0313/app/src/main/java/com/zeapo/pwdstore/autofill/oreo/OreoAutofillService.kt#L41-L50) of packages that are never autofilled into. This is hard-coded and not particularly useful as-is.

**

[2020-11-05 06:45] aodhan-domhnaill commented on #1087
`gradle build`

[2020-11-05 06:58] msfjarvis commented on #1087
I can't reproduce with that either, both on `develop` or `release`. Pretty odd :/

[2020-11-05 14:22] 532910 commented on #1186
I confirm this is fixed in the current snapshot.

[2020-11-05 14:49] zanona commented on #482
I'm not sure if this is related as this is related to the git repository authentication, but, by having my primary key + authentication subkey A on a smartcard and then, another authentication subkey B _(generated by the same primary key)_, stored on my device, causes an issue where only subkey A is attempted while subkey B never gets  tried. Unless I subkey A is removed.
It probably has to do wit

[2020-11-05 14:52] msfjarvis commented on #482
Being tracked at #998 alongside other key handling semantics where GnuPG and OpenKeychain differ from each other.

[2020-11-05 15:34] zanona commented on #482
Sorry, @msfjarvis, I realised I forgot to mention this is about the git repository authentication using openkeychain, rather than the encryption process itself? The issue mentioned seemed to be linked to issues around `.gpg-id` instead?
Perhaps this would be a better fit under a different issue?

[2020-11-05 15:39] msfjarvis commented on #482
Yeah please file a separate issue.

[2020-11-05 15:57] zanona opened #1189 "[BUG] git authentication with secondary openkeychain key is never tried"
**Describe the bug** _(Following up https://github.com/android-password-store/Android-Password-Store/issues/482#issuecomment-722425697)_

By having my primary key + authentication **subkey A** on a smart card and another authentication **subkey B** _(generated by the same primary key)_, stored on my device, causes an issue where only **subkey A** is attempted while **subkey B** never gets tried. U

[2020-11-05 17:53] aodhan-domhnaill commented on #1087
Maybe my gradle version or SDK versions?

[code]

[2020-11-05 18:19] msfjarvis commented on #1087
Your Gradle version is what the app uses in CI, so that's not it either. I have a couple questions for the Android Jetpack team either way, will bundle this in as well.

[2020-11-05 18:43] 532910 opened #1190 "[BUG] Extra content drops all username fields"
While pass terminal output is:

[code]

Android-Password-Store doesn't show the id.

[2020-11-05 18:48] 532910 opened #1191 "[FEATURE] parse extra content fields"
Pass doesn't define any format, except the first line is password. Also there are some de-facto common used  `user: `, `username: ` and `otpauth://`.

I have a lot of `email: ` or other colon delimited fields.
The suggestion is to parse all lines and show the text before the first colon as title and last part as a body.

[2020-11-05 18:58] 532910 commented on #444
I still believe this issue is actual and hope Harsh will agree with my position: the current path should be shown the only once on the top. In addition this will make all records the same heights, as now it depends on path.

[2020-11-05 19:08] msfjarvis commented on #444
The reason that we still have the path is because the the top bar can fit much lesser characters than the actual entry can, so we put the current directory at the top and the full directory path into each entry. Both serve their purpose, and will stay as-is for now.

[2020-11-05 19:54] 532910 commented on #444
what limits it?

take a look at [MaterialFiles](https://github.com/zhanghai/MaterialFiles) for example

![Screenshot_20201105-225423_Material_Files](https://user-images.githubusercontent.com/14617699/98289874-dfdac780-1fb9-11eb-9298-0064ef5821fb.png)

[2020-11-05 20:07] msfjarvis commented on #444
What you're looking at is a separate widget. The part I'm talking about is what reads 'Files' on your screen. There are many ways to do what you're asking for, but it is simply not a high enough priority right now.

[2020-11-05 21:07] 532910 commented on #444
I don't say it must be fixed ASAP. Let's start by acknowledging the problem and issue reopening.

[2020-11-05 21:12] msfjarvis commented on #444
I will file a separate design updates RFC over the weekend which will include some thoughts on this.

[2020-11-05 21:28] 532910 commented on #444
OK! This way I have another design problesm: horizontal lines are too obtrusive. They should be barely noticeable, but better to completely hide them. See the same MaterialFiles, dialer or any other material app for example.

[2020-11-06 05:20] #1190 closed, assigned to msfjarvis

[2020-11-06 08:28] fmeum commented on #1189
I think that OpenKeychain only allows us to specify a primary key via its crypto operation API. Therefore, the choice of the subkey is entirely up to OpenKeychain. @msfjarvis Should we label this as blocked?

[2020-11-06 08:33] msfjarvis commented on #1189
Yeah if we can't select the subkey on our end then it's effectively blocked. @zanona can you file a parallel issue for this over at https://github.com/open-keychain/open-keychain please?

[2020-11-06 14:36] mattwoodbury opened #1193 "[FEATURE] Compatibility with new gopass file format"
[gopass](https://github.com/gopasspw/gopass) has changed its default password file format.  See https://github.com/gopasspw/gopass/blob/master/docs/features.md#mime-secrets.  The new format is this:
[code]
`gopass` reads files in `pass` format, but new passwords created with `gopass` will now have this format. As a result, on `password-store` the password is read as "GOPASS-SECRET-1.0".  It would

[2020-11-06 15:34] msfjarvis commented on #1193
This was requested in #1055 and implemented in #1170, please search through the issues like the template tells you to.

[2020-11-06 15:34] #1193 closed, assigned to msfjarvis

[2020-11-06 16:22] mattwoodbury commented on #1193
Sorry. I did try to search, but I must have done it incorrectly. 

I didn't realize that there was a new version of the app on Android that required a separate install.

-------------------------

Matthew J. Woodbury

mailto:matt@wdbry.com

---- On Fri, 06 Nov 2020 10:34:31 -0500 Harsh Shandilya <notifications@github.com> wrote ----

This was requested in https://github.com/android-password-store/

[2020-11-06 17:50] jonathanclark commented on #518
Thank you so much - this is what works for me since I 'upgraded' to Android 9.

[2020-11-07 15:20] msfjarvis opened #1195 "[RFC] Stop depending on OpenKeychain"
# Summary

Remove OpenKeychain as the PGP solution of choice and use ProtonMail's [gopenpgp](https://github.com/ProtonMail/gopenpgp) as a native library to implement PGP operations via JNI. This allows us to be essentially self-hosted, simplifying some extremely annoying shenanigens we have to pull off to satisfy OpenKeychain's activity results based API.

# Motivation

Despite what their maintain

[2020-11-07 16:20] fmeum commented on #1195
The OpenKeychain developers are thinking of making the app a library, which would help with some of the issue we are experiencing.

We should also keep in mind that a great feature of OpenKeychain is the support for NFC tokens. In fact, this is the primary reason for my usage of APS and pass on general. While this could possibly be implemented along the Go backend, it would add work.

[2020-11-07 17:07] msfjarvis commented on #1195
Valodim from OpenKeychain messaged me expressing his intent around that idea in January of this year, and has been on radio silence since. I'm not very optimistic of their timeline.

I find the effort to outcome tradeoff worthwhile even with the addition of NFC token support.

I'm not starting work immediately, so if you can convince me that OpenKeychain has a concrete plan other than "We wanna do

[2020-11-08 22:18] 532910 opened #1196 "[BUG] hidden files support"
Please add support for hidden (with dot at the beginning) files and folders.

Right now there are only two options: do not have any access (including search or autofill) to such files, or have full access, including showing them and other special ones (like `.git`). I'd be happy to be able to search and autofill them, but don't show in the list, as right now by defualt.

[2020-11-09 18:22] fmeum commented on #1195
I'll see whether I can get an update on the OpenKeychain library timeline.

If it comes to it, I might be able to contribute NFC support as I have worked with the OpenPGP applet before.

[2020-11-11 11:50] zanona commented on #1189
@msfjarvis done! Although, I'd be also leaning towards #1195.

[2020-11-11 22:54] 532910 opened #1197 "[BUG] Current weightage of search results differs from expectations"
**Describe the bug**
exact search result must be the first

**To Reproduce**
1. Search something
2. See results

**Expected behavior**
Exact search result must be the first

**Screenshots**
N/A

**Device information (please complete the following information):**
 - Device: OP3T
 - OS: Lineageos 17.1
 - App version: 1.13.1

**Additional context**

I have the *only one* record that contains the `rai

[2020-11-11 23:00] 532910 opened #1198 "[FEATURE] show only exact search results"
Please add a control to show only exact search results, so that the app could behave the same as `pass find` does.

[2020-11-12 00:26] 532910 opened #1199 "[FEATURE] a control for disable pull to synchronize"
Every occasional swipe down breaks my repository and I need to revert it.

Please disable push by swipe down, untill #636 is fixed.

similar issue #387

[2020-11-12 04:36] msfjarvis commented on #636
Since this is still a bug, might as well.

[2020-11-12 04:40] msfjarvis commented on #1199
I'm definitely not going to do that. Most users _do not_ use symlinks, so this does not affect them. The simpler solution here is for you to switch to an SSH key generated in-app for authentication, and to protect it with your screen lock. This way every time you manage to scroll too far, you'll be prompted to use your Fingerprint/Face/Iris scanner/PIN/Password/Pattern to unlock the key, which you

[2020-11-12 04:40] #1199 closed, assigned to nobody

[2020-11-12 04:45] msfjarvis commented on #1198
If you hadn't gotten bored of filling the issue template by doing it just once I could have just used this issue to track adding a non-fuzzy search algorithm.

[2020-11-12 04:45] #1198 closed, assigned to msfjarvis

[2020-11-12 06:43] fmeum commented on #636
I just started debugging the issue and turned up very confused: I expected the issue to be that we don't set our custom `FS` during the clone operation, given that the `CloneCommand` setup does not involve `repository`. However, even with a statically set `FS` with symlink support, symlinks are not created. In fact, for a symlink, `DirCacheEntry.getFileMode()` returns the "regular file" type. If I

[2020-11-12 07:05] msfjarvis commented on #636
Well that does throw a spanner in the works. Upgrading JGit could help, and desugaring is now available on stable AGP so we can give that a shot and see how far we can get without breaking API 23. Or we can just commit, go minSdk 26, and forget about the 115 Play Store users that would alienate. If people are surviving on APS 1.3.3 still (I got another "I recently tried switching from the legacy a

[2020-11-12 07:19] fmeum commented on #636
Switching to a higher minSdk for 2.0 would probably make sense. Most of our recent feature additions are only applicable to Oreo and up anyway and we are even dropping accessibility support.

[2020-11-12 07:20] msfjarvis commented on #636
I'll try and upgrade JGit over the weekend then.

[2020-11-12 08:02] 532910 commented on #1199
Why should those who use them suffer?
Please don't tell people how they should use their passwordstore. It allows to create symlinks and swipe down completele breaks them.

I'm using the same key in OpenKeychain for encryption and ssh authentication and am not going to change this.

And I'm already prompted to unlock this key, but only once it locked.

[2020-11-12 08:11] msfjarvis commented on #1199
They don't need to suffer, they just need to learn how to scroll. I'm not going to cripple functionality to workaround a bug in a manner that doesn't even solve it.

The app doesn't allow you to create symlinks.

[2020-11-12 08:16] 532910 opened #1200 "[FEATURE] show only exact search results"
**Is your feature request related to a problem? Please describe.**
Not related to any problem, just a feature request.

**Describe the solution you'd like**
A control to show only exact search results, so that the app could behave the same as `pass find` does.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2020-11-12 08:22] msfjarvis commented on #1200
~~Closing as duplicate of #1197~~

[2020-11-12 08:25] 532910 commented on #1197
1. This is not a feature request, this is a bug.
2. "non-fuzzy search algorithm" is not that I'm asking for.

I'm not against the fuzzy search, but exact results must be sorted first.

[2020-11-12 08:28] fmeum commented on #1197
It may be easier to just drop our custom fuzzy search implementation and roll with https://github.com/xdrop/fuzzywuzzy

[2020-11-12 08:29] msfjarvis commented on #1197
Yeah I wanted to try that for a while, have had positive experiences with it in the past. I'll take a stab at this tonight or over the weekend.

[2020-11-12 08:37] 532910 commented on #1200
This is not a duplicate, this is a feature request for the control to disable fuzzy search.

[2020-11-12 08:47] 532910 commented on #1199
Not out of the box, the same as OTP.

https://github.com/bhhaskin/pass-symlink

Moreover there were several bugs fixed to support symlinks well:

google( site:lists.zx2c4.com/pipermail/password-store symlink )

[2020-11-12 08:52] msfjarvis commented on #1199
When I say 'app', I mean Android Password Store, not the pass CLI. I am very interested in fixing this bug, we do have a clear plan around it, but I am not willing to add completely unrelated workarounds that don't do anything towards fixing the actual problem.

[2020-11-13 16:28] ghost opened #1201 "[BUG] App skips 'Documents' folder when selecting local repo"
**Describe the bug**
When selecting external repo in local folder like Documents/{anything}, app skips 'Documents' and shows repo path as /storage/emulated/0/{anything}, and hence repo is shown as empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to setting
2. Click on 'select external repo'
3. Navigate to Documents/{anything} that has copy of pass files
4. Click 'Allow access'
5. See

[2020-11-13 20:37] Skrilltrax commented on #1201
Hey, I checked creating a new external repo inside the Documents folder. It's showing the correct path for me in the settings screen. Can you try a debug build and send some logs?

[2020-11-14 00:18] TitouanT commented on #518
Thank you all, I just ran into this issue too and the background authorization was the fix. I think that there should me mention of it in the wiki.
As for detecting it, there is a very quick animation of the activity appearing and disappearing. Maybe that could be detected.
At some point I also had the case where the app couldn't communicate with `openkeychain` and was just telling me that my pass

[2020-11-14 19:06] 532910 opened #1204 "[BUG] App shortcuts stop updating after some time"
**Describe the bug**

Shortcuts are unactual and always the same are shown.

**To Reproduce**

1. Long tap the app icon to see shortcuts

**Expected behavior**

Actual (latest used) records should be shown

**Screenshots**
N/A

**Device information (please complete the following information):**
 - Device: OP3T
 - OS: LineageOS 17.1 on Android 10
 - App version: 1.13.1

**Additional context**
N/A

[2020-11-14 19:12] 532910 opened #1205 "[FEATURE] create shortcut for some selected record"
**Is your feature request related to a problem? Please describe.**

Please add a way to create shortcut for a some selected record

**Describe the solution you'd like**

Place to the desktop button should be shown by long tap the record and inside the record.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-15 07:38] 532910 commented on #1199
On the one hand, I'm completely agree and understand that you don't want to waste energy on workarounds to fix another bug.

On the other, how about just adding a control to disable pull down, it doesn't take long, does it? For example fenix has it:
![Screenshot_20201115-103424_Firefox_Nightly](https://user-images.githubusercontent.com/14617699/99179376-2a80e000-272e-11eb-9e01-b7ad05325bc5.png)

[2020-11-15 10:54] 532910 opened #1209 "[BUG] password is requested for key auth only server"
**Describe the bug**
Password is requested for key auth only server

**To Reproduce**
0. Disable password auth on the server
[code]
1. Request git synchronization (Synchronize, Pull or Push)
2. Choose `Cancel` for OpenKeychain request
3. Password is requested

**Expected behavior**
Nothing should happen.

**Screenshots**
![Screenshot_20201115-135118_Password_Store](https://user-images.githubuserco

[2020-11-15 11:23] fmeum commented on #1209
This has been deliberate so far. Our ssh library can't tell which authentication methods the server offers and by always providing the user the option to enter a password, we can deal with servers requesting a key first and then a password.

[2020-11-15 11:46] 532910 commented on #1209
Actually I see two bugs here. The password is requested regardless of:
1. server settings
2. openkeychain auth mode configured in git settings

[2020-11-15 11:49] msfjarvis commented on #1209
You're ignoring what we're saying. The password is always requested upon failure of primary authentication because our SSH backend cannot tell what authentication methods are advertised by the server, so password is treated as a fallback.

[2020-11-15 11:51] msfjarvis commented on #1209
This is blocked on SSHJ gaining the ability to parse authentication modes and we can't do anything about it on our end short of sending a pull request. Personally I don't see this as important enough to do that, so I'm closing it until SSHJ can handle this.

[2020-11-15 11:51] #1209 closed, assigned to fmeum

[2020-11-15 11:58] 532910 commented on #1209
I'm not ignoring. SSH backend doesn't know advertised methods. OK. But I configured openkeychain and expect this is the only method that will be used. And I refuse to understand why it fallbacks to password!

[2020-11-15 11:59] msfjarvis commented on #1209
Because servers have fallbacks.

[2020-11-15 15:31] fmeum commented on #926
We got Issue 1 fixed as of Chrome 89.0.4326.0. It shadowed another issue, but this one should only happen infrequently. I will investigate a bit more and see whether we can do something about it.

@msfjarvis We've got all the time we need, but could you also confirm that Autofill works better on your end and that all failures are accompanied by log entries as indicated in Issue 3?

[2020-11-15 15:50] msfjarvis commented on #926
I haven't been on Chrome Canary since the brief phase where it just crashed all the time. I just switched back, so it'll take a bit to confirm this. I'll report back as soon as I notice failures.

[2020-11-18 14:31] ctag opened #1211 "[BUG] Password looks like comment to app and is ignored"
**Describe the bug**

Hi,

I started using pass from the shell on my desktop, and then migrated to git and cloned to this app on my phone. Recently I noticed that a password which was auto generated from the shell program happens to begin with a '#' and is ignored, with the app using the next line (which had an old, unused password) instead. In my experience this is not the same behavior as the sh

[2020-11-18 14:37] msfjarvis commented on #1211
I can't reproduce this on the latest snapshot, nor have we ever had any functionality around comments. Creating a test password from my PC with the first line as `#password` correctly works on my phone.

[2020-11-18 14:54] ctag commented on #1211
Thank you msfjarvis.

I made assumptions about the bug and was incorrect. What is actually happening is an old password further down in the file was imported from KeePass originally and the line reads `Password: origpass` which is then selected instead of the 1st line and used by the app.

The redacted file looks like this:
[code]
So I didn't notice it was going down to the second instance of the

[2020-11-18 15:00] msfjarvis commented on #1211
The behavior difference is intentional and will stay that way for now. The password search algorithm is a bit more involved than "first line is a password" due to different usecases that have been reported over the years, and the current system works as designed. The fix would be to drop the `Password:` prefixed field on your end.

[2020-11-18 15:00] #1211 closed, assigned to msfjarvis

[2020-11-20 18:09] dm17 commented on #277
Do you guys do 1 git repo per password sharing group/org?
For organizations that update and then share passwords, I'm wondering what the best process is - especially considering the manual nature of git syncing. A CI/CD-like system for each password repository in git seems like overkill, for example. But every time a password is updated, then one should certainly 'git push'. A local script could a

[2020-11-21 15:32] 532910 opened #1215 "[BUG] password screen is shown after phone unlock"
**Describe the bug**
A password screen is shown after phone unlock.

**To Reproduce**
1. Open some password
2. Lock the phone
3. Unlock the phone

**Expected behavior**
A password screen should be closed on phone lock.

**Screenshots**

**Device information (please complete the following information):**
 - OS: Lineage 17.1
 - App version: 1.13.1

**Additional context**

Though this looks like a fe

[2020-11-21 18:36] msfjarvis commented on #1215
The activity will now finish itself after 60 seconds, I will not be making it configurable or complicate it with an additional screen lock listener.

[2020-11-22 06:17] #1215 closed, assigned to nobody

[2020-11-22 06:47] fmeum commented on #926
I have added some more information to this issue. I'm hopeful that we'll get actual password save support with Chrome 89.

[2020-11-22 07:27] fmeum commented on #1197
I have started a pull request with test cases for our fuzzy search at #1217. @532910 It would be great if you could offer some concrete examples of unexpected search results. I would then try to find a valuation function that fits our requirements.

[2020-11-22 07:40] msfjarvis commented on #1197
@532910 is OP's username, you pinged the wrong Sergio :P

[2020-11-22 07:47] fmeum commented on #1197
This is what browserpass uses: https://github.com/farzher/fuzzysort/blob/master/fuzzysort.js
The results are great, but this looks very hacky and difficult to port. Look at line 590 if you don't believe me.

[2020-11-22 08:00] msfjarvis commented on #1197
I now feel slightly less confident in my daily usage of browserpass. Someone reverse engineered the algorithm in detail a while ago and received feedback from the author of Sublime Text as well. So if you're looking for a weekend project, go crazy: https://www.forrestthewoods.com/blog/reverse_engineering_sublime_texts_fuzzy_match/

[2020-11-22 20:32] posix4e opened #1218 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to be able to to re-rencrypt everything with whatever .gpg-id file is in the repo. Bonus points if I can update the .gpg-id with a drop down for the public keys I have

**Describe the solution you'd like**
1) User goes to setti

[2020-11-22 21:08] msfjarvis commented on #1218
This will be ungodly levels of slow when implemented in the app due to the nature of how we need to interact with OpenKeychain.

Also, please take care when filling in an issue template, you're entirely missing the title.

[2020-11-22 21:08] #1218 closed, assigned to msfjarvis

[2020-11-23 16:49] ghost opened #1219 "[BUG]Autofill doesn't work on Oreo on Instagram"
**Describe the bug**
Autofill doesn't work on Instagram, Discord and others

**To Reproduce**
Steps to reproduce the behavior:
1. Install and open Instagram
2. Click on login
3. Click on the username field
4. A password autofill suggestion is seen for instagram, along with a search autofill
5. On choosing either of them, first the password has to been entered which works as expected, but after ent

[2020-11-23 17:15] msfjarvis commented on #1219
I'd like an exact list of apps if you can provide one. I'm aware that Instagram is broken because of a problem with their app, and I can confirm Discord does work on Android 10 and 11, so maybe we need to see if something changed between Android versions.

[2020-11-24 03:17] BobSpams commented on #1219
Sure, here it is

Sent from my Galaxy Tab A

-------- Original message --------
From: Harsh Shandilya <notifications@github.com>
Date: 11/23/20 10:45 PM (GMT+05:30)
To: android-password-store/Android-Password-Store <Android-Password-Store@noreply.github.com>
Cc: BobSpams <greatscams@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [android-password-store/Android-Password-Store] [BUG]A

[2020-11-24 03:19] ghost commented on #1219
Sure, here it is:
![20201124_084208](https://user-images.githubusercontent.com/73415110/100042696-0447f800-2e32-11eb-834b-b60f970bc85c.jpg)
![20201124_084226](https://user-images.githubusercontent.com/73415110/100042697-04e08e80-2e32-11eb-876c-a5c1769d851f.jpg)
![20201124_084255](https://user-images.githubusercontent.com/73415110/100042698-05792500-2e32-11eb-8286-7db894b9284d.jpg)
![20201124_08431

[2020-11-24 04:58] msfjarvis commented on #1219
This appears to be a list of _all_ your apps, I only want to know which ones are broken with Autofill.

OTP fields _are_ autofilled in apps, and Password Store will let you include a TOTP secret into any password file by scanning a QR code which to my knowledge is one thing that every website supporting two factor authentication does use. I do not plan to change that in any way for now.

Firefox w

[2020-11-24 06:52] ghost commented on #1219
Firefox is the only one that doesn't work.
I am using Firefox v83.1

On 20/11/23 10:39PM, Harsh Shandilya wrote:

[2020-11-24 07:18] msfjarvis commented on #1219
That's odd, we support basically every Firefox variant I can think of. Can you check if the package name for your variant is present in this list below, and share yours if it's not?

[code]

[2020-11-24 07:34] ghost commented on #1219
org.mozilla.firefox
Sorry to disturb you, and thanks for the reply
I think it might have something to do either specifically with my device
or Android Oreo. I might try it on a another rom

On 20/11/23 11:18PM, Harsh Shandilya wrote:

[2020-11-24 07:36] fmeum commented on #1219
Oreo doesn't support Autofill in legacy browsers. You might want to try Firefox Focus or Fenix instead.

[2020-11-24 11:56] ghost commented on #1219
Can confirm it is reporducable in org.mozilla.firefox, but not on org.mozilla.focus

[2020-11-24 12:56] msfjarvis commented on #1219
Alright then guess this is one for the docs.

[2020-11-24 12:56] #1219 closed, assigned to fmeum

[2020-11-25 08:13] msfjarvis commented on #1197
Hey @532910 can you please answer Fabian's question so he can get started?

[2020-11-27 09:06] msfjarvis commented on #1201
Closing as stale since OP has not responded.

[2020-11-27 09:06] #1201 closed, assigned to nobody

[2020-11-28 00:58] emanrdesu opened #1221 "Authentication is required but no CredentialsProvider has been registered."
I keep getting this message when I try to clone a repository.
This repository is private.
I tried to use my private key, and also a generated key (I addded it to deploy keys section) but still the same message.
I don't know what to do.
I really want to use this software.

[2020-11-28 03:48] msfjarvis commented on #1221
Your issue fails to follow our template and thus makes it impossible for us to help. Please open a new issue with all the requested details.

[2020-11-28 03:48] #1221 closed, assigned to nobody

[2020-11-28 21:52] githlp opened #1222 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
Create new entry and when click on save the error message appears:

One key-id in .gpg-id is too short, please either use long key-ids (16 chars) or fingerprint (40 chars)

What am i now supposed to do with my gnupg sub-key ? Can i correct this somehow ?

The linux passwordstore application worked out fine but this was probably usi

[2020-11-28 22:55] msfjarvis commented on #1222
Duplicate of https://github.com/android-password-store/Android-Password-Store/issues/998, follow the guidance there.

[2020-11-28 22:56] #1222 closed, assigned to nobody

[2020-11-29 07:11] githlp commented on #1222
Thanks a lot for quick directing to the solution.

Changing the keyid-format from short to long in .gpg-id worked out fine!

[2020-11-30 02:46] 532910 opened #1224 "[BUG] An unclearable notification should be thrown for git operations"
**Describe the bug**
A clear and concise description of what the bug is.
An unclearable notification should be thrown while running git operations.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone remote repo
2. Close the app before cloning will done
3. Open app again
4. Pull from remote
5. See error
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beh

[2020-11-30 05:51] 532910 commented on #1197
All search results are expected, but exact must be the first. For example: if you have records:
1. abco
2. abcp
3. abcq
4. abtr

and the search query is `abt` the result must be:
1. abtr
2. anything else

while not the result is:
1. abco
2. abcp
3. abcq
4. abtr

[2020-12-01 17:27] 532910 opened #1227 "Notification timer should count down from clipboard clear timeout"
**Describe the bug**
Timout is counted up on notification.

**To Reproduce**
1. Copy password

**Expected behavior**
Count down timer on notification.

**Screenshots**
![Screenshot_20201201-201846_Trebuchet](https://user-images.githubusercontent.com/14617699/100774536-3c8f9d80-3413-11eb-8b6d-c3c4588599d0.png)

**Device information (please complete the following information):**
 - App version: 1.13

[2020-12-01 17:36] msfjarvis commented on #1227
When you file issues please remove the instructional boilerplate so we can actually see what you've added.

[2020-12-01 18:27] fmeum commented on #926
The Autofill fill UI is working completely reliably for me on Chrome 89.0.4342.0, which is the current Canary release.

Save support for passwords is currently in privacy review and will likely be merged soon.

[2020-12-01 18:29] 532910 commented on #1227
It's too hard to remove them on mobile. They should be commented out.

[2020-12-01 18:52] msfjarvis commented on #1227
It's not and they won't be.

[2020-12-01 18:56] msfjarvis commented on #1227
I just edited it on my phone with zero problems. If you want to do nothing more than the bare minimum then I will have no other option than to block you from further participation with the APS repository. We don't expect a lot of our users, but I feel we do enough to earn the basic courtesy of having users properly fill a pre-made template.

[2020-12-02 03:41] #1227 closed, assigned to Skrilltrax

[2020-12-02 12:16] daraul commented on #1195
I like the removal of the dependency, makes setting up this application much simpler.

[2020-12-02 18:55] 532910 commented on #1209
servers doen't fallback, it has two user keys and tries them all

This could be called fallback, it doesn't matter, but this is not a reason to ask a password.

[2020-12-02 19:02] msfjarvis commented on #1209
I can't deal with your arrogance and ignorance anymore. You are no longer welcome, and are blocked from further interaction with the project.

[2020-12-03 19:06] githlp commented on #162
bump.
I had the same exception with the F-Droid v1.13.1

Internal exeception occured
HEAD is detached

No idea how i came to the detached head within the application, the other two (computer) clients had no problem syncing.
I was not able to solve it (even with Hard reset) and therefor finally removed the local repo so i could clone again from remote.

[2020-12-03 19:08] msfjarvis commented on #162
Please don't bump old issues, file new ones (properly following the template) if you come across regressions.

[2020-12-03 19:21] githlp opened #1231 "Option to solve detached HEAD git sync exception"
**Is your feature request related to a problem? Please describe.**
I had the following exception with the F-Droid v1.13.1:

Internal exeception occured
HEAD is detached

No idea how i came to the detached head within the application, the other two (computer) clients had no problem syncing.

**Describe the solution you'd like**
Option or possibility to check what happened before that led to detach

[2020-12-03 19:24] msfjarvis commented on #1231
If you're ever on a detached HEAD state then the 'Abort rebase and push new branch' button should become available in the 'Local Git config & utilities' settings menu which will let you push your detached state as a new branch that you can use to resolve the rebase error which caused this in the first place. Do you not get that option on your device?

[2020-12-03 20:51] githlp commented on #1231
Yes, i used that and checked out to conflicting-master-1607....
but
1. how do you then further examine the problem that the HEADs pointer lost the corresponding branch ?
2. how do you examine the problem when you have only your mobile (at home i usually do not pull/push on mobile, since i work on computer/laptop)

Thanks in advance, besides this problem the app is really great!

[2020-12-04 05:40] msfjarvis commented on #1231
It's caused by a rebase failure when the commit history of the repository diverges from what is available on the remote.

You cannot, since it requires an interactive Git tool that APS is not. Your best bet is to install [Termux](https://play.google.com/store/apps/details?id=com.termux), clone your repository inside it (use `pkg update && pkg install git` to install git) and then resolve the failu

[2020-12-04 09:24] xundeenergie opened #1232 "[BUG] Change Hostkey external git repo, could not be verified"
**Describe the bug**
I have an own server, hosting my external git-repo for password-store. The ssh-hostkey has changed, and now my andoid app says "Could not verify ssh-rsa-cert-v01@openssh.com host key with fingerpring...."
I'm not able to say ok to the new hostkey (i know, it changed, because I made the new key)

**To Reproduce**
Steps to reproduce the behavior:
1. Change ssh Hostkey on remote

[2020-12-04 10:40] fmeum commented on #1232
You can simply change the Git server settings and hit save (and then change them back). That will clear the pinned host key.

@msfjarvis We might want to leave this open and implement a dialog as described by the reporter.

[2020-12-04 10:41] msfjarvis commented on #1232
Yeah this should have been a dialog all along. I'll look into it.

[2020-12-04 17:58] githlp commented on #1231
Thanks, i will try that.

I appreciate your work and will support APS soon.

[2020-12-04 17:58] #1231 closed, assigned to msfjarvis

[2020-12-07 06:31] haansn08 commented on #1014
This problem is reappearing in version 1.13.1. Empty "[Android Password Store] Sync" commits are being pushed to remote every time the "Synchronize repository" button is pressed. Could this issue be reopened?

[2020-12-07 07:00] msfjarvis opened #1238 "[BUG] Synchronize repository generates empty commits"
We previously fixed this so it appears we've somehow regressed.

[2020-12-07 07:01] msfjarvis commented on #1014
Filed #1238 separately to track this as a regression.

[2020-12-07 07:01] #1014 closed, assigned to msfjarvis

[2020-12-07 08:38] tomasi-o commented on #955
I am using Password Store 1.13. Upon trying to create a new password entry I am getting the error message
`Failed to locate .gpg-id, is your store set up correctly?` So I am guessing this belongs to this issue. I can output my full key ID via `gpg --list-keys`, but where do I put it?
Curiously I am able to create password entries inside a newly made folder, but not in an old one or in the root of

[2020-12-07 08:42] msfjarvis commented on #955
On a computer, create `.gpg-id` in the root of the store and add your long key ID as the file's contents.

[2020-12-07 11:39] tomasi-o commented on #955
How can I create sth. in the root of the store on a computer? Is the store not some folder on my android phone? Sorry, I am rather new to this.

[2020-12-07 11:58] msfjarvis commented on #955
If you're only using the app then I'm not really sure how you managed to reach this state. Please join the Gitter chatroom to avoid spamming this issue since your problem is unrelated to this: https://gitter.im/android-password-store/public

[2020-12-07 14:24] tomasi-o commented on #955
ok, done - thx for your quick response.

[2020-12-08 20:41] msfjarvis commented on #1238
I can't seem to reproduce it on my devices, @haansn08 can you try the [snapshot builds](https://android-password-store.github.io/docs/users/release-channels) and confirm that it's still broken for you?

[2020-12-09 02:47] haansn08 commented on #1238
I can reproduce it with `aps-free_2.0.0-SNAPSHOT.apk` and a fresh clone of the repo.

[2020-12-09 07:25] msfjarvis commented on #1238
I have been unable to repro with GitHub, Bitbucket, and a locally hosted repository on my computer; so now I'm extremely tilted. Any extra information you think might be useful? Git host, authentication mode and such. I'd also be grateful if you can record a log of you running the synchronize operation so I can look for any specific pointers there.

[2020-12-09 10:35] haansn08 commented on #1238
The repository is hosted on a private GitLab instance. Authentication is ssh ed25519 public key.
I see there is a "Enable debug logging" option in the settings, but I don't know how to find or access the log files.

[2020-12-09 12:08] msfjarvis commented on #1238
Thanks for the info. The log is generated in the form of files, but instead written into the device's `logcat` stream. If you don't have prior experience with it then it's fine, I'll try to debug it on my end.

[2020-12-09 18:39] bjmgeek opened #1244 "[FEATURE] please allow multiple decryption keys"
My wife and I both have separate openpgp keys.  We share a password store, with passwords encrypted to both keys.  Both keys are in OpenKeychain, on the same phone.  Currently, the first key that is found is the only one that the app uses forever, and it doesn't offer the user the option to choose which key to decrypt with.

**Describe the solution you'd like**
When the user selects a password fro

[2020-12-09 20:42] msfjarvis commented on #1244
I feel this is something that needs to be fixed in OpenKeychain but I'll check anyway.

[2020-12-09 22:20] blastrock commented on #1144
Hi, I have upgraded to Lineage 17.1 from December 7th and the issue is now fixed, we can close this I think.

[2020-12-10 03:37] #1144 closed, assigned to nobody

[2020-12-10 08:48] benrhughes opened #1245 "[BUG] Can't clone to external"
**Describe the bug**
In older versions of Password Store, it was possible to clone to an external directory. Currently, it seems that I can point Password Store at an already-cloned directory on the SD card, but I cannot get it to create the clone itself.

**To Reproduce**
1. Clean install the app
1. 'Let's Go'
1. 'Clone Remote Repo'

**Expected behavior**
At this point I would expect to be given

[2020-12-10 08:55] msfjarvis commented on #1245
This is an intended change, see https://github.com/android-password-store/Android-Password-Store/issues/1118

[2020-12-10 08:55] #1245 closed, assigned to nobody

[2020-12-10 09:14] benrhughes commented on #1118
This would break how I currently use `pass`, and unfortunately the legacy version of the app don't appear to work on Android 10.

My use-case may be somewhat out of the ordinary: I store some non-encrypted files in my pass repo and edit them in other apps. For whatever reason, your implementation of git syncing on Android is by far the most convenient to use, so I've been piggy-backing on it rathe

[2020-12-10 09:33] msfjarvis commented on #1118
Thanks for your understanding, it is unfortunate but we really cannot support this specific use-case.

[2020-12-10 14:24] noxamox23 commented on #998
Hi, I ran into the same problem. I am migrating to a pixel 3 with Android 10, lineageOs 17.1.
I set up OpenKeyChain and Password-Store as I had on my previous phone. This means that I imported all previous keys to OpenKeyChain and then cloned my Password-Store structure from my repository (via ssh).

At first glance all seemed fine because decrypting works, but when I first tried to add a new entr

[2020-12-10 14:48] msfjarvis commented on #998
Hi, my apologies for the confusion there, deleting `.gpg-id` was not the right advice at the time and I should have edited the original response after I posted the correction in the next comment. Here's a custom version of the app that will behave as I said it would: https://dl.msfjarvis.dev/aps-gpg-id-fixup, you can read about the build types [here](https://android-password-store.github.io/docs/u

[2020-12-10 17:17] #1232 closed, assigned to msfjarvis

[2020-12-10 18:40] msfjarvis commented on #998
The change shipped in the above binary has been applied to the development branch, and can be tested through the snapshot builds. The APKs linked above are built off the latest release branch with the same change applied.

[2020-12-12 09:25] fliiiix commented on #357
Issue still exists in 1.13.1.

![photo5377699354590163312](https://user-images.githubusercontent.com/1682954/101980181-f54fab00-3c63-11eb-8c1e-f7db4623725c.jpg)

The workaround with deleting the repo and cloning it again worked for me as well.
I guess the issue is that I attempted to clone the repo which failed the first time which left the internal repo in some broken state.

[2020-12-13 03:19] oren opened #1248 "[Documentation Improvement] Backup process missing something?"
My laptop's hardware crashed and i am trying to restore my password store on a new laptop. My backup was created using the process [documented on the wiki](https://github.com/android-password-store/Android-Password-Store/wiki/Ubuntu-Android-Guide-backup).

I restored the .password-store folder and the gpg keys using the commands on that wiki page:

Restore the pass data folder

[code]

Restore the

[2020-12-13 03:55] msfjarvis commented on #1248
How did you export your secret key? `gpg --export-secret-keys <key id>` is the only way to get our secret keys in a form that can be imported elsewhere.

[2020-12-13 03:55] #1248 closed

[2020-12-13 11:24] dingwen07 opened #1249 "[FEATURE] sign commit message"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Provide an option to sign commit messages using PGP keys.

**Describe alternatives you've considered**
For `pass` on desktop, it could be configured by globally enable signature for gpg.

[2020-12-13 12:03] msfjarvis commented on #1249
JGit does not support signing commits on v3.6 and it's impossible that we will be able to use the latest version without having to completely drop support for multiple currently supported Android versions.

[2020-12-13 12:03] #1249 closed, assigned to nobody

[2020-12-15 06:56] msfjarvis commented on #1238
Yeah I tried every Git host including Bitbucket and Gitlab and I just can't reproduce this. My original fix is still intact and I have yet to see any other report of this happening.

Sorry, but I'm going to have to close this as a wontfix.

[2020-12-15 06:56] #1238 closed, assigned to msfjarvis

[2020-12-16 07:23] fmeum commented on #926
The fix for the accessibility issues has made it into 89.0.4356.0. While the performance could still be better, at least Chrome is usable on large pages now while Autofill is enabled.

Now that all issues that I'm aware of are fixed, we'll just have to wait until the end of January 2021 and 89's promotion to Beta. By that time we can probably recommend switching to it in case of Autofill issues.

[2020-12-18 05:38] oren opened #1252 "I can see entries but can't create new ones after restoring my backup password-store"
after my laptop crashed i setup pass on a new laptop but I am not able to create new entries in pass. i can only read. when i tried to generate a new entry i got:
[code]

gpg -k
[code]

I assume my id is my email so I did:
[code]
and now i see:
[code]

[2020-12-18 05:55] #1252 closed

[2020-12-18 09:47] dfrost16 opened #1253 "[BUG] Autofill pop-up won't show"
**Describe the bug**
Sometimes the Autofill pop-up on won't show up, the behaviour is pretty random. I have already granted the app all the permission and removed battery optimization,
Though after force stopping the app the pop-up works just fine again

**Device information (please complete the following information):**
 - Device: Xiaomi Redmi Note 5 Pro
 - OS: Custom ROM Android version 11
 - Ap

[2020-12-18 10:08] fmeum commented on #1253
What are the apps that are affected? Can you provide screenshots of situations in which you would expect the pop-up to show but it doesn't?

We also need the requested device information or we can't look into this.

[2020-12-18 10:42] msfjarvis commented on #1253
It's there, they just edited out the example values to match their device. I've fixed the OP.

[2020-12-18 11:40] dfrost16 commented on #1253
Before Force Stopping

![Screenshot_20201218-170849](https://user-images.githubusercontent.com/24663673/102610766-be8dff00-4153-11eb-92b9-0d5bb8a7f96e.png)

After Force stopping

![Screenshot_20201218-171006](https://user-images.githubusercontent.com/24663673/102610853-e67d6280-4153-11eb-8f7f-dbe213136c74.png)

[2020-12-18 12:54] msfjarvis commented on #1253
Brave is based on an older Chromium version so a lot of autofill bugs still affect it. See #926 for details.

[2020-12-18 12:54] #1253 closed, assigned to nobody

[2020-12-20 10:00] xmgz opened #1254 "[BUG] Galician (gl) language not inlcuded on v1.13.1"
**Bug description**
* APS (android password store) IS NOT following default UI setting on an android device.
* I went to transifex to check if it was translated (it is, because I had translated since legacy versions < v1)
* I came to github and galician language **is not included in the code** https://github.com/android-password-store/Android-Password-Store/tree/develop/app/src/main/res son app ca

[2020-12-21 06:02] msfjarvis commented on #1254
We now do translation via [Crowdin](https://crowdin.com/project/android-password-store), where Galician appeared to already be translated so I've imported it in #1256. Unfortunately we've suspended new releases for a while so you will need to switch to the [Snapshot builds](https://android-password-store.github.io/docs/users/release-channels) in order to gain access to the development builds.

[2020-12-21 06:18] #1254 closed, assigned to msfjarvis

[2020-12-21 16:07] msfjarvis commented on #1254
Galician will be available in the v1.13.2 release that is going out right now and will become available in a few hours on the Google Play Store.

[2020-12-23 03:18] omentic opened #1260 "[BUG] When cloning a password repository, not all authentication modes fit on the screen"
**Describe the bug**
The authentication mode "openkeychain" is squashed, with the left "o" being clipped and cut off while being truncated enough to the right to be illegible.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a Samsung Galaxy S7 (it's unclear to me if this is caused by screen size or Android 8.0)
2. Install and open this app
3. Select "Clone remote repo"
4. See screenshot

[2020-12-23 03:56] omentic opened #1261 "[BUG] When setting up a new repository, not all authentication modes fit on the screen"
**Describe the bug**
"Openkeychain" is smushed compared to the other two authentication modes.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a Samsung Galaxy S7 (I'm not sure if this is caused by the smaller screen size or the older OS)
2. Open the app.
3. Click "Clone remote repo"
4. See screenshot

**Expected behavior**
"openkeychain" should either be abbreviated or shrunk to fit the

[2020-12-23 04:59] msfjarvis commented on #1260
This looks incomplete

[2020-12-23 04:59] #1260 closed, assigned to nobody

[2020-12-23 05:53] omentic commented on #1260
@msfjarvis What the heck? I'm absolutely sure I had filled this out completely... perhaps GitHub mangled it, or I somehow pasted a blank template over it?

It's now complete, if you wouldn't mind reopening.

[2020-12-23 05:57] msfjarvis commented on #1260
You also filed #1261 which is the same bug, which I've triaged and assigned.

[2020-12-23 05:58] omentic commented on #1260
That's extremely weird, I didn't even notice. Apologies for whatever appears to be happening on my end.

[2020-12-24 22:09] Filip62 commented on #1118
As long as the git functionality stays in the internal app storage, I'm totally fine with it.

[2020-12-26 07:13] franklinbill opened #1262 "[BUG] Onboarding view does not work well on lower densities"
**Describe the bug**
Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure, in the first page, the button and the following text overlap each other. This may be an adaptation problem. I suspect it is because **display and font size** are set to large (mainly due to **display size**).
App version is 1.13.2, my mobile phone is Google nexus 6, screen resol

[2020-12-26 18:11] Skrilltrax commented on #1262
Thanks for reporting, I'll take a look at it.

[2020-12-27 23:52] timvisee commented on #636
Any progress on this?

Just came across the same issue. After doing a Android Password Store sync, it added a commit with replaced the symlink with a plain text file (having the symlink path in it). Based on the comments above, I'm assuming that JGit fails to clone/pull properly and creates a plaintext file instead of a symlink. This is basically breaking my password store (on other devices) at th

[2020-12-28 05:40] msfjarvis commented on #636
Not at the moment and it doesn't seem like we can do a lot about this either. We've already applied the official recommendations on symbolic link support.

[2020-12-29 21:10] timvisee commented on #636
Could an option to prevent pushing to the remote be added? That would prevent pushing the broken state to the git remote, and to the rest of my machines, at the cost of not adding passwords modified on my phone. I understand that this isn't a solution, but that would at least allow me to sync my passwords to my phone. I hope I'm not going too off-topic with this question.

[2020-12-29 21:22] msfjarvis commented on #636
You can simply use the pull option rather than synchronize, unless I'm not understanding the request?

[2020-12-29 21:25] timvisee commented on #636
@msfjarvis Awesome, just noticed the option now. I've always dragged down which apparently synchronizes. This is perfect, thanks for the quick response.

[2021-01-05 15:44] mondlicht-und-sterne opened #1269 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want. https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/ https://gitlab.com/snippets/1895688 That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-05 18:17] sevmonster commented on #1118
Off topic: You should really consider using https://github.com/Catfriend1/syncthing-android for your needs. If version control/file history is a concern, you can store old versions of synced files with Syncthing up to a user-defined limit; keep the whole history on your main device if storage there is sufficient, and keep a few past versions on the phone—that's what I do. It isn't as storage-effic

[2021-01-06 16:58] ahstro commented on #1089
Sorry, but how do I make the change to fix this? Not seeing any info on gpg ids in the man page for `pass` other than when initalizing.

Edit: Ok, I was just not reading carefully enough. `pass init` could be used to reencrypt with a new gpg id.

[2021-01-07 22:09] #1262 closed, assigned to Skrilltrax

[2021-01-07 22:09] #1261 closed, assigned to Skrilltrax, msfjarvis

[2021-01-07 22:09] #1224 closed, assigned to nobody

[2021-01-07 22:10] #1196 closed, assigned to nobody

[2021-01-07 23:46] MoritzMaxeiner opened #1272 "[BUG] Authentication fails with curve25519 subkey on security token"
**Describe the bug**
Trying to clone a remote repository with OpenKeychain-provided curve25519 authentication subkey located on security token falls back on password authentication due null object reference in signing operation.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a security token with an curve25519 authentication subkey in OpenKeychain
2. Try to clone a remote repositor

[2021-01-08 05:33] msfjarvis commented on #1272
@fmeum the exception is `java.lang.NullPointerException: Attempt to invoke virtual method 'long org.bouncycastle.openpgp.PGPPrivateKey.getKeyID()'`, from within the guts of the OpenKeychain sshauth library.

[2021-01-08 08:31] MoritzMaxeiner commented on #1272
Should I report this to OpenKeychain itself instead, then?

[2021-01-08 09:07] msfjarvis commented on #1272
No it's more likely that we regressed this on our end, once Fabian has had a chance to review they'll let you know if OpenKeychain needs to be notified.

[2021-01-08 09:07] fmeum commented on #1272
@MoritzMaxeiner The bug you are seeing has already been reported upstream as https://github.com/open-keychain/open-keychain/issues/2538 and https://github.com/open-keychain/open-keychain/issues/2589. I will try to fix it myself when I have time, but it is not a high priority as our new Keystore-backed SSH authentication serves more or less the same purpose (albeit it is slightly less convenient to

[2021-01-08 09:10] fmeum commented on #1272
@msfjarvis I felt like we needed a `blocked-on-upstream` label, so I went ahead and created one.

[2021-01-08 09:32] MoritzMaxeiner commented on #1272
@fmeum I see, thanks. FWIW: The key is shown as healthy and capable of signing (In contrast to https://github.com/open-keychain/open-keychain/issues/2589).

![key_healthy](https://user-images.githubusercontent.com/497073/103998967-b4807e80-519c-11eb-9d40-a073f497f213.png)

[2021-01-08 10:38] advortsov opened #1273 "[BUG] Pressing back returns to the previous screen with search results"
**Describe the bug**
Pressing < ("Back" button) returns to the previous fuzzy search results screen instead of the home screen

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Search' on the home screen
2. Enter the name of the application ("briar" on screens), the entry for which has nested users with passwords
3. Tap to search result with nested entries
4. Press < ("Back" button)

[2021-01-08 11:25] msfjarvis commented on #1273
This is intended behaviour AFAIK, @fmeum would be able to confirm.

[2021-01-08 12:38] NANASHI0X74 commented on #1273
chiming in because I happened to see this and have had a related gripe:

I think it's strange that the android back button doesn't do the same as the back arrow button at the top left of the app.
This is the behavior for both, when viewing a password entry after navigating there via serch results:

1. back button goes back to search
2. back arrow goes back to "home" screen

imo I think both should

[2021-01-08 12:43] msfjarvis commented on #1273
You're right, but it's a separate bug. I'll get it sorted.

[2021-01-08 12:43] msfjarvis opened #1274 "DecryptActivity finish behavior differs between toolbar back and navigation back press"
I think it's strange that the android back button doesn't do the same as the back arrow button at the top left of the app.
This is the behavior for both, when viewing a password entry after navigating there via serch results:

1. back button goes back to search
2. back arrow goes back to "home" screen

imo I think both should do the same thing which is the former, to go back to the search results.

[2021-01-08 12:47] NANASHI0X74 commented on #1273
😅 thanks

[2021-01-08 13:28] noxamox23 commented on #998
Hey msfjarvis, you are the greatest! I downloaded your apk already 4 weeks ago and it worked! I then got caught up in sth else and did not get around to say Thanks - so I do it now. I also installed the updated versionvia f-droid on another device - worked as well. Sweet!

[...]

[2021-01-08 13:41] msfjarvis commented on #998
No worries, glad you got it working :+1:

[2021-01-08 14:13] #1274 closed, assigned to msfjarvis

[2021-01-11 15:22] msfjarvis commented on #998
Should we close this issue @fmeum? OpenKeychain will not fix anything anytime soon and our implemented workaround appears to work well enough for users.

[2021-01-11 15:43] fmeum commented on #998
Agreed & closed

[2021-01-11 15:43] #998 closed, assigned to msfjarvis

[2021-01-12 05:48] fmeum commented on #1273
This is expected behavior, but of course it is not set in stone.
@advortsov Could you briefly describe why you would prefer the back button to behave differently here?

[2021-01-12 16:12] #836 closed

[2021-01-13 07:31] Systemk2 opened #1277 "Adding a new password fails with .gpg-id found but invalid key id"
When trying to add a password using the "New password" dialog, a message appears which in German is "".gpg-id gefunden, enthält aber eine ungültige Schlüssel-ID, Fingerabdruck oder Benutzer-ID" (= "found .gpg-id, but contains an invalid key ID, fingerprint or user ID")

Steps to reproduce the behavior:
1. Open Pasword Store
2. Press "+"
3. Add name and password
4. See error

**Expected behaviour**

[2021-01-13 07:37] msfjarvis commented on #1277
If you can share your key ID format here then it'd be helpful to diagnose the exact problem, otherwise we have a mechanism in place to fix it for you.

Enable hidden files and folders, then go back and delete the `.gpg-id` file. The next time you create a password, the app will ask you to select a key from OpenKeychain and will recreate the `.gpg-id` file with a more ubiquitous format that is unde

[2021-01-13 07:57] Systemk2 commented on #1277
Thanks a lot for the quick reply! The workaround did it.

I deleted ~/password-store/.gpg-id on my PC, pushed the change to git, updated in Android Password Store and was there prompted to select a key. I did that and it works.

The newly generated .git-id looks different from the old one:

Old, not working .gpg-id:

`$ cat ~/.password-store/.gpg-id`
`Passwordstore`

Newly created working gpg-id:

[2021-01-13 08:07] msfjarvis commented on #1277
Ah I see. That's the bug from #998, that's what the workaround is for.

[2021-01-13 08:11] Systemk2 commented on #1277
As this is a known bug and the workaround works fine , I close this issue. Thanks again for the perfect support.

[2021-01-13 16:08] Robert-L-Turner commented on #333
Is there any possibility to support this in the future?  I'm relatively ok if 2fa (TOTP) isn't supported by the app, but not supporting keyboard-interactive means I can not create an access-local.conf to only bypass 2FA for my mobile devices running the app.  I don't want to turn off 2FA for SSH across all devices.

Instead of using the app functionality I'm storing a local repo outside of the hid

[2021-01-13 19:28] msfjarvis commented on #1277
Re-opening since I wanna address this in documentation as well.

[2021-01-14 07:40] senthilbaboo opened #1278 "[FEATURE] Autofill service for Google Chrome"
**Is your feature request related to a problem? Please describe.**
Autofill Service works great when I use other Android apps. However the same does not seem to work when I try to use it in a chrome browser.

**Describe the solution you'd like**
It will be great to have autofill popups available when using chrome.

**Describe alternatives you've considered**
An android keyboard implementation woul

[2021-01-14 07:45] msfjarvis commented on #1278
Autofill is supported in Google Chrome. Their implementation was extremely buggy, and the known issues are being tracked in #926. @fmeum has been doing excellent work for the last half year, getting these fixed in Chromium and you can see the benefits of that by using Chrome Dev, Beta or Canary releases.

[2021-01-14 07:52] fmeum commented on #1278
@senthilbaboo  Chrome Beta hasn't received most of the fixes yet, but you could try again with Chrome Dev. Which version of Android are you using?

[2021-01-14 08:11] senthilbaboo commented on #1278
I am using chrome beta. May be I will wait for the fix.

Also slightly out of the context, would it possible to integrate autofill with GBoard, It seems Dashlane did something similar: https://9to5google.com/2020/08/26/dashlane-android-11-keyboard/

[2021-01-14 09:11] msfjarvis commented on #1278
We have (#1181). It's not shipped in the v1.13 cycle because it's part of larger breaking changes that will be released in v2.0 in the next few months.

[2021-01-14 12:53] msfjarvis commented on #1278
Closing since there's nothing to do here.

[2021-01-14 12:53] #1278 closed, assigned to msfjarvis

[2021-01-14 20:18] #1277 closed, assigned to msfjarvis

[2021-01-21 18:55] clumbo commented on #1272
Just to add to this, using a yubikey is completely broken atm, to keep things secure and not storing ssh private keys on my phone goes against the convention.

[2021-01-23 05:39] sevmonster commented on #1272
I don't know if this is related or not, but I feel like it might be.

Mine works fine when I attempt to decrypt `pass` entries created or last edited from terminal. However, when I create a new entry or edit an existing entry and then later try to decrypt it, I am asked for PIN as normal, but then told the PIN is incorrect when I activate NFC. I try again, and OpenKeychain crashes with this error:

[2021-01-23 07:26] msfjarvis commented on #1272
This is definitely an OpenKeychain bug, but their development has been too unreliable to rely on them for fixing these things. Forking introduces a rather large maintenance burden which I am not entirely confident that I want to take on, but sooner than later it might become a necessity. Increasing priority in the mean time.

[2021-01-23 16:06] sevmonster commented on #1272
Ultimately it seems their support for `ed25519`/`cv25519` is just lacking in general... Which is a shame, as they are still very secure despite having smaller keys and operations being soo much faster on my devices.

[2021-01-26 20:05] ForDavStuff commented on #365
I can't get openkeychain to find password store app. It looks like the icon shown in OKC is from the old version and therfore it tries to redirect me to a play store page that doesn't exist anymore (OFC not finding the already installed and configured password store app)

[2021-01-26 22:00] Jangberry opened #1285 "[BUG] Existing files checking issues when renaming a file"
**Describe the bug**
When renaming a file, the app doesn't check for existing files as it does when creating a file, therefore may delete a password

**To Reproduce**
Steps to reproduce the behavior:
1. Create two new password with different names
2. Rename one of them like the other
3. There is only one password

**Expected behavior**
The app should send a toast notification as it does when we tr

[2021-01-27 04:08] msfjarvis commented on #365
Please use the [Discussions](https://github.com/android-password-store/Android-Password-Store/discussions) page for general questions rather than commenting on unrelated issues so we are able to better help you.

[2021-01-27 04:39] msfjarvis commented on #1285
This is a bug stemming from our re-use of the password creation screen for password editing. We have a check for the file already existing as you have observed that creation does fail, but that check has an 'escape hatch' where its bypassed when editing because it is expected that the target file will exist. Maybe it is finally time to split the two...

[2021-01-27 05:10] msfjarvis commented on #1285
I've filed #1286 to fix this with a bandaid for now, and will follow up with a larger refactor soon. Thanks for your detailed report.

[2021-01-27 05:42] #1285 closed, assigned to msfjarvis

[2021-01-28 19:43] youben11 opened #1290 "[FEATURE] Git Token Authentication"
**Is your feature request related to a problem? Please describe.**
[Github will no longer support](https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/) (June 2021) password based authentication, and will require either SSH, or token based authentication.

**Describe the solution you'd like**
I know SSH is already supported, but it would be also great to have the to

[2021-01-28 19:44] msfjarvis commented on #1290
It's already supported. Simply swap out your password for a personal access token.

[2021-01-28 19:44] #1290 closed, assigned to nobody

[2021-01-28 20:01] youben11 commented on #1290
Oups! Thanks for the quick reply, I did search on the CHANGELOG though, but didn't find something about it.

[2021-01-28 20:26] msfjarvis commented on #1290
It's not mentioned because it's not actually a special cased feature. Both PATs and passwords work the same way on GitHub aside from actually logging you in on the website.

[2021-01-29 06:05] fmeum commented on #926
Fixed in Chrome Beta. We will finally be able to close this issue on [March 3](https://chromiumdash.appspot.com/schedule) in our time zones.

[2021-01-29 08:56] msfjarvis commented on #1273
@advortsov can you please answer the question above so we can make a decision here?

[2021-01-29 09:43] advortsov commented on #1273
Well I think this is a matter of habit. I think this option is more logical.

[2021-01-29 10:00] msfjarvis commented on #1273
Returning users to their search results is also logical in that it lets them pick a different entry if one was selected on accident, without having to re-enter the search query. If you make your case in some more detail it'd be helpful in coming to an agreement :)

[2021-01-31 08:15] #1204 closed, assigned to nobody

[2021-01-31 22:58] cbcoutinho opened #1293 "[FEATURE] Data stored in JSON format"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I store some non-password data as JSON in my password store, and on my laptop, I use `jq` to parse/filter the data I need, but on mobile, this is difficult or close to impossible depending on the structure of the data.

It would be great if there existed a simple toggle to parse password con

[2021-02-01 02:54] msfjarvis commented on #1293
I'm not very convinced that this is worth building out.

`pass` itself doesn't support it, I personally don't see it being something a lot of people use, and it's going to be a _lot_ of work.

[2021-02-02 16:34] grobx opened #1294 "[BUG] BouncyCastle is required to read a key of type ecdsa-sha2-nistp521"
**Describe the bug**
I can't clone my repository because the key used is of type ecdsa-sha2-nistp521 and it seems it's not supported. Openkeychain works fine, I tried to decrypt a message and it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Password Store
2. Click on 'Let's go'
3. Click on 'Clone Remote Repo'
4. Enter repository URL and branch
5. Select Openkeychain as authenti

[2021-02-02 18:22] msfjarvis commented on #1294
This is curious, because we do [install Bouncycastle](https://github.com/android-password-store/Android-Password-Store/blob/4694c5ac8575a7e85e6b950eaed99049719b6151/app/src/main/java/dev/msfjarvis/aps/util/git/sshj/SshjConfig.kt#L35-L56) as a SecurityProvider. Logcat confirms that BC is loaded

[code]

The exception thrown is

[code]

Tracking the control flow, the exception is thrown [here](https

[2021-02-03 07:32] fmeum commented on #1294
[My patch](https://github.com/hierynomus/sshj/commit/2edaf07e71ded291b81d87ac8ae1062c6692027e) for `SecurityUtils#isBouncyCastleRegistered` has not been included in a release yet. We should be eagerly awaiting 0.31.0 not just because of that fix but also because of the AES-GCM support it brings.

[2021-02-03 20:07] agherzan commented on #663
@msfjarvis I see that the feature was implemented. Does that mean that the TOTP, HOTP functionality is here to stay?

[2021-02-03 22:20] msfjarvis commented on #663
TOTP will not be removed again, HOTP was not added back and will stay unsupported in the foreseeable future.

[2021-02-03 22:44] agherzan commented on #663
Thanks for clarifying.

[2021-02-03 23:19] msfjarvis opened #1301 "Switch from JCenter to Maven Central for builds"
JCenter is shutting down on [May 1st 2021](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)﻿ so we're going to need to make a plan to switch.

As a test I did a quick `sed -i 's/jcenter/mavenCentral/g` in our Gradle build files and it seems we only have three dependencies to get fixed.

- [x] AndroidFastScroll (Filed https://github.com/zhanghai/AndroidFastScroll/is

[2021-02-05 09:13] msfjarvis commented on #1272
It looks like there is a [pull request](https://github.com/open-keychain/open-keychain/pull/2631) for fixing this specific bug, I've generated a [release build](https://dl.msfjarvis.dev/share/OpenKeychain-google-release.apk) for people willing to test it (source for it is available at https://github.com/android-password-store/open-keychain). You'll need to uninstall the Play Store/F-Droid version

[2021-02-05 11:37] fmeum commented on #1272
@ds6 Are you using a YubiKey 5 with firmware version 5.2.6 by any chance?

This is not a bug in OpenKeychain, but rather a hardware bug in the YubiKey 5 series before firmware version 5.2.8 (not yet released). I informed Yubico about this issue in September 2020 (see https://bugs.chromium.org/p/chromium/issues/detail?id=1120933#c10), but they have not released a fix yet. Once a fixed firmware vers

[2021-02-06 12:16] #1293 closed, assigned to nobody

[2021-02-06 20:14] #1087 closed, assigned to msfjarvis

[2021-02-06 20:25] #1269 closed, assigned to msfjarvis

[2021-02-07 17:47] lucaspeixotot opened #1309 "[BUG] Error from OpenKeyChain : No encrypted data with known secret key found in stream!"
I'm using the Redmi Note 8T. I installed android-password-store, cloned the repository, installed the OpenKeyChain, linked it with password-store. My passwords are listed in password-store. After click on some of them, this error appears.

If I go to OpenKeyChain > Apps > Password Store, there isn't keys allowed.

I created my keys in PC with "gpg --ful-generate-key --no-throw-keyids

How can I so

[2021-02-07 18:46] #1309 closed, assigned to nobody

[2021-02-09 00:18] Holzhaus opened #1311 "[FEATURE] Alternative OTP configuration"
Scanning QR codes to enable 2FA OTP is convenient when scanning your computer screen, but it's hard to scan a QR code with your phone if the code is displayed on the same phone.

Gitlab 2FA also provides a text configuration:

It would be nice to add a way to add an OTP config using that data.

As an alternative where such information is not provided, it might be nice to allow selecting a screensh

[2021-02-09 04:12] msfjarvis commented on #1311
That's a fair request. I'll see what we can do.

[2021-02-09 04:14] msfjarvis commented on #1294
@fmeum I e-mailed Jeroen yesterday and he's been kind enough to do the [0.31.0](https://github.com/hierynomus/sshj/commit/1d8eaa7ce29c9d08173d1ccf5b8dcf6b3871e356) release. If this just needs a version bump then I can put up a PR otherwise I'll let you handle it.

[2021-02-09 05:42] msfjarvis commented on #1294
I tried the upgrade locally, and it seems there's an internal failure in SSHJ which probably means we need to change things on our end

[code]

When the operation finally fails as a result, there's also a suppressed exception from AndroidX Lifecycle thrown in `OpenKeychainKeyProvider`.

[code]

I'll let you handle this and go fight Flutter at work instead :smile:

[2021-02-10 07:30] #1294 closed, assigned to fmeum

[2021-02-10 09:14] Chrisnetika opened #1315 "[FEATURE] Import from Google"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
-No

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
-To be able when creating a repo to import passwords already in Google account that been saved from Chrome

**Describe alternatives you've

[2021-02-10 09:17] msfjarvis commented on #1315
We're not going to be building any import tools into APS. Please use [pass-import](https://github.com/roddhjav/pass-import) on a Linux desktop to import your passwords from Google Chrome.

[2021-02-10 09:17] #1315 closed, assigned to nobody

[2021-02-11 01:30] MoritzMaxeiner commented on #1272
Thank you, but both your linked APK, as well as building OpenKeychain myself from master branch and applying the linked fix to it yield a different error:

![Screenshot_20210211-022642](https://user-images.githubusercontent.com/497073/107593944-017ac900-6c11-11eb-99fa-f8e3b91bf9d1.png)

[2021-02-11 04:17] msfjarvis commented on #1272
That's weird... Can you also try out the development branch of APS? If it still fails, please try to get a logcat.

[2021-02-11 09:07] Chrisnetika commented on #1315
what your suggesting is for command line version of password store, i'm trying import into the android app, what you pointed me to does not make sense zzz

[2021-02-11 09:25] msfjarvis commented on #1315
It is what it is. We will not add any import mechanism into the app because a) it'd be an extremely large maintenance burden, b) it's going to be extremely slow, and c) pass-import is far superior at doing this and will always be better than anything we add to the app.

If you cannot use pass-import then I'm sorry but I have nothing else to offer you.

[2021-02-12 04:58] indeedwatson commented on #1118
I'm sorry if this is not the right place for this, but after having issues with open gpg I procrastinated setting up password-store. Today I opened the app and tried to set it up with git. I am reading this and it doesn't really clear anything up.

I have a git repo where I backup my pass directory. I have the app open. What do I do? Where do I go? Where am I supposed to read what to do? The wiki

[2021-02-12 05:29] msfjarvis commented on #1118
Because it's not really related :)

Sorry about that, documentation's been a sore point for a while. When you first launch the app, select the "Clone Git repo" option which will lead you to the clone configuration screen. Enter your repository URL, pick how you want to authenticate and hit the clone button.

You certainly are not, but can elect to do it if you so desire. We don't personally recomm

[2021-02-13 09:37] kalipka opened #1318 "[BUG] Repository import fails when the server HTTPS certificate is signed by a custom CA."
**Describe the bug**
I get the following error when importing my Pass repository from a private server through HTTPS:
`java.security.cert.CertPathValidatorException: Trust anchor for certification path not found`

The server certificate is signed by my own Certification Authority. The CA certificate is properly installed on my device. I don't know the application but it seems like the application

[2021-02-15 04:02] codewiz commented on #1272
Not sure if this is the same bug, but today I created an EdDSA subkey for authentication in OpenKeychain, exported it to my ssh server, then tried to use it in PasswordStore, and authentication fails.

No security token is necessary to trigger the bug. Authentication works when using an RSA 3072 bit subkey.

[2021-02-16 04:05] msfjarvis commented on #1272
OpenKeychain v5.6 is out, can the people who've reported bugs here check if any of their problems are fixed?

[2021-02-16 11:03] MoritzMaxeiner commented on #1272
Using:
- OpenKeychain 5.6 from google playstore (not available yet on fdroid)
- Password Store develop branch, commit 051d455c9f68d7edbc75abbc8d9293dd34d1d250, built as `freeDebug`

I also get the unknown key format error mentioned [here](https://github.com/android-password-store/Android-Password-Store/issues/1272#issuecomment-777151446), logcat captured using Android Studio default settings here:

[2021-02-16 11:06] msfjarvis commented on #1272
Thanks for the log, I'll take a look.

[2021-02-16 12:03] msfjarvis commented on #1272
https://github.com/open-keychain/open-keychain/blob/0ec0c34cb996e3bd848f0db111dca7da0db98c54/OpenKeychain/src/main/java/org/sufficientlysecure/keychain/pgp/SshPublicKey.java#L41-L57

yeah we can't do much here :(

[2021-02-17 08:39] fmeum commented on #1318
@kalipka According to https://developer.android.com/training/articles/security-ssl#CommonProblems, the error you are seeing should only occur if the CA is *not* included in the system store.

Are you sure that the CA certificate is properly installed on your device? If so, can you give an example of an open-source app that successfully connects to your server?

[2021-02-17 09:36] msfjarvis commented on #1195
Just a passing note, but building gopenpgp appears to be an extremely easy affair and thanks to their gomobile support, it generates an `aar` file with the native libraries and some Java glue code that we can use to interface with the high-level public API.

We can wire this into our own build system and introduce a build-time Golang dependency on everyone, or script up the deployment of new gopen

[2021-02-17 14:36] CodedCraft commented on #1195
This sounds promising! What other steps need to be taken? I will gladly help in any way I can.

[2021-02-17 15:44] msfjarvis commented on #1195
Once we have the build set up, the next steps will be to decide on what functionality from OpenKeychain we intend to support and build the UI for each of them. For a minimum viable version the ability to import one key and being able to encrypt/decrypt should be enough, then we'll move on to multiple keys, generating SSH keys from GPG keys, and NFC support for Yubikeys before this will be done. Lo

[2021-02-17 17:19] kalipka commented on #1318
@fmeum

Yes, the CA certificate is installed on my device, in the _user_ certificate store.

I use Vanadium (a hardened version of Chromium) but since it's a system application provided by GrapheneOS this might not be a good candidate.

I'm also using [DAVx⁵](https://www.davx5.com/), for synchronizing calendars and contacts. The source code is available here: [https://gitlab.com/bitfireAT/davx5-os

[2021-02-17 17:25] fmeum commented on #1318
DAVx is using a custom `TrustManager`, which might be a lead: https://gitlab.com/bitfireAT/davx5-ose/-/blob/dev-3.x-ose/app/src/main/java/at/bitfire/davdroid/HttpClient.kt

[2021-02-18 06:47] #1311 closed, assigned to msfjarvis

[2021-02-18 19:25] kalipka commented on #1318
I ended up testing with a small application doing basically:
[code]
Same error as with Password Store, which makes me think of the user certificate store as being pointless since extra work is required for user applications to establish a simple HTTPS connection with a server not certified by a public CA...

[2021-02-19 08:27] #1191 closed, assigned to msfjarvis

[2021-02-21 05:35] msfjarvis commented on #1272
[New APK](https://dl.msfjarvis.dev/share/OpenKeychain-google-release.apk) with [this](https://github.com/open-keychain/open-keychain/pull/2662) PR included, source pushed to [android-password-store/open-keychain](https://github.com/android-password-store/open-keychain/tree/develop), and the signature is the same as the APS binaries from Google Play and GitHub Releases.

Should fix ED25519 support,

[2021-02-21 10:46] tulir commented on #1272
Added the PR to my own build (I had already built open-keychain/open-keychain#2631 myself earlier), can confirm it works with Yubikey 5C NFC

[2021-02-21 20:06] MoritzMaxeiner commented on #1272
Works for me (also Yubikey 5C NFC). Thank you :)

[2021-02-21 22:08] fourstepper commented on #1118
I think this is fine, as long as both git and external directory workflows work

[2021-02-22 19:44] sevmonster commented on #1272
Yep, everything is resolved with these series of patches. I finally feel that I can safely use my YubiKey on all my devices thanks to this setup solving it in Termux w/ OkcAgent for `ssh`/`gpg` and APS for `pass`.

Thank you everyone for your hard work.

[2021-02-23 17:44] msfjarvis commented on #1272
The fix for the Yubikey bug has [landed upstream](https://github.com/open-keychain/open-keychain/commit/2a0625e615e600e9645a5ac52520365ce469f08f) 🎉

[2021-02-23 20:11] sevmonster commented on #1272
Excellent. But https://github.com/open-keychain/open-keychain/pull/2662 is still not merged, so I think I will be sticking to the fork for a while longer.

[2021-02-24 09:19] denkorzh opened #1323 "[BUG] Error while syncing with GPG-key"
**Describe the bug**
Cannot sync local repo with the remote one using gpg-key authentication method. This seems to be related to the latest Openkeychain update though I am not sure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main window
2. Click on Pull/Sync repo
3. Select your gpg key from openkeychain
4. See error `Request SshPublicKeyRequest failed: Error converting public

[2021-02-24 09:21] msfjarvis commented on #1323
Duplicate of #1272, this is on track for being fixed in the next version of OpenKeychain.

[2021-02-24 09:22] #1323 closed, assigned to nobody

[2021-02-24 18:49] dfrost16 opened #1325 "[FEATURE] TOTP authentication with the code"
Password Store supports TOTP which works by scanning the code, meanwhile other alternative such as Google authenticator app supports both scan and manual input of the totp code is it possible to implement it on password Store would be really convinent

[2021-02-24 19:48] buzz opened #1326 "[BUG] Does not show any passwords from SD card"
**Describe the bug**

Can't open configured password repository, only shows "Password Store" and "Let's Go" button.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a password store folder on your SD card.
2. Open app, click on "Let's go" -> "Create local repo" (the doc says "Use local directory" but this option doesn't exist, so it might be the doc is wrong)
3. Select "SD-Card" -> Selec

[2021-02-24 21:12] msfjarvis commented on #1325
Duplicate of #1311, has been fixed by #1320. Please search through closed issues as well before filing new ones.

[2021-02-24 21:13] #1325 closed, assigned to nobody

[2021-02-24 21:25] msfjarvis commented on #1326
Android has extremely poor removable storage support so there isn't a lot we can do on our end at this stage. We have a longer term goal of reimplementing how we interact with storage and will probably attempt to improve on this aspect if there any options available to do so.

Edit: that being said we are also in the progress of rewriting our documentation and will ensure it matches the app's actu

[2021-02-24 21:26] #1326 closed, assigned to nobody

[2021-02-27 17:04] FreeCaptain opened #1333 "[BUG] Git password authentication problem"
Hello.
I cant clone my repo using password authentication method. Get error "Potentially incorrect URL
Please specify the SSH username in the form username@example.com"
Also I can't find option "Select OpenPGP Key ID"
Thank you.

[2021-02-27 17:50] #1333 closed, assigned to nobody

[2021-03-02 09:53] msfjarvis commented on #1301
@fmeum can we migrate away from our current fastscroll library to something that does have artefacts on Maven Central? The author hasn't replied in nearly a month since I filed the issue.

[2021-03-02 21:45] stephen304 opened #1336 "[BUG] No autofill on 7-eleven log in, but on reset password textbox"
**Describe the bug**
In the 7-Eleven app, autofill doesn't show up on the login screen, but it does show up on the reset password screen.

**To Reproduce**
Download 7-Eleven app
Go to login with username / password
Tap username field

**Expected behavior**
Autofill should show up

**Screenshots**
![image](https://user-images.githubusercontent.com/981915/109719293-75f0ba00-7b76-11eb-87ab-b650d1ccfd

[2021-03-03 05:01] msfjarvis commented on #1336
If Autofill works on one screen and not the other that most likely means 7-Eleven either uses incorrect autofill hints or just disables autofill outright on those fields. I'll investigate once I have some more time, but the chances of us being able to fix it on our end are slim to none in the abovementioned scenarios.

[2021-03-03 06:38] fmeum commented on #1336
I just tried out the app with debug logging enabled. When tapping into any of the login form fields, I don't see an Autofill request at all, which hints at them doing something weird.

@stephen304 However, I am able to long-tap on the password field and then select the Autofill action manually, which leads to a successful fill. Does that work for you? This workaround applies to many apps.

[2021-03-03 06:41] fmeum commented on #1301
Do you know other libraries that would do this for us? I just found https://github.com/reddit/IndicatorFastScroll.

We don't really have any special requirements apart from having this work with multi-selection.

[2021-03-03 06:47] msfjarvis commented on #1301
https://github.com/timusus/RecyclerView-FastScroll and https://github.com/quiph/RecyclerView-FastScroller seem like decent options as well.

We've had issues with `recyclerview-selection`'s interaction with AndroidFastScroll too, and I think I saw a comment about replacing it with tracking a `Set<PasswordItem>` instead. If none of the libraries play well with `recyclerview-selection` then a refact

[2021-03-03 13:49] stephen304 commented on #1336
@fmeum Ah I didn't realize that was a thing. I'm used to struggling a ton with LastPass autofill. That's a pretty easy workaround.

[2021-03-03 14:45] ghost opened #1337 "delete"
If you suspect that this message may have been intercepted or amended, please call the sender.

[2021-03-03 16:21] msfjarvis commented on #1336
Since it's an app bug and our workaround does it's job I'm going to close this issue.

[2021-03-03 16:21] #1336 closed, assigned to msfjarvis

[2021-03-03 16:23] msfjarvis commented on #1337
We have password authentication as a fallback so if you're being prompted for it, that means SSH key authentication failed. Please double check your server configuration.

[2021-03-04 01:24] braderhart commented on #1337
I have password authentication disabled. I'm using a setup similar to this:

https://wiki.archlinux.org/index.php/OpenSSH#PAM_setup

It is working fine if I remove:

[code]

Additionally, I have it setup to bypass `pam_google_authenticator.so` if I'm on my local network and it works fine using Git, only asking for the SSH key password like expected:

https://wiki.archlinux.org/index.php/Google_Aut

[2021-03-04 03:17] msfjarvis commented on #1337
Hm thanks for the info, I'll need to test a couple things. We don't support OTP entry for SSH right now but it's come up before so maybe we'll consider it sometime soon.

[2021-03-04 07:10] #926 closed, assigned to fmeum

[2021-03-04 21:58] Pantamis opened #1339 "[BUG] Autofill in latest Chrome/Chromium still not working"
**Describe the bug**
I can't make AutoFill work in latest Chrome (89.0.4389.72)/Chromium browser. The Autofill pop up never appears for Chrome or Brave browser while it works with any Firefox based browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Set APS as Autofill app in Android
2. Update Chrome to the latest version
3. Open a login page like github.com/login and select a password

[2021-03-05 06:26] fmeum commented on #1339
While Android supports Autofill as of Oreo (8), this only applies to apps that use native UI elements or have explicit support for Autofill (like Firefox).
Support for web browsers and their highly custom views is only provided via an accessibility-based compatibility layer that has been added with Pie (9).

Your main option is thus to update to a more recent version of Android. There's also [ongo

[2021-03-05 07:24] Pantamis commented on #1339
Thank you for your reply, I understand now !

Sadly my phone is quite old and I don't think it will receive update to get Android 9... I will see if it is possible to install custom OS on it.

Otherwise => time for a new smartphone !

It could be nice to add information about this minimum required Android version somewhere in the app when we activate Autofill.

Thanks again for all the work you ha

[2021-03-05 07:24] #1339 closed, assigned to nobody

[2021-03-05 15:32] nerd190 opened #1340 "User feedback"
hi, we spoke over in the Termux feature request, I didnt want to spam their issues so providing some feedback here.
small issue, I remember:
- open app.
- add an entry.
- go to browser, logout of a site, re-login...
- doesnt work.

Is setting a git repo *manditory*?, I agree its the best way to backup/retrieve/sync, even still, its weird we have entered this info already, its saved, but we cant ac

[2021-03-05 16:20] #1340 closed, assigned to nobody

[2021-03-06 08:38] msfjarvis commented on #1337
Took a while to actually test this, but from what I can tell PAM always causes this to break but I'm rather unsure why OpenSSH also sends the `USERAUTH_FAILURE` packet with `AuthenticationMethods publickey,keyboard-interactive` despite the key not actually changing between that and `AuthenticationMethods publickey`. @fmeum?

[2021-03-06 08:41] msfjarvis commented on #527
SSHJ does not support this yet: https://github.com/hierynomus/sshj/issues/281

[2021-03-06 08:57] fmeum commented on #1337
Sorry, I have never used authentication methods other than `publickey`. I'm afraid I can't make sense of this.

[2021-03-07 08:28] msfjarvis opened #1342 "Handle GPG key selection failures during onboarding"
**Describe the bug**

If GPG key selection fails during onboarding, the app throws an `IllegalStateException` and crashes.

**To Reproduce**

1. Clear data and launch the app
2. Create a new repo
3. Click the key selection button, then press the 'X' at the top of the OpenKeychain window
4. APS crashes

**Expected behavior**
User is notified that a key selection is necessary

**Additional context**

[2021-03-08 09:45] amberin opened #1343 "[BUG] .gpg-id created by Android Password Store is rejected by pass v1.7.3"
**Describe the bug**
I was experiencing bug #998, and I followed this workaround: https://github.com/android-password-store/Android-Password-Store/issues/1277#issuecomment-759265495.

The new .gpg-id file created by Android Password Store works well for creating new passwords in the app, but not for creating new passwords using pass (v1.7.3) and gnupg2 (v2.2.20) on my laptop.

Pass says:
`gpg: no

[2021-03-08 09:55] msfjarvis commented on #1343
I tried to reproduce your issue by deleting my `.gpg-id` file and having APS recreate it but I'm not having any luck.

My pass and GPG versions

[code]

My store's Git history

[code]

What APS put into my `.gpg-id`

[code]

keyserver.ubuntu.com's result for that fingerprint: [link](https://keyserver.ubuntu.com/pks/lookup?search=0xB7843F823355E9B9&fingerprint=on&op=index)

GPG's successful lookup

[2021-03-12 20:10] amberin commented on #1343
Decrypting files was never a problem, only encrypting new files.

It turned out that the .gpg-id file created by APS did not contain a newline at the end:

[code]

When I added one, pass accepted the ID, and I could encrypt files again.

[2021-03-12 20:18] msfjarvis commented on #1343
Didn't expect that'd be a problem... Thanks, I'll push a fix .

[2021-03-12 21:35] #1343 closed, assigned to msfjarvis

[2021-03-15 12:35] alanthehat commented on #1109
Here (assuming it's worked) is a screen-capture of a week-old Realme 7 (Android 10) which used the 'clone phone' app suggested by the setup screens to install Password Store from a Samsung J500FN where Password Store is working just fine. Password Store doesn't work here.

The Realme has no plugged-in sdcard or cloud account.

Both Password Store & OpenKeychain have been granted all the permission

[2021-03-15 13:20] alanthehat commented on #1109
screen-cap transcoded to GIF: https://drive.google.com/file/d/11OtIsrCWRuOVf5ITOdNkKRCjU-J4qdvq/view?usp=drivesdk

[2021-03-15 13:23] alanthehat commented on #1109
screen-cap as original mp4: https://drive.google.com/file/d/11VELMBhNAdu_CQd_LJByRKiPppg60YN0/view?usp=drivesdk

[2021-03-15 16:45] msfjarvis commented on #1109
You're on an extremely outdated version of the app. Please refer to the repository's README for Google Play and F-Droid links to the current version.

[2021-03-16 00:16] alanthehat commented on #1109
Ah, that explains it.

Upon investigation I find that Password Store occurs not once but twice in F-Droid. I now have 2 installed copies, one seemingly functional & the other still broken.

Usually there is some indication that a new repository has been started, a link to the new one is common along with words like 'deprecated', 'old' or 'replaced' in the description, often at the top where it can

[2021-03-16 01:52] pfr-dev opened #1345 "Cannot clone private repo from Codeberg"
I have my `.password-store` in a private codeberg repo. When I try to clone the repo using the app I get:
[code]
Now, obviously I have not been able to enter my passphrase for my private repo anywhere and this is clearly the problem.

Where in the app can I register my codeberg password?? I have entered my Username and Email address, but there is no input box for password that I can find.

Cheers

[2021-03-16 04:31] msfjarvis commented on #1109
We know, and we did have the old version [archived](https://gitlab.com/fdroid/fdroiddata/-/commit/e1d588c9935b2cf08e2e56cde562c78bda96aee7). How F-Droid handles it is out of our hands.

[2021-03-16 04:34] msfjarvis commented on #1345
Did you select the correct authentication method in the git server settings screen? If you select password there then you will be prompted for a password during clone. The username and email that you provided are for your local Git author configuration, so for cloning your repository you will have to provide your username within the URL itself, like so : `https://<username>@codeberg.org/my/private

[2021-03-16 04:34] #1345 closed, assigned to nobody

[2021-03-16 15:48] msfjarvis commented on #1272
open-keychain/open-keychain#2662 has now been merged so this issue can be closed as soon as a new release is published for OpenKeychain.

[2021-03-17 11:38] msfjarvis commented on #1272
[OpenKeychain v5.7](https://github.com/open-keychain/open-keychain/commit/64f4d7aaa494e9121a6ca7da484402a4553b7838) has been tagged.

[2021-03-17 11:38] #1272 closed, assigned to fmeum

[2021-03-18 07:26] afreakk commented on #1219
Could we maybe have a list of browsers working with autofill for android 8?
For now the only browser I know works is firefox focus.

[2021-03-18 08:18] msfjarvis commented on #1219
Firefox Focus is pretty much it to be honest. I'll collate all autofill related information in a docs page today.

[2021-03-18 08:56] fmeum commented on #1219
[This is a list](https://github.com/android-password-store/Android-Password-Store/blob/develop/autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt#L142-L150) of all browsers that we determined to have native Autofill support, which means that they should work on Android 8.

[2021-03-19 14:25] grobx commented on #1294
Was this fixed in 1.13.3? I've upgraded it form play store but the problem is still here, maybe I'm doing something wrong.

[2021-03-19 14:59] msfjarvis commented on #1294
It is not included in 1.13.3, but I need to make another patch release this weekend and I will make sure to include the fix for this.

[2021-03-19 21:21] grobx commented on #1294
Thank you @msfjarvis

[2021-03-20 06:48] hcbraun opened #1352 "[BUG] Timeouts on open with large GIT respository"
**Describe the bug**
The app seems to do a GIT operation when opening a directory or file. With a large and unoptimized GIT repository opening anything takes 20+ seconds and causes a "the app is none responsive popup"

**To Reproduce**
Steps to reproduce the behavior:
1. Use a GIT repository with 10,000+ files in .git/
2. Click on a directory or file
3. Get the timeout

**Expected behavior**
No GI

[2021-03-20 17:34] msfjarvis commented on #1294
@roberti42 #1314 has been included in the [v1.13.4](https://github.com/android-password-store/Android-Password-Store/releases/tag/v1.13.4) release and should become available on the Play Store over the next few hours and on F-Droid sometime next week. Thanks for bringing it to my attention.

[2021-03-21 04:17] msfjarvis opened #1356 "[BUG] Memory leaks in OreoAutofillService"
**Describe the bug**

`OreoAutofillService` constantly leaks memory in the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Autofill
2. Launch a website to a login form and attempt to fill it in
3. Observe LeakCanary notification saying an object leaked.

**Expected behavior**

No memory leaks

**Device information (please complete the following information):**
 - Device: G

[2021-03-21 08:33] #1342 closed, assigned to msfjarvis

[2021-03-21 08:34] fmeum commented on #1356
This seems to be internal to the Autofill implementation and may even be working as intended: Even after the service has been destroyed, a reference to it is kept as it may need to be invoked again soon (there is only ever a single such service implementation after all). What do you think? If it turns out this is a repeatable leak, that could be an issue, but I don't know whether LeakCanary can tr

[2021-03-21 08:37] msfjarvis commented on #1356
The leak has been triggered approximately 17 times for me in the last 6 hours so I'm not entirely sure if this is expected behaviour, but if it is then I'll work with the maintainer and get this marked as ignored.

[2021-03-21 10:16] fmeum commented on #1356
Turns out this is a general pattern of issues related to services: https://github.com/square/leakcanary/issues/1906
Related AOSP issue: https://issuetracker.google.com/issues/167281719

[2021-03-21 22:19] grobx commented on #1294
Now I can clone the repository, but when I try to decrypt a password file it tells me "Error: Invalid KEK!". Do I have to open a different issue?

[2021-03-22 03:54] msfjarvis commented on #1294
Yes please.

[2021-03-28 17:50] kirelagin opened #1360 "[BUG] Exclamation point in key fingerprint"
This is, in some sense, related to #998. Let me also say right away that I tried the 2021-03-26 snapshot and this issue is present there.

My `.gpg-id` contains two full fingerprints _followed by `!`_. The reason for this is that I have one PGP key with two encryptions subkeys: one for everyday use, one for backups. The exclamation point at the end tells GnuPG to use this exact subkey rather than

[2021-03-28 18:09] kirelagin commented on #1360
Ok, I have now given a more careful read to the middle of that issue above and found comments from people who seem to have the same setup as mine. It seems to follow from the discussion that OpenKeychain, indeed, does not allow forcing a specific subkey for encryption, so, I guess this issue can be used as another justification for #1195.

[2021-03-28 18:17] kirelagin commented on #1195
Also, this is a great opportunity to make sure APS will be able to support alternative backends, if the need arises in the future. My personal (somewhat radical) hope is that PGP will die as a standard sooner rather than later and get replaced with something more adequate for the modern world (e.g. something based on [saltpack](https://saltpack.org/) or [age](https://age-encryption.org/)).

[2021-03-28 18:45] msfjarvis commented on #1195
That is indeed the plan. I and @Skrilltrax sketched out a basic common API over this weekend to rebuild our internals off of and I fully intend to support [age](https://github.com/FiloSottile/age) as a first-party backend.

[2021-03-28 21:21] drewrisinger opened #1361 "[FEATURE] Support ChromeOS"
**Describe the bug**
The application is not available on the Play Store for Chrome OS.

**To Reproduce**
Steps to reproduce the behavior:
1. From a Chromebook, go to the Play Store & search for "Password Store"
2. See error message "Password Store by ... is not available for Chromebooks"

**Expected behavior**
There are no native Chromebook Password Store applications, though I thought this app co

[2021-03-28 21:50] msfjarvis commented on #1361
Can you install the apps manually to check if they actually work? I don't have ChromeOS devices to test this myself. OpenKeychain can be installed from [here](https://f-droid.org/repo/org.sufficientlysecure.keychain_56200.apk), and APS from [here](https://f-droid.org/repo/dev.msfjarvis.aps_11340.apk).

[2021-04-04 06:33] msfjarvis commented on #1273
Appears the OP has abandoned this, closing.

[2021-04-04 06:33] #1273 closed, assigned to fmeum

[2021-04-04 17:25] morciej opened #1369 "[BUG] No Autofill on Firefox or Chrome"
**Bug description**
Neither Chrome nor Firefox display prompt or anything else to fill out username or password. The only way the app works is by copy from Password Store, and paste into fields, manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up autofill in Password Store, and disable autofill in Firefox (or Chrome)
2. Open Password Store and make sure the password is there and

[2021-04-06 06:04] fmeum commented on #1369
Autofill in most browsers is only supported with Android 9. You could give Firefox Focus a try, which comes with native Autofill support suitable for Android 8.

[2021-04-06 06:10] msfjarvis commented on #1369
We should probably add this information to the Autofill information dialog itself.

[2021-04-06 06:48] msfjarvis opened #1371 "Trying to access settings while onboarding triggers crash"
Tapping `Settings` on the first onboarding screen (the one with the `Let's go` button) triggers the following crash:

[code]

_Originally posted in https://github.com/android-password-store/Android-Password-Store/pull/1370#issuecomment-813866168_

[2021-04-06 06:50] #1369 closed, assigned to nobody

[2021-04-07 05:32] #1197 closed, assigned to msfjarvis

[2021-04-07 12:11] msfjarvis commented on #1361
No response from reporter for over a week, closing until they reply.

[2021-04-07 12:11] #1361 closed, assigned to nobody

[2021-04-07 13:45] msfjarvis commented on #1356
There's not much we can do about the problem so I'm gonna close this, if there is any movement on the AOSP issue we can take it up again.

[2021-04-07 13:45] #1356 closed, assigned to fmeum, msfjarvis

[2021-04-07 13:53] #1371 closed, assigned to Skrilltrax

[2021-04-08 20:48] DrDru2 opened #1377 "[BUG] Error creating password using split key in OpenKeyChain: Missing key for encryption: %s**"
Hi there,

I have Error creating password using split key in OpenKeyChain.
I generate my keys on the desktop using gpg. On mobile devices I use keys without a primary key (a key that can sign other keys).
As a result, in the password store of the latest version, I can look at previously created passwords, but I cannot create new entries. The program gives an error:

**Error from OpenKeyChain : Mis

[2021-04-09 17:45] morciej commented on #1369
Good to know. It's OK. Jumping between these screens, while not fancy, is entirely practical. These are the joys of hand-me-down hardware. ;-)

[2021-04-09 21:15] morciej commented on #1369
Confirmed: after upgrading from Oreo to Pie, the prompt to fill password from Password-store does appear. Thanks Fabian @fmeum

[2021-04-12 16:24] mist commented on #1360
I am suffering the same problem. It worked before the big UI-overhaul some time ago, or so I think, as I did not check if I could set  my subkey in `.gpg-id` and it probably was just by accident the correct key.

[2021-04-14 16:30] Feresey opened #1382 "[BUG] Communication error with OpenKeychain Alt: Xiaomi is really trash"
**Describe the bug**

Failed to get password value when connecting on trusted ipc

**To Reproduce**
Steps to reproduce the behavior:
1. Go to аny password.
2. Click on it.
4. See error

**Expected behavior**

Correctly displayed password.

**Screenshots**

Unable to take a screenshot.

**Device information (please complete the following information):**
 - Device: Redmi Note 8 Pro
 - OS: 9 PPR1.180

[2021-04-14 16:35] msfjarvis commented on #1382
This is XiaoMi breaking AOSP, you can find workarounds [here](https://github.com/android-password-store/Android-Password-Store/issues/518#issuecomment-557832387), [here](https://github.com/android-password-store/Android-Password-Store/issues/518#issuecomment-589935692) and [here](https://github.com/android-password-store/Android-Password-Store/issues/518#issuecomment-653845479).

[2021-04-14 16:35] #1382 closed, assigned to nobody

[2021-04-14 16:39] Feresey commented on #1382
@msfjarvis You are the best!

[2021-04-16 05:12] msfjarvis commented on #1301
The author of the fastscroll library doesn't seem to be very active but there's not much we can do about it right now, so I'm going to go ahead and close this issue. If nothing has changed when JCenter is actually planning to shut down sometime next year, we'll consider migration.

[2021-04-16 05:12] #1301 closed, assigned to msfjarvis

[2021-04-16 06:01] msfjarvis commented on #1352
I scripted the creation of over 15K files in a password repository [here](https://github.com/android-password-store/pass-test/commits/large-repo) and cannot observe any lag let alone ANR. Can you provide any more information about your setup that could help diagnose this?

[2021-04-18 07:11] hcbraun commented on #1352
Hi Harsh,

the repository is stored on the external storage media. Syncing is done via other / 3rd party software and not with GIT / password-store.

GIT stats for the repository:

Report Period: 2015-08-20 10:48:38 to 2021-03-22 13:24:18
Age: 2042 days, 232 active days (11.36%)
Total Files:    316
Total Lines of Code:    50 (66 added, 16 removed)
Total Commits:    884 (average 3.8 commits per act

[2021-04-18 07:28] msfjarvis commented on #1352
Nothing there seems out of the ordinary, aside from the potential that your storage media is *just* slow enough for the directory listing to time out the main thread. I'll try to replicate it in an emulator, thanks for getting back.

[2021-04-19 17:35] adamrutter opened #1390 "[BUG] Unable to sync/push/pull when server is using Fish shell"
**Describe the bug**
I'm unable to sync/push/pull my repo when the Git server is using Fish as the login shell. I _am_ able to sync/push/pull when bash is set as the login shell on the server.

**To Reproduce**
Steps to reproduce the behavior:
1. `chsh -s /usr/bin/fish` (or whatever path Fish is installed to) on the server
2. Perform any git operation (including the utilities in `Settings/Git conf

[2021-04-20 06:51] msfjarvis commented on #1390
This is quite interesting. I'm trying to backport changes to the `PacketLineIn` class where this exception is coming from, assuming it has been fixed in `master`. Will find out soon enough I guess.

[2021-04-20 10:00] msfjarvis commented on #1390
Nevermind the backporting, I was unable to reproduce this at all :/

I created a new user on my desktop PC, changed its login shell to fish, and created a password repository with fake data and it worked just fine for cloning.

What fish version are you on? Maybe that makes a difference :shrug:

[2021-04-20 11:01] adamrutter commented on #1390
I've just tried creating/cloning a new repo myself, and the behaviour is the same as before.

I'm on version 3.1.2-1ubuntu1.

[2021-04-20 12:03] msfjarvis commented on #1390
The exception is thrown [here](https://github.com/eclipse/jgit/blob/720adcebb5b880665aef6a5b0d22a58b33bff4d6/org.eclipse.jgit/src/org/eclipse/jgit/transport/PacketLineIn.java#L190). Attaching a debugger at line 188 for both Bash and Fish login shells does not change the contents of the `lineBuffer` field, so I'm even more perplexed as to how things differ for you 😕

[2021-04-20 13:16] adamrutter commented on #1390
Yeah, it's an odd one... Although I think it's clear the problem is on my end, you can't reproduce it and someone _must_ have used the app with Fish before, and seemingly hasn't had this issue.

I have a workaround that I can live with, so feel free to close this if you don't think there's any fix to apply to the app.

[2021-04-20 13:26] adamrutter commented on #1390
I've worked it out, it's a line in my `config.fish` causing the error.

Specifically, it doesn't like tilde expansion. Changing `~` to `/home/adam` resolves the issue, and the app behaves as expected.

Thanks for your help!

[2021-04-20 13:26] #1390 closed, assigned to msfjarvis

[2021-04-20 13:31] msfjarvis commented on #1390
That's rather peculiar, thanks for letting me know!

[2021-04-21 12:50] #1205 closed, assigned to nobody

[2021-04-21 12:51] msfjarvis commented on #1205
Fixed with #1392 and #1393﻿

[2021-04-24 20:25] estiloinfo opened #1395 "[BUG] Remote clone with ssh password method fail"
**Describe the bug**
I cant initialize ssh remote repo with password method

**To Reproduce**
Open new installation app  (V 1.13.4)

Steps to reproduce the behavior:
1. Click on "Let's go"
2. Click on "CLONE REMOTE REPO"
3. On Repository URL:  "username@domain:repo"
4. On Branch: master
5. Click on Auth mode: PASSWORD
6. Click: CLONE
7. On Authenticate put the password  (and verify)
8. Click: OK
9

[2021-04-24 21:37] msfjarvis commented on #1395
What is the value of `AuthenticationMethods` from `/etc/ssh/sshd_config` on the host you're trying to connect to? Can you send the URL you entered into the app (with domain redacted if necessary).

[2021-04-24 22:12] estiloinfo commented on #1395
Hi, the domain is oficina.estilo.ar

APP URL: ***@***.***:repo

Same URL with asymetric auth works fine.

(if you try some times server banned you IP)

This is auth enabled method from server side

=== cipher ===
3des-cbc
aes128-cbc
aes192-cbc
aes256-cbc
aes128-ctr
aes192-ctr
aes256-ctr
***@***.***
***@***.***
***@***.***

=== cipher-auth ===
***@***.***
***@***.***
***@***.***

=== compression ==

[2021-04-24 22:24] msfjarvis commented on #1395
From what you're telling it seems like the server simply does not support password authentication, or you need a different password from what you're using.

[2021-04-24 22:31] estiloinfo commented on #1395
Server support password i pull some git repo via ssh-client with user
and password

I assume you try connect and this is the log of ssh server

sshd[26078]: Unable to negotiate with 134.209.202.38 port 55738: no
matching key exchange method found. Their offer:
diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1

El 24/4/21 a las 19:24, Harsh Shandilya escribió

[2021-04-24 23:35] estiloinfo commented on #1395
This is de debug of connection fail

sshd[31164]: debug1: Set /proc/self/oom_score_adj to 0
sshd[31164]: debug1: rexec start in 5 out 5 newsock 5 pipe 10 sock 11
sshd[31164]: debug1: inetd sockets after dupping: 4, 4
sshd[31164]: Connection from 181.12.218.10 port 44824 on 192.168.100.200 port 22 rdomain ""
sshd[31164]: debug1: Local version string SSH-2.0-OpenSSH_8.5
sshd[31164]: debug1: Remote p

[2021-05-02 13:02] equaeghe commented on #636
This is the problem for me. I have symlinks in my store and apparently cannot avoid to mistakenly drag down when in passwordstore. This then requires a forced push from another clone to undo the desymlinking. Having an option to assign drag-down to pull instead of push+pull(?) or marking the upstream as read-only would really be useful, given the symlink issue.

[2021-05-03 06:29] msfjarvis commented on #636
I think a read-only option would be a good idea, I'll see what I can do about it.

[2021-05-09 14:13] bjmgeek commented on #1244
So, it turns out it is in openkeychain.  I looked in openkeychain, and there's a connected apps section.  In that section, I was able to choose the keys that were allowed by password store.  Once I selected both keys, I could type either pass phrase and decrypt the password.  There is still some UI strangeness, as it no longer shows the name associated with the key, but it does decrypt

[2021-05-09 14:13] #1244 closed, assigned to msfjarvis

[2021-05-11 10:24] msfjarvis commented on #1377
This issue seems to have slipped through the cracks, sorry about that. I can't find a lot of information about split GPG keys, but the reason why the old version worked is simply that it did not attempt to know what key your store was set up with and instead asked for a selection to be made in OpenKeychain which confused most users during setup.

I don't quite understand how you have your your PGP

[2021-05-15 10:32] msfjarvis opened #1411 "[Tech Debt] Refactor `MigrationsTest` to allow running without an emulator"
The code is only testing the eventual consistency of what boils down to a `Map<String, Any>`, and thus should not require an emulator to run. Breaking the Android framework dependency here will allow us to entirely remove the emulator step from our CI pipelines, which will cut down on PR check times by at least 50%.

[2021-05-16 14:52] TheLastProject commented on #270
Wouldn't this be better implemented into another app and using Android's share menu? For example, I currently use my own app [Share To InputStick](https://github.com/TheLastProject/ShareToInputStick) to share a password from Android Password Store to my InputStick so it types it over Bluetooth

[2021-05-16 14:58] msfjarvis commented on #270
That's how we're doing it. Fabian's built an app to fake a generic HID device on supported desktop targets which accepts input via the share menu, and the only change we plan to implement in APS is to add a separate, optional share option for directly sending the password to the app. Work on it has been on hold since Fabian's been busy breaking other people's software, but we still plan to eventua

[2021-05-16 15:05] TheLastProject opened #1412 "[FEATURE] Own field for each prefix"
**Is your feature request related to a problem? Please describe.**
I prefix every single field that is not a password. To make it easier to scan through and select things, I would prefer each prefix to be each own field. Currently, it seems only 4 fields are ever created: Password, OTP, Username and Extra content.

A semi-related issue is that if my OTP field is prefixed with `OTP: `, it is comple

[2021-05-16 15:17] msfjarvis commented on #1412
This has already been implemented in #1321, but has not made its way into a stable release. The passfile content is now parsed as lines of `$key: $value` pairs, and any lines that can't be parsed into distinct KV pairs are lumped into a catch-all 'Extra content' field like before.

[2021-05-16 15:20] TheLastProject commented on #1412
Oh, awesome, thank you. Sorry for the duplicate, the original didn't show up in my multiple GitHub search attempts.

[2021-05-16 15:20] #1412 closed, assigned to nobody

[2021-05-17 20:08] joelchrono12 opened #1413 "[FEATURE] Add support for Keybase git repositories"
**Is your feature request related to a problem? Please describe.**
I want to be able to access my keybase private passwords repo
**Describe the solution you'd like**
Add support for keybase private repos, expanding the git functionality, maybe using root to access termux with keybase installed
**Describe alternatives you've considered**
All I know is that I could use termux and such. But I have th

[2021-05-18 03:41] msfjarvis commented on #1413
Duplicate of #344

[2021-05-18 03:41] #1413 closed, assigned to nobody

[2021-05-19 08:58] xmoooz opened #1414 "ssh key is not valid"
I use this tut to manage my keys and subkeys:
https://github.com/drduh/YubiKey-Guide

when I want to import ssh keys that generated via the above guide,
 in this app for cloning my github repo,
I encounter with error that is about ssh key is not valid.

[2021-05-19 10:05] renyuneyun opened #1415 "[BUG] SSH key stored in Android KeyStore cannot be used if user hasn't authenticated in a while"
**Describe the bug**
After removing the device lock (and re-enabling it later), the app asks for password to perform git operations, but nothing works -- I tried my device PIN, GPG key password and even a few other potential passwords.
The error message says `problem getting private key from com.zeapo.pwdstore.git.sshj.SshKey$`.
IIRC, the ssh key was protected by fingerprint.

**To Reproduce**
Ste

[2021-05-19 10:36] fmeum commented on #1415
While the error message we show is terrible, fingerprint protected credentials are irrecoverably lost after turning off the device lock.

Can you create a new key via the UI?

[2021-05-19 10:47] renyuneyun commented on #1415
Thanks for the quick response. I managed to do that with **two** attempts.

That's a confusing procedure too. In the first time I tried it, it says failed to delete the old ssh entry (after confirming my fingerprint for the new key).
However, in my second attempt, it succeeds without complaining anything.

[2021-05-19 10:51] fmeum commented on #1415
Okay, we definitely need to handle this better. Unfortunately Keystore failures are not reported uniformly across devices, but we can at least do a bit better here.

[2021-05-20 07:49] msfjarvis commented on #1414
Please use the issue reporting template for filing bugs.

[2021-05-20 07:49] #1414 closed, assigned to nobody

[2021-05-21 18:55] xmoooz opened #1416 "[BUG] can't insert ssh key"
I use this tut to manage my keys and subkeys:
https://github.com/drduh/YubiKey-Guide

when I want to import ssh keys that generated via the above guide,
in this app for cloning my github repo,
I encounter with error that is about ssh key is not valid.

[2021-05-21 20:24] Skrilltrax commented on #1416
Hey, are you adding the public ssh key or the private ssh key to the application?

P.S: Please use the issue template in the future so that we can get all the required information.

[2021-05-21 20:35] Skrilltrax commented on #1416
Hey, can you please use the issue template? that would help us in getting all the information that we need to debug the problem.

[2021-05-21 21:42] msfjarvis commented on #1416
Reposting the same incomplete issue after I closed your previous one is simply spamming. Please read what we're asking of you so that we can actually provide help.

[2021-05-21 21:42] #1416 closed, assigned to nobody

[2021-05-22 12:20] hashworks commented on #1415
I got the same error, so I tried to regenerate an SSH key pair. However, when I select "Protect with screen lock credential" I get [this error](https://fb.hash.works/4XGMU):

Should I create an additional issue for that?

[2021-05-22 13:28] msfjarvis commented on #1415
No that's similarly related, it can be rolled into this issue.

Note for myself: The exception is thrown [here](https://github.com/google/tink/blob/dca70f855d483d4350e222e2754db2f9e63c9ecb/java_src/src/main/java/com/google/crypto/tink/integration/android/AndroidKeysetManager.java#L266-L280).

[2021-05-22 14:50] #1411 closed, assigned to SphericalKat

[2021-05-22 15:39] akselaase commented on #277
Should this be re-opened since the feature was reverted?

[2021-05-22 15:44] msfjarvis commented on #277
Yep.

[2021-05-23 05:58] msfjarvis commented on #1415
I can repro the bug on my device now so I'll work on it today

[2021-05-23 06:58] msfjarvis commented on #1415
The issue appears to be that `KeyStore#deleteEntry` being called [here](https://github.com/android-password-store/Android-Password-Store/blob/f2ad7e489f9330692bdc8f912638886061837d5c/app/src/main/java/dev/msfjarvis/aps/util/git/sshj/SshKey.kt#L172) doesn't appear to actually be deleting the entry, resulting in the persistent "Master key exists but cannot be used" errors. Generating a new key shoul

[2021-05-26 06:29] plant7403 opened #1422 "[BUG] Bromite browser, no autofill"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'bromite browser'
2. Click on 'any password/login field'
4. See no autofill or password suggestion

**Expected behavior**
Password suggestion

**Device information (please complete the following information):**
 - Device: Xiaomi Mi 9
 - OS: xiaomi.eu MIUI, Android 11
 - App version 1.13.4

[2021-05-26 06:35] msfjarvis commented on #1422
Where did you install Bromite from? We already [support](https://github.com/android-password-store/Android-Password-Store/blob/373a46f73a51bda3900b895f72fba5ca619e5884/autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt#L74) it, but it's strongly tied to the official signing key to prevent phishing attacks from a compromised build of the source

[2021-05-26 07:24] plant7403 commented on #1422
@msfjarvis F-Droid? F-Droid privileged extension? 🤔

[2021-05-26 07:40] msfjarvis commented on #1422
Bromite's on F-Droid? Curious...

I'll take a look, thanks!

[2021-05-26 07:57] plant7403 commented on #1422
There's Bromite official F-Droid repository
I thought this is the only one correct way to install it 😅😅😅

[2021-05-26 08:30] msfjarvis commented on #1422
I'm not an F-Droid user so I typically download their releases directly from GitHub whenever I do end up using Bromite. That being said, the APKs being distributed through F-Droid are identical to what is published on GitHub Releases, and should work just fine.

Are you sure Autofill has been enabled in Password Store? If so, can you try a different Chromium-based browser and see if that works for

[2021-05-26 08:34] msfjarvis commented on #1422
Nevermind, it seems Bromite has [completely removed Autofill support](https://github.com/bromite/bromite/blob/master/FAQ.md#does-bromite-support-the-android-autofill-framework).

[2021-05-26 08:34] #1422 closed, assigned to msfjarvis

[2021-06-03 20:47] plant7403 opened #1428 "Add Styx browser to supported"
Sorry, but I didn't know what to write 😅
Please add Styx browser to the supported browsers
I've heard this browser is actively developing and becoming popular among privacy fans
https://github.com/jamal2362/Styx
Available from Google play, Github, F-droid(Izzy repo)

[2021-06-03 23:38] msfjarvis commented on #1428
Can't help with an empty issue body.

[2021-06-04 07:39] plant7403 commented on #1428
@msfjarvis, master, reopen please 😅

[2021-06-04 14:04] rounakdatta commented on #1188
@msfjarvis can I start an attempt at implementing this feature?

[2021-06-04 14:34] msfjarvis commented on #1188
Sure thing! Please start a new [discussion](https://github.com/android-password-store/Android-Password-Store/discussions/new) if you need any help during the process.

[2021-06-07 10:22] msfjarvis commented on #1428
Fixed by #1431, should be available in the latest [snapshot](https://android-password-store.github.io/docs/users/release-channels) in the next few minutes.

[2021-06-07 10:22] #1428 closed, assigned to msfjarvis

[2021-06-07 15:33] plant7403 opened #1434 "Autofill non-inline presentation does not work on API 30 and above"
Version: 2.0.0-SNAPSHOT
Describe the bug:
Autofill doesn't work, Leaks constantly drops notifications like: "Found x retained objects grouped as..."
Logcat:
[code]

[2021-06-07 15:49] msfjarvis commented on #1434
You can go into the Leaks app and turn off heap dumps from the settings page, though I need to do something about this long-term.

Does Autofill not work at all for you even after disabling heap dumps? What about long pressing on text fields and using the Autofill option there?

[2021-06-07 16:07] plant7403 commented on #1434
i can't find the settings there, just about menu
and there's some automatic heap option
even after disabling this it still shows the notifications

on some websites/browsers it's showing autofill button on a long press, on some websites/browsers not
but in any case password store doesn't appear
(yes, permissions are all allow 😄)

[2021-06-09 13:19] plant7403 commented on #1434
UPDATE:
Autofil works, BUT not as popup!!!
I used some FOSS keyboard before, and it accidentally switched to Gboard, and it shows there! 😲 like tabs right in Gboard!

[2021-06-11 14:40] msfjarvis commented on #1188
@rounakdatta do you need help with this?

[2021-06-14 12:16] fmeum commented on #1434
@xxxcrow Which keyboard did you use that didn't show autofill suggestions?

[2021-06-14 12:17] msfjarvis commented on #1434
Finally got time to look into this, and we've definitely had a regression where with keyboards that do not support inline presentation, we don't show the pop-up. This applies at least to Android 12 for me and Android 11 for OP. Commenting out the `setInlinePresentation` call makes the pop-up show correctly on Gboard so I'm confused.

I'm currently trying out [FlorisBoard](https://github.com/floris

[2021-06-14 12:38] msfjarvis commented on #1434
With FlorisBoard as the current IME our Autofill matcher doesn't even kick in, which it consistently does with Gboard as the input method. Observed this behavior with `setInlinePresentation` disabled.

[2021-06-14 12:46] msfjarvis commented on #1377
Closing for inactivity.

[2021-06-14 12:46] #1377 closed, assigned to nobody

[2021-06-14 14:42] plant7403 commented on #1434
@msfjarvis I used florisboard, exactly 😃
Also, ok if it fails, it fails for bitwarden too
But for this case bitwarden has accessibility support to show it on the screen 😃 (I'm not sure exactly how it works with bitwarden, but it seems through the accessibility)

[2021-06-17 20:31] reisraff opened #1438 "[FEATURE] Allow setting a subdir of the repo as a base directory"
I don't know if it is related to https://github.com/android-password-store/Android-Password-Store/issues/111 but I hacked the way it works to work the way I want.

I mean.

[code]

I have a repository where I created the `.password-store` and I create a symlink to my `~` (home) to keep track not even the passwords in the repo but also more info that is confidential.

I'd like to have a way in the

[2021-06-17 20:47] msfjarvis commented on #1438
The other issue is not related, but we're not currently planning on supporting a custom 'base' directory.

[2021-06-17 20:48] #1438 closed, assigned to nobody

[2021-06-20 12:21] msfjarvis commented on #1195
Milestone: #1441 begins work on being able to decrypt passwords using Gopenpgp. This already works quite well, and we can roll it out to snapshot users once the necessary key management infrastructure around it is ready.

[2021-06-24 03:04] msfjarvis commented on #1188
Unassigned since @rounakdatta hasn't responded in 20 days.

[2021-07-01 13:04] plant7403 commented on #1434
@msfjarvis did something change in the last snapshots?
I flashed my phone with new firmware and updated snapshot
Now I have on screen tabs as it was with v1.*

[2021-07-01 18:26] msfjarvis commented on #1434
Not really, no. We haven't done any work towards this issue.

[2021-07-04 15:04] Myridium opened #1451 "`.gpg-id` has 'invalid key ID' when selecting a specific subkey with exclamation mark `ABC...XYZ!`"
Password-store for Android does not recognise a specific subkey selection, e.g. `141E0FE3342C4914!` (note the exclamation mark at the end). The `password-store` program for UNIX does accept this, and in fact this feature is necessary in order to encrypt for a *specific set of subkeys* associated with a given identity. If you use only `141E0FE3342C4914` then `gpg` will select the newest encryption

[2021-07-04 15:12] Myridium commented on #1195
Looks like issue #1360 is caused by OpenKeychain as well.

[2021-07-04 15:13] Myridium commented on #1360
I created a duplicate issue on this which I'm going to close. I'll paste here my version of this issue which may add more information:

Password-store for Android does not recognise a specific subkey selection, e.g. `141E0FE3342C4914!` (note the exclamation mark at the end). The `password-store` program for UNIX does accept this, and in fact this feature is necessary in order to encrypt for a *spe

[2021-07-04 15:14] Myridium commented on #1451
Duplicate of #1360 . I have pasted my text in that issue and closing this one.

[2021-07-04 15:14] #1451 closed, assigned to nobody

[2021-07-04 18:42] msfjarvis commented on #1360
The app does not directly use GnuPG, so we can't pass anything to it. I'd like to know a bit more about this entire mechanism before I do any implementation work.

Given a key with two encryption subkeys `ABCDEF...XYZ` and `012345...9` where the latter is newer, which subkey(s) should be selected if:

- `.gpg-id` contains `ABCDEF...XYZ`
- `.gpg-id` contains `012345...9`
- `.gpg-id` contains `ABCDE

[2021-07-04 20:24] Myridium commented on #1360
Is that a typo @msfjarvis or did you intentionally omit the B?

Assuming it was a typo: I don't know what the OpenKeychain behaviour is, but `password-store` desktop passes the key straight to `gpg`, which will throw key away and pick the newest one associated with the same identity. When I say "newest" I'm not sure what the actual specific criteria are.

For example, I had three different encrypt

[2021-07-04 20:31] msfjarvis commented on #1360
yeah it's a typo, the bane of trying to write things on my phone :)

Yeah I'm not concerned with OpenKeychain's behavior, I just want to know what the expectations are from GnuPG on the desktop so I can match it. We're already adding support for an alternative OpenPGP implementation in #1441 and #1446, which we intend to make the sole GnuPG provider in v2.0.

So given those three encryption subkey

[2021-07-04 20:39] Myridium commented on #1360
@msfjarvis I dug into the source code of `password-store` a little while back and if I remember correctly, all it does is read `.gpg-id`, extract the keys as space-separated words, and then pass those as arguments to the `gpg` encryption command which I think was `gpg -e key1 -e key2 -e key3 .....`. The `.gpg-id` file is not something standard to gpg I guess, but just a file by password-store to s

[2021-07-04 20:42] Myridium commented on #1360
When you use `gpg -e key1 -e key2 ....` my guess is that GPG looks up each key individually. If the key does not have an exclamation mark, then it thinks you're really just trying to look up someone's identity, I think you could also use a name or email address. So even if you give it 3 different keys, each one is resolved to the same identity, which has the same default encryption key, which is t

[2021-07-05 22:49] colonelpanic8 commented on #1118
I'm not sure what is meant by: "This is a discussion thread for users to comment on our proposal to remove support for Git features in external repositories"

Surely you're not talking about removing git support entirely right? This would be a huge step backwards and a terrible idea. If thats not what is meant I think you should clarify what "Git features in external repositories" means.

[2021-07-05 22:57] colonelpanic8 opened #1452 "[BUG] Strange Behavior in Phishing Resistant Search"
Perhaps this is by design, but it seems that when Phishing Resistant search is enabled, I must type the FULL name of the password before I get any results:

![NoResults](https://user-images.githubusercontent.com/1246619/124522883-f1c37300-ddb1-11eb-9ca2-9e41a3afe22d.jpg)
![Screenshot_20210705-165140](https://user-images.githubusercontent.com/1246619/124522888-f8ea8100-ddb1-11eb-915e-0778417954c5.j

[2021-07-05 22:59] colonelpanic8 opened #1453 "[BUG] Git files appearing in search"
Seems like these should be ignore by default

![gitfilesappearinresults](https://user-images.githubusercontent.com/1246619/124522984-5bdc1800-ddb2-11eb-8dfc-571afc89740b.jpg)

[2021-07-05 23:35] Holzhaus commented on #1118
I wondered about the same thing, but this question is already answered in the thread above. It *only* refers to git repos cloned by another app. The built-in git support will stay unaffected.

[2021-07-06 03:47] msfjarvis commented on #1453
Do you have "Show hidden files" turned on in the app settings?

[2021-07-06 03:59] colonelpanic8 commented on #1453
Shouldn't it be possible to show "hidden files" without showing git files?

I had "Show all files and folders" checked.

[2021-07-06 04:03] msfjarvis commented on #1453
We don't yet have a blocklist of file patterns that are always excluded. Can probably add it at some point.

[2021-07-06 04:04] msfjarvis commented on #1452
This is by design as of now and unlikely to change in the immediate future. We can revisit this closer to the 2.0 release, after our larger refactors are out of the way.

[2021-07-06 04:10] msfjarvis commented on #1118
As Holzhaus mentioned, this has been clarified already but I've reworded the OP in terms of app settings anyways.

[2021-07-07 21:39] TobTobXX opened #1454 "[FEATURE] Support unencrypted `git://` protocol"
**Is your feature request related to a problem? Please describe.**
My pass store is in a git repository that is accessible via the git:// protocol. Yes, I know this doesn't allow for authentication, but that's fine, because (a) the store repo is encrypted and (b) in my case it is only accessible within a VPN.

**Describe the solution you'd like**
Additionally to supporting the https:// and ssh://

[2021-07-08 02:44] msfjarvis commented on #1454
The choice to disallow `git://` is intentional and not going to change. FWIW, an SSH key is significantly more secure on a modern Android phone than the average Linux desktop, so generating one within Password Store and using it for authentication is going to be my suggestion regardless of your network sandbox.

[2021-07-08 02:44] #1454 closed, assigned to nobody

[2021-07-11 13:15] ghomasHudson opened #1455 "Support for pass-code"
**Is your feature request related to a problem? Please describe.**
There are definitely cases where it's important to keep even the fact that you have a password for a particular site secret. In normal `pass` this cannot be hidden.

**Describe the solution you'd like**
I saw the issue raised #329 about the difficulties implementing [pass-tomb](https://github.com/roddhjav/pass-tomb), and thought [p

[2021-07-11 14:36] msfjarvis commented on #1455
This is going to make the app prohibitively slow to launch, because it'll need to do a full decryption cycle for the `.passcode` file before it can populate the password list. It makes file names a useless concept, which complicates a lot of things like Autofill. It'll also make search either completely useless, or extremely slow, neither of which options I'm comfortable with even if the user will

[2021-07-11 14:36] #1455 closed, assigned to nobody

[2021-07-11 14:50] ghomasHudson commented on #1455
Thanks for your response @msfjarvis  - Fair enough. I didn't know decrypting a single gpg encrypted file was so prohibitively slow on launch. If that's true, then of course the other problems you identify are certainly dealbreakers. I assume creating some cached version of the mapping is not acceptable either.

I really hope that one day we find a solution to this. It's a real problem that genuine

[2021-07-11 15:05] msfjarvis commented on #1455
It's a direct result of relying on OpenKeychain where inter-process communication (IPC) is required for a successful decryption, adding significant overhead, on top of which there is throttling from the Android framework on how many IPC calls can be made by an app. You can notice this with just Autofill, where some fill-in operations will seemingly just hang for an extra second or two every so oft

[2021-07-11 15:12] ghomasHudson commented on #1455
Thanks for your detailed response @msfjarvis - that makes perfect sense. I've sent a few bucks your way to help the project.

[2021-07-12 07:51] bat9r opened #1456 "[BUG] Error from OpenKeyChain"
Hello!
I created a repository on local and configured it on remote using this example
https://git.zx2c4.com/password-store/about/#EXTENDED%20GIT%20EXAMPLE
Remote was configured on Github, cloning made by ssh key.
OpenKeyChain version 5.7.5
Password store version 1.13.4
Phone Samsung Galaxy s21
Android version 11

I received this error, every time when I try to open the password.
[code]

I already

[2021-07-12 07:58] msfjarvis commented on #1456
The source of this bug is your GPG version being too new for OpenKeychain. You can refer to [this](https://github.com/android-password-store/Android-Password-Store/discussions/1429) discussion for solutions. The corresponding OpenKeychain issue is [here](https://github.com/open-keychain/open-keychain/issues/2096).

[2021-07-12 07:58] #1456 closed, assigned to nobody

[2021-07-12 16:30] bat9r commented on #1456
It's working, thank you very much! :)

Steps:
[code]

[2021-07-15 18:35] arnaudmorin opened #1458 "[FEATURE] Add a login input box when creating a new password"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to add a new password in because I need to add an extra `login: ` before my login in the extra field.

**Describe the solution you'd like**
Most of my passwords are related to a login, so I'd like to a have a field to add a login just below the password, before the extra field.

**Describe alternat

[2021-07-16 01:00] plant7403 commented on #1458
@arnaudmorin there's "encrypt login" button actually 😅
By default Unix Pass uses the file name as login, optionally you can specify login inside therefore encrypt login 😄

[2021-07-16 03:54] msfjarvis commented on #1458
It's only for when a password is being created by Autofill and the directory structure is set to file-based.

[2021-07-16 10:39] hsingll opened #1459 "[BUG]steam otp show error"
**Describe the bug**
import my passstore repository.and steam otp show error.
steam uri is 5 digits.

**To Reproduce**
Steps to reproduce the behavior:
1. import steam's uri like otpauth://totp/Steam:uname?secret=xxx&issuer=Steam&period=30&digits=5.

**Expected behavior**
I think your otp tool didn't support custom parameter like digits.

[2021-07-16 12:25] msfjarvis commented on #1459
Fill the issue template properly.

[2021-07-16 12:25] #1459 closed, assigned to nobody

[2021-07-16 12:29] plant7403 commented on #1458
@msfjarvis sorry, I got confused, it shouldn't be somewhere? I have "encrypt username" switch on both pages 😅
Sorry if I didn't understand something, can you explain, please?  😅

[2021-07-16 12:40] msfjarvis commented on #1458
You're right, I slightly misread the code [here](https://github.com/android-password-store/Android-Password-Store/blob/fd6d0e52fc378eefd3de35bc9e7778897ccc396f/app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordCreationActivity.kt#L229-L232). The button shows if you use the second option for 'Password file organization' and there is no username being provided through Autofill.

[2021-07-17 11:15] msfjarvis opened #1461 "[FEATURE] Support multiple recipients in `.gpg-id`"
**Is your feature request related to a problem? Please describe.**

`pass` allows supplying multiple GPG recipients as individual lines in `.gpg-id` and encrypts to all of them, allowing multiple distinct keys to decrypt.

**Describe the solution you'd like**

APS should be able to do the same by parsing `.gpg-id` as lines of GPG identifiers.

**Describe alternatives you've considered**

None exis

[2021-07-17 14:25] sza-1 opened #1462 "[FEATURE] Add option to create a shallow clone with a truncated history"
**Is your feature request related to a problem? Please describe.**
It seems that currently Password Store creates a full clone of the repository including all previous Git commits (even thought this history is not used by Password Store). I believe that smartphone is not a primary device to work with pass repo, so a full repo history is not necessary there. A smartphone is just a lightweight termi

[2021-07-17 14:46] msfjarvis commented on #1462
This is an extremely niche use-case that I don't find convincing enough to add yet another user-facing option for. APS when used with a sufficiently modern smartphone is secure enough to not require snake oil mitigations like stripping Git history.

[2021-07-17 14:46] #1462 closed, assigned to nobody

[2021-07-17 16:31] plant7403 commented on #1462
@crazyh pretty good point actually, not sure if this is possible and it doesn't have any drawbacks
And I think additional security would be good in any case

[2021-07-17 16:39] sza-1 commented on #1462
Yeah, at least it should help saving some space in case of using old and huge repo. :)

[2021-07-17 16:43] sza-1 commented on #1462
Actually I found an alternative solution: do not share the primary repo with APS and give it access to the secondary, stripped, password repo only.

[2021-07-19 01:24] dfrost16 opened #1463 "[BUG] Infinite Loop while syncing repo or pushing it to remote"
![Screenshot_20210719-064707](https://user-images.githubusercontent.com/24663673/126089428-946ce034-055b-4d0f-85c1-f03c5f08ad2e.jpg)
Lately I have been facing this issue where the app keeps syncing forever
And it always ends with this
![Screenshot_20210719-065243](https://user-images.githubusercontent.com/24663673/126089559-76eb7f96-1b65-4acb-af46-f2a59fcbc761.jpg)
Though, if I use a vpn this issu

[2021-07-19 01:41] msfjarvis commented on #1463
As you've already noticed through your use of a VPN, this is an issue with your network and not the app.

[2021-07-19 01:41] #1463 closed, assigned to nobody

[2021-07-20 18:59] msfjarvis commented on #527
https://github.com/hierynomus/sshj/pull/703

Support for this is hopefully coming in the next release

[2021-07-21 04:35] dfrost16 opened #1466 "[FEATURE] Support for Kiwi Browser"
Support for kiwi Browser since autofill doesn't works on kiwi browser.

[2021-07-21 07:33] msfjarvis commented on #1461
@crazyh I see you starred the issue, are you able to test for this on the latest Play Store release? The code for supporting this [already exists](https://github.com/android-password-store/Android-Password-Store/blob/release-1.13/app/src/main/java/com/zeapo/pwdstore/crypto/PasswordCreationActivity.kt#L361-L368) so if it doesn't work then we might be looking at yet another OpenKeychain bug.

[2021-07-21 07:57] msfjarvis commented on #1466
Kiwi is [already supported](https://github.com/android-password-store/Android-Password-Store/blob/c60a2534d5f63d448f9c26d6ac8a933a74249d84/autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt#L83), if something doesn't work then it's broken on their end and you should contact Kiwi's devs.

[2021-07-21 07:57] #1466 closed, assigned to nobody

[2021-07-22 16:44] sza-1 commented on #1461
Hmm, yeah, just tried it on the following versions:

[code]
It works properly with the .gpg-id which contains two keys: test password was created in APS and properly encrypted with both keys.

[2021-07-22 16:50] msfjarvis commented on #1461
Thanks for testing it for me!

Closing this since it's already supported.

[2021-07-22 16:50] #1461 closed, assigned to nobody

[2021-07-23 17:16] Skrilltrax opened #1468 "[BUG] Autofill Service crash on the latest Twitter app"
**Describe the bug**
Autofill service crashes on Twitter's OTP text field. The crash happens just before the message notification comes in so ig it could be related to the message parsing feature. Attaching logs below so I or someone else can take a look at it.

**To Reproduce**
Login to the latest Twitter app.

**Expected behavior**
Autofill service should not crash.

**Screenshots**

**Device in

[2021-07-23 18:27] fmeum commented on #1468
The line numbers in the log don't really match our source code. I'm trying to reproduce this bug myself now.

[2021-07-23 18:38] fmeum commented on #1468
Reproduces on `develop`:
[code]

[2021-07-23 18:46] fmeum commented on #1468
@Skrilltrax Could you verify that https://github.com/android-password-store/Android-Password-Store/pull/1469 fixes the issue for you?

[2021-07-24 04:58] Skrilltrax commented on #1468
@fmeum just checked, it does fix the issue for me

[2021-07-24 05:00] #1468 closed, assigned to fmeum

[2021-07-24 07:18] hoseinmontazer opened #1471 "Can not save password!"
My device is redmi note 8 , I can not save password in app , without any error !

[2021-07-24 07:26] msfjarvis commented on #1471
XiaoMi's software is garbage, check [here](https://android-password-store.github.io/docs/users/background-killing-bugs) for ways you can fix this.

[2021-07-24 07:26] #1471 closed, assigned to nobody

[2021-07-29 19:40] pmartycz commented on #636
Here's a little script I run to unfuck the symlinks (remove `echo` before command after you verify it does what you want)
[code]

[2021-07-30 20:00] kolaente opened #1476 "[FEATURE] Enable fuzzy search in auto fill dialogue"
**Is your feature request related to a problem? Please describe.**
When searching for a password entry in the autofill dialogue it only finds entries with an exact match of the name. That can be a problem when I don't know the exact name but only eg enter the site name but that's not the exact name of the password entry.

Maybe related to https://github.com/android-password-store/Android-Password-

[2021-07-30 21:24] msfjarvis commented on #1476
Turn off 'Phishing-resistant search' from the Autofill dialog to enable fuzzy matching.

[2021-07-30 21:24] #1476 closed, assigned to nobody

[2021-07-31 05:51] kolaente commented on #1476
Ah, missed that option. Thanks!

[2021-07-31 07:50] orsinium commented on #1089
A little guide for future generations.

Get the long version of the key:

[code]

Now, just write it into `.gpg-id` instead of the short key and commit:

[code]

[2021-08-06 07:41] rEnr3n opened #1478 "[FEATURE] Allow user to add custom keys (not pgp key)"
**Is your feature request related to a problem? Please describe.**
The password file organization I use is `work/example.org/john@doe.org(.gpg)`.

All of my entries contain things like `URL: https://example.com/`, `Tag: xxx`. APS doesn't officially recognize them and puts them all in `Extra content:`. If I need to copy one of the values (e.g. URL), I would need to hold my finger on the string I wa

[2021-08-06 08:01] msfjarvis commented on #1478
This is a duplicate of #1191 and #1412, which was fixed but hasn't been released yet. If you want immediate access to the functionality you can use the [snapshot builds](https://android-password-store.github.io/docs/users/release-channels) but beware that downgrading back to the Play Store version will require uninstalling and reinstalling from the Play Store.

[2021-08-06 08:01] #1478 closed, assigned to nobody

[2021-08-10 08:56] binaryDiv commented on #1415
I've just encountered the same problem. Couldn't unlock my SSH key (same error message as above), tried to delete and recreate my SSH key, and am stuck with the same "master key android-keystore://sshkey exists but is unusable" error message. :/

Is there any news on this? Or at least some kind of workaround?

[2021-08-10 10:20] msfjarvis commented on #1415
There is no news on this. The only way to fix this appears to be reinstalling the app from scratch.

In case you have passwords that only exist in the app and want to sync them, you can export the entire repository as-is to a directory on your device storage. Then, pull that to your PC, and run `pass git pull /path/to/exported/folder <repository branch>` to import any commits that were made in the

[2021-08-11 02:18] EasyVector opened #1482 "[BUG] Onboarding view deals poorly with extremely low density screens"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, after I click the "let's go" button, **two buttons block a part of text on this new page**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesight, I

[2021-08-11 07:55] Skrilltrax commented on #1482
Hey, it's a duplicate of #1262 and it has been fixed. You can try using the snapshot builds for now.

[2021-08-11 07:55] SphericalKat commented on #1482
This has been fixed in #1271, and will be available in the next release.

[2021-08-11 07:55] #1482 closed, assigned to SphericalKat

[2021-08-11 07:59] EasyVector commented on #1482
OK, I am very grateful for your response!

[2021-08-14 07:06] colemickens opened #1486 "[FEATURE] Integrate hwsecurity to leverage PIV (for Solo v2 keys)"
**Is your feature request related to a problem? Please describe.**

Not really.

Solo Keys is having a v2 with Rust-based firmware. It seems, at launch, they expect to only provide a PIV-based application, and not an OpenPGP-based application.

I understand that on Windows and Linux, I have options, such as using `gnupg-pkcs11-scd`.

**Describe the solution you'd like**

Using this GPLv3 library t

[2021-08-14 08:42] msfjarvis commented on #1486
I don't have the time yet to actually look through the code but the simple fact that none of the maintainers own a SoloKeys product (to my knowledge) makes it a non-starter for us to work on it.

If someone can volunteer time to contribute this I'd be happy to assist them. Alternatively, sponsoring one of the maintainers for their time and whatever the cost ends up being for procuring one of Solo'

[2021-08-21 04:44] plant7403 commented on #1422
@msfjarvis no plan to add support? 😄
I see many new features for 2.0, and maybe it's a good time 😅

[2021-08-21 05:06] msfjarvis commented on #1422
It's not on me to support.

[2021-08-21 05:12] plant7403 commented on #1422
From bromite statement:

Some password managers have this workaround 🤔
I have no idea how hard it is, but maybe it's worth for 2.0 😄

[2021-08-21 05:28] msfjarvis commented on #1422
I've _removed_ accessibility Autofill for 2.0 and have absolutely no intention to add it back. Bromite's paranoia is not my problem to deal with.

[2021-08-22 19:32] Riven-Spell opened #1490 "[BUG] Cannot use Ledger Nano X OpenPGP.XL with OpenKeychain"
**Describe the bug**
A clear and concise description of what the bug is.
OpenKeyring fails to identify a matching key (even with a public key imported from local storage) from a Ledger Nano X.

This GPG "smart card" was set up using Kleopatra. My keys are present on keys.openpgp.org and set on card.

`gpg --card-status`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a Ope

[2021-08-22 19:34] msfjarvis commented on #1490
This clearly doesn't belong in this repo. OpenKeychain's issue tracker can be found here: https://github.com/open-keychain/open-keychain

[2021-08-22 19:34] #1490 closed, assigned to nobody

[2021-08-22 19:45] Riven-Spell commented on #1490
Oop, sorry!

[2021-08-22 19:48] msfjarvis commented on #1195
OpenKeychain has officially dropped the ball and gone into maintenance mode: https://github.com/open-keychain/open-keychain/commit/6f38af15828e07f0186109a89b7aa57f54101cfa

[2021-08-23 00:30] nickray commented on #1486
We'd be happy to send over a few keys for contributors, just drop an email to hello@solokeys.com if there is developer interest.

Thinking experimentally, there are a few projects named "passage", i.e. pass backed by age instead of pgp, including some with PIV backend. Also FYI, Nitrokey has plans to develop a PGP app, that would then run on both vendors' keys as they reuse our Trussed framework.

[2021-08-23 03:15] msfjarvis commented on #1486
Great, I'll have a chat with the maintainers and see who all are willing to take this feature up.

I've already been burned by OpenKeychain's poorly designed app locking us into its ecosystem then going into maintenance mode, so I'm very unlikely to switch to a different external app for PGP anytime soon. We're in the process of introducing a new PGP backend powered by [Gopenpgp](https://gopenpgp.

[2021-08-23 06:25] fmeum commented on #1486
I'm very much looking forward to replacing my usage of GPG with hardware tokens for SSH authentication and pass encryption with PIV/age. I don't think the age ecosystem is quite there yet though, but it also doesn't make sense to implement PIV support now if not backed by age. Based on my understanding of the ecosystem, the following parts are still missing:

- [ ] an age port of desktop pass
- [

[2021-08-27 05:57] richanshah commented on #1044
I didn't understand solution can anyone be more specific?

[2021-08-27 06:06] msfjarvis commented on #1044
~~It's fixed in the app, there's no solution to be sought.~~ I thought you asked from a user perspective, my apologies. The fix in the app was to first allow biometrics again which I had accidentally switched to be device credentials only, then to allow weak biometrics which are present on older devices that lack the secure hardware components for strong biometrics.

[2021-09-05 12:42] b23prodtm commented on #1415
Hi,
I had similar authentication issues on iOS and in fact Github already informed a year ago all developers that they'll be changing the way clients credential validate.. It turns out to be using the Personal Access Token Method[Github.com API](https://github.com/settings/tokens). It must be all repo Access  allowed in autorization plan.
Then replace the login password credential with generated t

[2021-09-05 12:45] msfjarvis commented on #1415
Thanks for letting us know @b23prodtm, unfortunately that doesn't apply to this specific issue.

[2021-09-05 12:48] b23prodtm commented on #1415
Thanks for your advice I'm using Android yet and it's definitely that issue I'm pointing out 😊

[2021-09-07 17:14] foxtacles commented on #1195
I think there might be an additional issue that leads to Password Store + OpenKeychain not working at all anymore for me on a (fresh) Android 11 install due to a change when it comes to a permission: https://github.com/open-keychain/open-keychain/issues/2701

[2021-09-07 17:16] Brli opened #1499 "[FEATURE] customize ssh port when configuring git repo."
**Is your feature request related to a problem? Please describe.**
it is always suggested to use non-default port when setting up ssh daemon, thus this request.

**Describe the solution you'd like**
Add another input area when editing git repo config.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2021-09-07 17:47] msfjarvis commented on #1499
You can provide the port as part of URL string as `ssh://github.com:$port/path`

[2021-09-07 17:48] #1499 closed, assigned to nobody

[2021-09-07 17:55] msfjarvis commented on #1195
The restrictions apply when apps target Android 11, which we do not.

[2021-09-08 20:50] ieure opened #1500 "[BUG] Hangs on "Running git operation…""
**Describe the bug**

When I finish the first run of Password Store on a new phone (or, subsequently, run "Pull from Remote"), it displays "Running git operation…" and does nothing else until I close it.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Password Store.
2. Attempt to clone or update the remote repo.
3. It displays "Running git operation…", but never completes, and my rep

[2021-09-09 05:18] msfjarvis commented on #1500
I have no clue how the Unihertz handles apps launching from the background, which is what OpenKeychain attempts to do. If you can find any info on that, it could explain what's happening.

Enabling debug logging does not start writing to disk, but it increases verbosity of the logs written to [logcat](https://developer.android.com/studio/command-line/logcat#Overview). If you can find a way to enab

[2021-09-09 05:31] ieure commented on #1500
Aha, this was the exact clue I needed.  Unihertz ships an "app blocker" which allows you to disable certain features, I guess in order to improve battery life.  Going into Settings -> Intelligent assistance -> App blocker -> OpenKeychain and disabling the "Start blocker" fixed my issue.

Sorry for the noise, thank you very much for the lead, and for Password Store generally.  It's indispensable.

[2021-09-09 05:32] #1500 closed, assigned to nobody

[2021-09-10 01:00] rk0n commented on #1453
Do you think it's possible to just exclude .git folder from search instead of add the complexity of removing specific file patterns?

[2021-09-10 01:48] colonelpanic8 commented on #1453
Agreed. I don't think there is any legitimate reason to ever show the underlying git files in this search.

[2021-09-12 22:54] Knusper commented on #1377
I think what OP means that he has issue when using a key with sub-keys: https://wiki.debian.org/Subkeys

Using a key without sub-keys works without problems, but I get the same error if I use a GPG key that has sub-keys.

[2021-09-13 02:15] msfjarvis commented on #1377
OpenKeychain has no support for it in their API: https://github.com/open-keychain/open-keychain/issues/2697. We'll try to address it in the new PGP backend we're working on.

[2021-09-14 17:04] komali2 commented on #518
If you're having this issue on Unihertz phones, the fix is related to background app blocking. Seems this is a trend among PRC phone vendors, they know better than you how you want your phone to work just like they know better than you how long it's ok to play videogames ;)

Related PR to DontKillMyApp: https://github.com/urbandroid-team/dont-kill-my-app/pull/342

Solution:

* Follow [other vendor

[2021-09-14 23:59] dschrempf commented on #1352
FYI: I also had big timeouts. Funnily enough, they mostly happened when clicking on an entry, which should be fast. Anyways, git garbage collection helped to get rid of the lags.

[2021-09-23 09:22] Skrilltrax opened #1505 "Replace Timber with logcat"
Currently the app and all other libs are using `Timber` for logging. Timber itself is pretty nice and solves a ton of issues but now Square released a new logging library called `logcat`.

Logcat improves upon timber and hence we should migrate to it.

https://github.com/square/logcat for reference.

[2021-09-23 12:01] msfjarvis opened #1506 "Convert issue templates to forms"
GitHub supports [Issue Forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms) that replaces issue templates and convert the wall of text that is a template into an interactive web form, improving UX for reporters which results in filed issues being more likely to be complete.

[2021-09-23 23:46] baj0k commented on #518
If you have this issue on MI Lite 5G with MIUI 12.5 I managed to get it working by following the optimization steps for MIUI 12 specified here:
[https://dontkillmyapp.com/xiaomi](url)

[2021-10-01 03:51] pt2121 commented on #1505
Can I take a stab at this?

[2021-10-01 04:34] msfjarvis commented on #1505
All yours.

[2021-10-01 08:48] ardje commented on #1120
Guys, if you do link local, the zone is mandatory.
However the formal URI for a link local address has been in flux.
Old version is [ip%interface], new and official version is [ip%25interface].
However ssh itself is not expecting URI, so it needs % and not %25 and it might interpret it as the zone number (you can use interface name or interface number).
A second thing is that for link locals to wo