[2020-05-03 16:33] msfjarvis commented on #650
Either works.

[2020-05-03 16:37] msfjarvis commented on #650
I can clone your repository perfectly fine on my phone which makes me wonder if the problem really is your old `git` version. Can you use the official Git PPA to upgrade to the latest stable version and see if that helps? The link is https://launchpad.net/~git-core/+archive/ubuntu/ppa

[2020-05-03 16:40] oren commented on #650
ok, here is my updated instructions:
[code]
I don't understand the difference between the last two lines though.

[2020-05-03 16:42] msfjarvis commented on #650
Passing `--set-upstream` tells git that the local branch `master` tracks the remote branch `origin/master`, and so when you do `git pull` when `master` is checked out, it will automatically pull `origin/master`, and the same for when you do `git push`.

[2020-05-03 16:45] oren commented on #650
sudo apt-get update show me a bunch of errors - http://paste.ubuntu.com/p/Sn7CSffWrh/
I'll do some research to fix those and will update this thread. thanks!

[2020-05-03 16:54] oren commented on #650
I fixed the errors. is that all i need to run now?
[code]
I did that but my git is still 2.7.4

[2020-05-03 16:58] oren commented on #650
ok. installed it using 'apt-get install git'. I have 2.26.2 now. I'll try everything and report back.

[2020-05-03 16:59] oren commented on #650
wait. this is older version that what i had before...

[2020-05-03 17:00] msfjarvis commented on #650
2.26.2 is decidedly not older than 2.7.4

[2020-05-03 17:15] oren commented on #650
ok. just tried creating everything from scratch and i am getting the same 'could not read object while parsing commit' error. I tried both `/home/oren/pass-repo` and `/home/oren/.password-store`.

Is there a way to see the stack trace of the android app?

[2020-05-03 17:17] msfjarvis commented on #650
Running `adb logcat` after connecting the phone with USB Debugging enabled works. Alternatively using [pidcat](https://github.com/JakeWharton/pidcat) would automatically handle filtering for you.

[2020-05-03 18:03] oren commented on #650
Here are the parts that might be relevant:
[code]

[2020-05-03 18:22] Dioxo commented on #650
@oren Are you in a detached head from your git repository?
From what i can see, it happened also in #200, and the solution is to delete the data from your phone and try again. See [this comment](https://github.com/android-password-store/Android-Password-Store/issues/167#issuecomment-214522927)

[2020-05-03 18:53] oren commented on #650
I don't think I am in a detached head:
[code]

I'll uninstall the app and install it again like people at the other thread did.

[2020-05-03 19:01] kosciak9 opened #758 "[BUG] Unable to access password-store repository through Syncthing."
**Describe the bug**
I'm unable to use my store synchronized through Syncthing (external).

**To Reproduce**
Steps to reproduce the behavior:
1. Installed snapshot / Play Store release (tried both)
2. Add existing repository (usual setup)
3. List is empty, when I enable hidden files - `.git` folder is shown
4. My folder does not contain `.git` folder, adding passwords through UI is not reflected i

[2020-05-03 19:02] Dioxo commented on #650
I think you can go to Settings -> Apps -> Password Store -> Data - Clear Data. To not reinstall every time you try.

[2020-05-03 19:04] oren commented on #650
I re-installed. now i see: Pull repository without HEAD currently not supported.

[2020-05-03 19:20] Dioxo commented on #650
Are you pulling from your bare repo?
and also is the correct path?
Which path are you using to pull from your phone?

All i can think is that you're trying to pull from other side that's not your bare repo. [See this](https://stackoverflow.com/a/18173357)
I think it is `/home/oren/pass-repo` in your case as you documented it in the wiki.

[2020-05-03 19:39] msfjarvis commented on #758
I am not quite sure how you're having trouble getting this to work, so I'll just walk you through the steps I'd follow to setup a local repository without git and hopefully you can pinpoint where you went wrong and we'll see if the documentation needs updating.

- Install Password Store snapshot build
- Push my password repository from my Linux desktop to my internal storage, at `/sdcard/pass`.
-

[2020-05-03 19:40] oren commented on #650
yes - `/home/oren/pass-repo` but the error is happening even if i try to pull from the .password-store repo.

[2020-05-03 19:45] oren commented on #650
btw, Every time after adding a password (with the pass generate command) I have to run `pass git push origin master --set-upstream` so the commit will be available on the bare repo?

Is this the expected flow or maybe something is messed up with my setup?

[2020-05-03 19:53] chschlue commented on #650
Having to manually push to remotes is expected. (I think this could be automated using commit hooks)

But after having set up your remote tracking branch with `--set-upstream` or `-u`, `pass git push` should be sufficient.

[2020-05-03 20:05] Dioxo commented on #650
@oren Think that your `pass-repo` is actually a share point, so any modification (could be done by your Pc or Phone) is going to be only locally until you tell your repo that you modified something. Like it's a collect point.

Your Phone doesn't actually know that your passwords have changed from your computer until you pull from the repo and see the changes (also the PC must push the changes, if

[2020-05-03 20:11] Dioxo commented on #650
@oren can you try cloning from your PC and send the output?
` git clone ssh://oren@localhost:/home/oren/pass-repo/ ~/tmp/`

Confirm the path from the ssh command, it's going to create the repository in ~/tmp

[2020-05-03 20:14] oren commented on #650
tree ~/tmp -a -L 2

[code]

[2020-05-03 20:27] msfjarvis commented on #526
This is somewhat "working" on master. I can clone public repositories by not specifying a username, and then using an empty password but that seems to be a result of lax checks on our part so I'll try to make that more resilient and try to weasel in a way to make this case work as well.

[2020-05-03 20:30] Dioxo commented on #650
Well you're actually able to get the passwords from your bare repo and I don't understand why you have problems when pulling from your phone.
So i'm out of ideas right now... I'll keep searching and tell you when i've something.

[2020-05-03 21:20] Dioxo commented on #650
@oren After reading that you can't pull from `.password-store`.
What if you try to delete your `.pass-repo` and create it again with the newer version of git that you just downloaded.

Then try to pull again from your `.password-store`.
`pass git pull origin master`

 If you can't pull, show the output...

[2020-05-03 21:24] oren commented on #650
i don't deleting .password-store. i already did that after installing the new version of git but i'll do that again and try the pull command.

[2020-05-03 21:35] oren commented on #650
Pull command works (after asking for my password)

[code]
And I get the same error when trying to pull from my phone (/home/oren/pass-repo): `Pull repository without HEAD currently not supported.`

[2020-05-03 21:51] Dioxo commented on #650
Reading from [here](https://www.eclipse.org/forums/index.php/t/277633/)
It might look like the `pass-repo` is empty, because you did `git push` just after creating the `password-store` then you created test1 and test2 (without pushing the modifications), and It could be that there's no HEAD to pull from because the push was with an empty directory.

Try this
`git clone ssh://oren@localhost:/home/o

[2020-05-03 22:03] Dioxo commented on #650
If all of that doesn't works, try to pull from your `~/password-store/.git` folder directly in your phone.

[2020-05-04 01:21] oren commented on #650
FYI, i pushed after as well.

git clone ssh://oren@localhost:/home/oren/pass-repo/ ~/tmp/
[code]

cd tmp
git log -a

[code]

git show-ref --head

[code]

[2020-05-04 05:07] oren commented on #650
do you mean to copy the folder to my phone? I can't find the mount of my phone on my laptop. If you meant to point the app to the repo on my laptop and target the .git folder instead of password-store folder, I tried it and got the same error.

[2020-05-04 10:36] kosciak9 commented on #758
Hey, thanks for thorough documentation. I did exactly as you described sadly. I'm attaching screenshots of whole process. As you can see "Jj" random password I added is not there in filesystem and also my folder with password (personal) is not visible in the app.
![photo_2020-05-03_22-24-44](https://user-images.githubusercontent.com/4347034/80957426-647a3c80-8e03-11ea-883b-0c8569e70e61.jpg)
![phot

[2020-05-04 10:38] msfjarvis commented on #758
Hm I see the problem here. I'll prepare a fix for the May release.

[2020-05-04 13:01] msfjarvis commented on #650
There's now a [Gitter room](https://gitter.im/android-password-store/public) for APS which will probably make this go faster :)

[2020-05-04 21:40] kosciak9 commented on #758
Hey, that's awesome. Just to mention - I've been a happy user for a few years now, your app is rock solid and I love it! I was pretty sure fault was on my side and I didn't want to add anymore negativity to your issue tracker but seems like it might have not be all me this time :)

[2020-05-04 22:16] msfjarvis commented on #758
Very happy to hear that :)

A few releases ago we did a fat refactoring of how we handle things related to Git which loosened some checks around this case, which is why I tagged this with the regression label. I'm planning to roll this in with a long proposed "no-git" option to solve both problems in one go.

[2020-05-04 22:18] kosciak9 commented on #758
Great, looking forward to no-git option so much. Thanks again for the hard work!

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, May 5, 2020 12:16 AM, Harsh Shandilya <notifications@github.com> wrote:

[2020-05-04 23:41] IvanMalison opened #761 "[FEATURE] Make the name of the field used for username from encrypted extra content configurable"
The new autofill system seems to assume that directories/contaning files are to be used as the usernames for passwords, but I actually use a field within the file. Is this system of organizing passwords supported?

[2020-05-04 23:56] msfjarvis commented on #761
#707 should have resolved that since #705 seems to be the same issue as this. Use the first option for Password file organization, that should do the job.

[2020-05-05 07:35] FabianHenneke commented on #648
Getting close, but not quite there yet: There are no more build errors, but we now run into the build time limit (https://jitpack.io/com/github/mozilla-mobile/android-components/v39.0.1/build.log). I have inquired with jitpack support once more, they are very accomodating in my experience.

[2020-05-05 16:01] IvanMalison commented on #761
Ah I see. I think #705 is related, but I use a different field name for to set the username, so I'll make this issue about making the field name used configurable.

[2020-05-05 16:02] IvanMalison opened #763 "[FEATURE] Allow setting a default username to be used when none is specified"

[2020-05-05 16:04] msfjarvis commented on #761
That's very unlikely to happen. The best I can do is adding your field name to the list of fields we look up. Will create a PR for this after I finish with the other bug I'm working on.

[2020-05-05 16:12] msfjarvis commented on #763
Just a note for the future, please don't delete the issue template. Taking some time out on your end greatly improves the process on ours.

[2020-05-05 16:37] IvanMalison commented on #761
Why? Seems like it should be pretty easy to do.

[2020-05-05 16:40] msfjarvis commented on #761
I'm not interested in adding user-facing settings for cases that don't absolutely require them. This is something that can reasonably be resolved for the majority without exposing another knob for users to fiddle with, so that's what we will do.

[2020-05-05 16:44] msfjarvis commented on #761
[These](https://github.com/android-password-store/Android-Password-Store/blob/f99a14d95b7f9df482585f043ce1263662e66132/app/src/main/java/com/zeapo/pwdstore/PasswordEntry.kt#L166) are the fields we currently support for usernames as they match what we've seen in the wild. What field name are you using?

[2020-05-05 17:28] IvanMalison commented on #761
Can you motivate this? What's the harm? I'm pretty sure that most people that use pass possess a level of technological literacy that should make allowing this sort of thing harmless.

I use "user" which is the default that is used with rofi-pass: https://github.com/carnager/rofi-pass

Does it really make sense to have to make a code change to support every new field that someone might use for thi

[2020-05-05 18:43] msfjarvis commented on #761
There's more aspects to consider here than technical literacy (which by itself is not true in all cases, as many people have requested the barrier of entry be lowered). Every new settings option creates more clutter and devolves the experience for all users. My comfort with the CLI does not imply I am impervious to bad UI.

Yes, because there's a relatively small set of label names that I consider

[2020-05-05 20:28] #761 closed

[2020-05-06 09:46] assasinfil commented on #751
I found the bug in OpenKeychain, it is necessary to give it permission to create windows on top of others.

[2020-05-07 12:37] kevincox opened #767 "[BUG] "Display over other apps" settings panel keeps popping up."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Focus on a password dialog
2. Settings panel opens

**Expected behavior**
I stay in the app and the popup for filling the password works.

**Device information (please complete the following information):**
 - Device: Google Pixel 1
 - OS: stock ROM Android 10 QPA.191005.0

[2020-05-07 12:48] msfjarvis commented on #767
1.3.2 is extremely outdated and unsupported. Please check the README page for how to obtain a supported version. The bug in question is from the old Autofill implementation that has been replaced with a proper and more secure one.

[2020-05-07 14:08] kevincox commented on #767
Wow, I didn't realize that the app had been renamed. Do you have any ability to replace the old app to redirect to the new one? Or at least remove it from the play store?

[2020-05-07 14:35] msfjarvis commented on #767
The old app has been unpublished and a note was added to the description pointing to the new version. That's the best we can do.

[2020-05-07 14:57] kevincox commented on #767
Ok, because I have just let the app auto-install when restoring my phone
every time and had no way of knowing this. I'm sure I'm not the only one.

[2020-05-07 15:12] msfjarvis commented on #767
I'm aware you're not alone but we literally cannot do anything else about it.

[2020-05-09 10:52] Gigahawk opened #769 "[BUG] Odd autofill behavior with TD Canada app"
**Describe the bug**
Using the new Oreo autofill on the TD Canada app causes the username of the selected file to be pasted into the first available textbox.
The password is never pasted anywhere.

This issue did not occur with the old autofill mechanism.

**To Reproduce**
Steps to reproduce the behavior:
1. Open TD Canada
2. Attempt to use autofill
3. Username is pasted (instead of password) and

[2020-05-09 15:11] FabianHenneke commented on #769
Thank you for the very detailed report, especially the videos!

The root cause is that TD Canada messed up the `inputType` on their password field: It has the `TYPE_TEXT_VARIATION_PASSWORD` set, but is not even of `TYPE_CLASS_TEXT` (it has no valid class). Well, apparently our versions of Android are fine with that and still apply password masking, but it certainly makes the login form less access

[2020-05-09 15:28] msfjarvis commented on #769
I'm personally not very comfortable with the prospect of creating a possibility of filling passwords into the wrong fields. If there's absolutely no way to get TD Canada to address this then we can probably think about going forward with opening that can of worms.

[2020-05-09 17:29] FabianHenneke commented on #769
[A search on androidxref](http://androidxref.com/9.0.0_r3/search?q=&defs=&refs=TYPE_TEXT_VARIATION_PASSWORD&path=&hist=&project=frameworks) shows that `TYPE_TEXT_VARIATION_PASSWORD` is only considered by core Android classes if it shows up in tandem with `TYPE_CLASS_TEXT`. On that basis, I don't even know how TD Canada's login form manages to mask the password, but maybe they just rely on a custom

[2020-05-10 04:59] Gigahawk commented on #769
Well I couldn't find a way to submit a bug to the app developers but the email listed on the Play Store is just a standard customer support email so we'll see if I get a response.

[2020-05-11 20:13] #763 closed

[2020-05-12 09:19] msfjarvis commented on #648
When v1.8.0 rolls around we'll hopefully now be able to get F-Droid builds out as well.

[2020-05-12 09:28] FabianHenneke commented on #648
I have updated my fdroiddata PR: https://gitlab.com/fabian.henneke/fdroiddata/-/commit/ca8039def0ac126832649a62919c6a19eff0d85f
Once we are happy with it, I would simply run checkupdates and check whether we can even enable reproducible builds.

[2020-05-12 09:55] msfjarvis commented on #648
This looks good to go

[2020-05-12 21:41] msfjarvis commented on #512
Sesame processes the app shortcuts we create for recently used passwords and uses those as deeplinks. That string is not a direct intent action. You can open passwords directly by following the code [here](https://github.com/android-password-store/Android-Password-Store/blob/d695d21497e5f54f78316f77a1d637009b3ee633/app/src/main/java/com/zeapo/pwdstore/LaunchActivity.kt#L42-#L49). The activity is `

[2020-05-12 21:41] #512 closed

[2020-05-13 16:59] msfjarvis commented on #751
Other OnePlus 5 users I am in contact with have failed to reproduce this problem after following the recommendations on dontkillmyapp.com so I am closing this unless you have any further input that could point to an actual bug.

[2020-05-13 16:59] #751 closed

[2020-05-13 17:01] msfjarvis commented on #650
Closing this since the documentation is complete and correct. Any problems the reporter is having are being discussed on Gitter.

[2020-05-13 17:01] #650 closed

[2020-05-13 18:32] skrat commented on #751
Yeah excluding it from battery optimization solved the issue, but I'm not sure this is way to go. This is recommended fix for way too many things. Isn't there a way for you to explicitly invoke the app even if it's closed? If it's already selected in the options as key provider, then why not opening it explicitly instead of relying on it to be running all the time. Excuse my limited understanding

[2020-05-13 18:55] msfjarvis commented on #751
It's not as straightforward as just forcefully asking for an app to start. OnePlus makes unwarranted changes to the framework like all other Chinese OEMs and break apps in this fashion. This is not a problem on stock Android which means that our part of this is not problematic.

[2020-05-14 04:05] milogert opened #777 "[BUG] Cannot configure SSH git"
**Describe the bug**
When configuring git with SSH I enter the following information (personal information redacted):
* Username: `git`
* Server URL: `ssh.example.com`
* Port: `EMPTY`
* Repo path: `:passwords.git` OR `passwords.git` (both fail)
* Authentication Mode: SSH or OpenKeyChain. I didn't attempt password since I don't want to allow that in my repository.

When I press "Clone" it returns a

[2020-05-14 05:57] FabianHenneke commented on #648
Are we interested in using Fastlane/Triple-T? They seem to be compatible with F-Droid: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6775#note_342115325

[2020-05-14 06:43] FabianHenneke commented on #777
Thanks for the detailed report!

We should probably remove a leading colon before adding the slash.
However, specifying the path without a leading colon should work (and does work for my repositories). Could you provide us with the error message you receive in that case?

[2020-05-14 06:51] msfjarvis commented on #648
I wanted to look into using Fastlane and even without it I'll take anything to avoid more interaction with F-Droid than absolutely necessary. Please add the metadata to our repository.

[2020-05-14 10:00] #777 closed

[2020-05-14 10:04] FabianHenneke commented on #777
We improved the error checking in the Git server configuration activity in #779, which should fix the issue you are seeing. The change should already be in the snapshot build available at https://dl.msfjarvis.dev/APS/. Please give it a try if you have the time and if it should still not work, post here or open a new issue.

[2020-05-14 13:55] milogert commented on #777
Hey, thanks for such a rapid response! I tried out the snapshot you posted and everything synced down perfectly!

Also... Auto complete is 🤤 ❤️

[2020-05-14 16:27] msfjarvis commented on #680
#776 targets task 2 and hopefully unblocks further improvements :)

[2020-05-15 19:48] martini97 opened #782 "[BUG] Can't sync on server with ssh"
**Describe the bug**
My remote server uses publickey and password for ssh authentication (it was using OTP as well, but since it looks like this project does not support it, I've disabled it for my passtore user). When I try to sync  my password store I get this message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup server to use public key and password for ssh auth
2. Add se

[2020-05-15 21:01] msfjarvis commented on #782
We currently only support RSA keys for authentication, is your key using ED25519?

[2020-05-15 21:41] martini97 commented on #782
I'm using the key generated on the app, it's a RSA

[2020-05-15 22:24] martini97 commented on #782
For debugging I've disabled password, so for now this user should only require the SSH key for login in, but I'm still getting an error:
![image](https://user-images.githubusercontent.com/18130319/82100799-17d71100-96e1-11ea-9889-ac8ef7aa66ec.png)
Looking at my sshd logs I get:
[code]

[2020-05-15 22:42] msfjarvis commented on #782
I just tried using a key generated in-app and it worked for me. If you're using the default port, then the path should probably be relative to `$HOME`. Try dropping the `~` and if that helps I'll adjust the logic.

[2020-05-15 23:23] martini97 commented on #782
I've removed the `~` from the path, it didn't work, I've also tried generating a new key pair and still got the same error. Maybe it could be an issue with the keys permissions or the lib? I've also tried generating a key on my machine and importing it on the app, and it has issues identifying the key.

[2020-05-16 20:28] msfjarvis commented on #782
Pretty unlikely that it's an app problem, otherwise I'd be able to reproduce it in some manner. Both Linux generated and APS generated SSH keys work as intended for me so I'm a bit lost on what could be causing it.

[2020-05-17 05:16] FabianHenneke commented on #782
Is it possible that JGit simply can't deal with multiple AuthMethods? Based on the logs, it does seem to send the public key, bit maybe chokes on the password then?

[2020-05-17 06:47] msfjarvis commented on #782
The SSH part is handled by Jsch which makes this an even likelier situation. I'll try to confirm it on my end.

[2020-05-22 19:23] C0DK opened #784 "[BUG] path cannot be relative"
**Describe the bug**
When creating a new password store via SSH (so remote) you can input the `path name` however it has to be absolute, which kinda sucks. I'd love for it to be relative to my home repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app with no remote store
2. create remote store with ssh
3. input a valid (relative) path
4. See error

**Expected behavior**
It to

[2020-05-22 19:30] msfjarvis commented on #784
In the current master you can set relative paths for default SSH port and require to have an absolute path for custom ports. Does that match what you expect?

[2020-05-22 20:26] C0DK commented on #784
oic - i didn't realize that it would accept default ports, so i inputted 21 manually, which was the reason for my mistakes then.

[2020-05-22 20:26] #784 closed

[2020-05-23 15:16] FabianHenneke commented on #648
In order to get 1.8.0 to build on F-Droid, I will have to add a scanignore for the binary version of the Public Suffix List, but that should be fine.

Out of curiosity, I also enabled binary verification and ended up with the following diff between our release and the F-Droid build:

[code]

Everything here seems related to coroutines, but since all Kotlin language/stdlib versions are tracked in b

[2020-05-23 15:54] msfjarvis commented on #648
Not really sure why that would be...

[code]

Even our transitive dependencies are all using coroutines 1.3.5

[2020-05-23 16:02] FabianHenneke commented on #648
Could it have something to do with R8? I vaguely recall some coroutine dispatcher related optimizations in R8. I'm not sure how R8 is versioned though.

[2020-05-23 16:04] msfjarvis commented on #648
R8 is versioned by the Android Gradle Plugin, it's pinned to a specific version and cannot be overriden by transitive dependencies.

[2020-05-23 17:27] FabianHenneke commented on #648
I updated the MR at https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6775. Should not be much longer until we are on F-Droid again.

[2020-05-24 09:30] Arax20 opened #789 "[BUG] Git cloning over ssh uses the wrong repo path"
As of version 1.8.0, I have been unable to perform any git operations with my password store. The application returns the following error whenever a pull/push/synchronize request is made:
![image](https://user-images.githubusercontent.com/45805601/82750587-f7085e80-9d65-11ea-90c2-cf38821db760.png)
As is visible in the screenshot, I believe the issue to be that there is a missing '/' in the path to

[2020-05-24 10:00] msfjarvis commented on #789
We're aware of the problem, it's a regression in the app. I am working on a fix https://github.com/android-password-store/Android-Password-Store/pull/788

[2020-05-24 10:45] #789 closed

[2020-05-24 11:22] msfjarvis commented on #782
Sorry about the delay with this. I can't seem to reproduce this problem, but I do see a blurb about `keyboard-interactive` authentication in the Jsch docs so I'll probably implement that since #333 also requested that feature.

[2020-05-24 12:28] imr0 commented on #782
Hi,
I am having a similar issue since updating to 1.8.0 and also present with 1.8.1. I have a gitlab repository for the passwords and upon trying to sync, I get
`org.eclipse.jgit.errors.NoRemoteRepositoryException [insert repo path]: not found.`
The repository path is the correct one and I had no issues pre-1.8.0 and works from the desktop with regular git operations.

[2020-05-24 12:36] msfjarvis commented on #782
That's weird... Can you hop on [Gitter room](https://gitter.im/android-password-store/public) and test a couple APKs for me?

[2020-05-24 15:55] cipherboy commented on #767
I'm seeing the same behavior on a newer version of the app. Could we get this reopened? It is fully reproducible every time on my particular device, and is quite annoying because there's no way to bypass the prompt outside of removing the autofill functionality -- you _have_ to select a password from the store and it prevents you from entering one manually.

 - Device: Moto G6
 - OS: OEM's Android

[2020-05-24 17:35] msfjarvis commented on #767
The problem you're referring to only exists in the version of Autofill that is used on pre-Oreo devices. I use Autofill every single day across 3 devices and I simply cannot reproduce it. Would you be able to confirm that reinstalling does not fix it and a video recording of the bug in action so we can see what exactly is the problem?

[2020-05-25 06:48] ismail opened #794 "Support for ed25519 key type"
Trying to import ed25519 [0] formatted SSH private/pubkey pair doesn't work, which I think only RSA key-type formatted is supported at the moment? It'd be nice to support ed25519 keys as well.

[0] https://tools.ietf.org/id/draft-ietf-curdle-ssh-ed25519-02.html

[2020-05-25 06:53] msfjarvis commented on #794
Support for modern key ciphers will need a large rewrite that would unfortunately also regress some features so we're not committing to it right now. The issue is also a duplicate of #448 so I'm closing it.

[2020-05-25 06:53] #794 closed

[2020-05-25 12:53] ismail commented on #636
Just hit this issue with the latest release on Play Store, fyi.

[2020-05-25 12:54] msfjarvis commented on #636
That's why it's still open :) We haven't found a way to resolve it across all Android versions yet.

[2020-05-25 13:45] FabianHenneke commented on #448
I did a deep dive into potential options for us and thought that it would be a good time to document and discuss our options, either for v1 or v2.

1. Use an up-to-date JGit with the well-maintained [mina-sshd](https://mina.apache.org/sshd-project/) backend.
    - Has the advantage of having a rather sane API that e.g. would greatly simplify the OpenKeychain integration.
    - Requires moving to O

[2020-05-25 14:18] msfjarvis commented on #448
I'm not very comfortable with the 3rd idea. It's just a matter of time when Google Play starts doing takedowns at random over it and I don't need to reiterate what stupidity ensues after that.

Option 4 and option 2 both look great, though I have a slight inclination towards the former citing my general aversion to working with C, even if it's for JNI bindings.

[2020-05-25 14:33] msfjarvis commented on #568
Closing this in favour of keeping discussion consolidated to #448

[2020-05-25 14:33] #568 closed

[2020-05-25 14:36] msfjarvis commented on #663
With #776 we will be removing support for both TOTP and HOTP so I'm gonna have to close this. Delegating OTP to a dedicated and maintained app is a wiser choice than continuining to rely on functionality that none of the maintainers here use or endorse. I'd certainly recommend giving [andOTP](https://github.com/andOTP/andOTP) a shot!

[2020-05-25 15:52] FabianHenneke commented on #448
I went over the codebase of SSHJ and am positive that this is our best option.

Implementing a JGit backend that supports public key and password authentication is relatively straightforward thanks to SSHJ's well-designed API. We could also enable host key verification along the way without too much effort. This I could probably code up when I have the time.

OpenKeychain support is likely doable,

[2020-05-25 16:14] msfjarvis commented on #448
Sweet! Would wrapping up the PgpActivity breakdown help with this? I'm more than happy to invest extra time in getting it done if it's gonna make it easier for you.

[2020-05-25 17:16] cole-h commented on #663
That's unfortunate. The downside is I'll have to continue using 2 apps to log in (this and whatever OTP app I choose). However, I can certainly understand where you're coming from. Thanks for the great project!

[2020-05-25 20:05] FabianHenneke commented on #448
For now I would just try to prototype a drop-in replacement for the current password/pubkey flow. When we have gained some experience with it and it does work for users, we could think about the steps needed to also replace the OpenKeychain flow.

[2020-05-26 06:29] FabianHenneke opened #795 "[BUG] Cannot generate an SSH key before cloning"
**Describe the bug**
When Password Store is started for the first time (or after deleting a repository), it offers to "Clone from server". However, it is not possible to generate an SSH key at that time since the respective settings option is hidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Reset Password Store.
2. Start it and select "Clone from server" or "Settings".

**Expected beh

[2020-05-26 06:35] msfjarvis commented on #795
Does this dialog not show up for you? The generate button does work as intended here.

![Screenshot_20200526-120229_Password Store](https://user-images.githubusercontent.com/13348378/82867818-1d3a2400-9f49-11ea-891b-b762e2faf747.jpg)

[2020-05-26 06:38] FabianHenneke commented on #795
Nvm then, I didn't know you improved the flow so much. ;-)

[2020-05-26 06:38] #795 closed

[2020-05-26 09:31] msfjarvis commented on #543
Please open another issue if you can reproduce this on the current stable release.

[2020-05-26 09:31] #543 closed

[2020-05-26 09:33] msfjarvis commented on #506
Please create another issue if this is still a problem on the current stable release.

[2020-05-26 09:33] #506 closed

[2020-05-26 09:34] msfjarvis commented on #385
This has been resolved on master.

[2020-05-26 09:34] #385 closed

[2020-05-26 17:53] FabianHenneke commented on #448
I got trust-on-first-use host key verification and public key auth via all supported SSH key types (in particular ssh-ed25519) working on my local branch (https://github.com/FabianHenneke/Android-Password-Store/tree/fhenneke_sshj).

I have also switched the SSH key gen over to use the Android Keystore as opposed to a simple key file, but importing key files is of course still supported. As a proof

[2020-05-27 11:58] FabianHenneke commented on #408
For later: ProxyJump could be implemented with SSHJ along the lines of https://github.com/hierynomus/sshj/issues/494#issuecomment-471277584.

[2020-05-28 04:27] #448 closed

[2020-05-28 04:27] #494 closed

[2020-05-30 13:57] Rudd-O opened #812 "[BUG] crashloop on GrapheneOS after granting EXTERNAL_STORAGE permission"
[code]

[2020-05-30 14:01] Rudd-O commented on #812
Step by step:

1. Wizard at the beginning choice select external storage.
2. Folder selected.
3. Grant permission?  Yes.
4. App crashes (log above starts appearing in logcat).
5. Launching app again shows blank screen, log above repeats itself ad infinitum.

[2020-05-30 14:01] Rudd-O commented on #812
Clearing app cache does not help.

GrapheneOS 29-05-2020.

Latest Password Store released on F-Droid.

[2020-05-30 14:08] Rudd-O commented on #812
1.3.2 as released in the F-Droid store does not have this bug.

1.3.3 (latest) does.

[2020-05-30 15:04] msfjarvis commented on #812
1.3.3 is not the latest build, 1.8.1 is. You can find binaries on the Play Store or GitHub releases.

[2020-05-30 18:09] xdevs23 opened #814 "[BUG] Autofill password generation transparent overlay"
**Describe the bug**
When generating a password from autofill, instead of pasting the generated password, it only displays a transparent-gray overlay on top of the app that I was using. I can't tap on anything in the app, I need to leave the app and open it again from the launcher (doesn't have to be killed).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox Preview (or any other

[2020-05-30 18:41] FabianHenneke commented on #814
I have identified at least one issue that could result in this malfunction of the Autofill generate action. Are you using Password Store without a git repository by any chance? You can confirm that by checking that the Password Store settings *don't* show a "Generate SSH key pair" option for you.

@msfjarvis [This line](https://github.com/android-password-store/Android-Password-Store/blame/2428d4c

[2020-05-30 18:44] msfjarvis commented on #814
sigh :man_facepalming:. Thanks for fixing this up, I'm working on a full revamp of the decrypt screen UI atm.

[2020-05-30 18:48] xdevs23 commented on #814
I am using git over SSH. The repository is on a server.

![image](https://user-images.githubusercontent.com/6959245/83336827-e8b2c900-a2b6-11ea-9c47-2d0a111ed5e8.png)

[2020-05-30 18:56] FabianHenneke commented on #814
I have created a potential fix in #815. Once this has been merged and a few minutes have passed, could you try again with the then new snapshot build?

I'm unsure what the cause of this could be if not #815, but will keep looking. Were you able to use Autofill password generation e.g. with version 1.6.0?

[2020-05-30 19:03] xdevs23 commented on #814
Previously I was using APS 1.8.0 which has the same issue, before that I was using a version from the Play Store that did not have Autofill.

[2020-05-30 19:13] FabianHenneke commented on #814
The new snapshot build is out: https://dl.msfjarvis.dev/APS/. Could you give it a try?

Thanks, that will help our investigation.

[2020-05-30 19:18] xdevs23 commented on #814
It works now. After saving, the app goes away and inserts the username and password into the website.

Thanks for fixing it so quickly! :smile:

[2020-05-30 19:20] #814 closed

[2020-05-30 19:20] FabianHenneke commented on #814
Glad that it worked!

@msfjarvis It seems that isGitRepo() returned inconsistent results in this case (between UserPreference and AutofillSaveActivity). Do you have an idea how this could happen?

[2020-05-30 19:22] msfjarvis commented on #814
Not quite sure honestly. There's no committing being done in that section so the object database couldn't have changed, and we're not fetching so `getAllRefs` can't have changed either.

[2020-05-31 16:10] msfjarvis opened #820 "[BUG] Unable to Autofill credentials in PayPal app"
**Describe the bug**
It seems that some combination of bad behaviour from us and PayPal is causing the login fields to immediately get cleared after Autofill fills them in.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the PayPal app
2. Tap on the email field, search for and select your password from the Autofill dialog box
3. Fields are populated for a split second before being clear

[2020-05-31 16:12] msfjarvis commented on #820
PayPal rightfully sets FLAG_SECURE so I can't screenrecord it :(

[2020-05-31 17:17] FabianHenneke commented on #820
They clear their login form `onResume` and the Autofill framework apparently fills in our dataset before that happens. This breaks all Autofill apps that show authentication UI and don't require an additional confirmation step.

The only "workaround" I see would be to not return the fill-in data directly after the search flow, but rather add a new match dataset like the one we would show on subseq

[2020-05-31 17:47] msfjarvis commented on #820
Yeah we're not gonna hack around their stupidity.

[2020-05-31 17:47] #820 closed

[2020-06-01 15:42] msfjarvis opened #823 "GitOperationActivity regressions"
There's a couple new problems with GitOperationActivity that have surfaced in some more strenuous testing.

First off, we're leaking `GitOperationActivity` entirely on all activities involving SSHJ.

<details>
<summary>Leak trace</summary>

[code]

</details>

Secondly, the dialog showing the Git operation error now immediately dismisses, presumably due to the `GitOperationActivity` disappearing a

[2020-06-01 16:47] Rio6 commented on #767
Hello, I'm having the same issue too. I've uploaded a screen recording here [https://youtu.be/rpFQyyEGcYM](https://youtu.be/rpFQyyEGcYM)

- Phone: Samsung J4
- Android Version: 9
- App Version: 1.8.1

(sorry for the lag, my phone doesn't handle screen recording well)

[2020-06-01 16:52] FabianHenneke commented on #548
@msfjarvis I think that SSHJ could handle multiple authentication methods somewhat easily. I'm just unsure about the correct way to handle this in the UI. We could simply always allow password authentication if needed after performing public key authentication, which wouldn't need any additional UI. What do you think?

[2020-06-01 16:55] FabianHenneke commented on #767
Reopening since @Rio6's video shows that this bug can be triggered by the modern Autofill service.

[2020-06-01 16:58] msfjarvis commented on #548
I think that'd work well.

[2020-06-01 17:01] msfjarvis commented on #767
I'll dive into this in the morning.

[2020-06-02 07:53] jonathf commented on #767
Can confirm the same bug behavior as @Rio6 on the setup:

* Phone: Samsung Galaxy S10e
* Android version: 10
* App version: 1.8.1

[2020-06-02 08:15] msfjarvis commented on #767
@jonathf @Rio6 can you both check your accessibility services and check if the Password Store service is still enabled?

[2020-06-02 09:34] msfjarvis commented on #823
Fixed with #824

[2020-06-02 09:34] #823 closed

[2020-06-02 09:41] jonathf commented on #767
Yes, it is installed and enabled.

Note that the app works fine on most apps. It is just some that fails. In my case, I have problem with Chrome and Firefox.

[2020-06-02 09:43] msfjarvis commented on #767
That's the problem, it shouldn't be. We don't use the accessibility service on Android Oreo and above. Try disabling it manually and I'll push a patch to prompt users automatically.

That's just the flakiness of that old code at play.

[2020-06-02 10:53] jonathf commented on #767
Disabling the accessibility service did the trick.
Thanks @msfjarvis, much appriciated.

[2020-06-02 15:32] Dioxo opened #828 "[BUG] Alert dialog is shown 2 times when synchronizing repository and doesn't save passphrase"
**Describe the bug**
*If not checked "remember password"*
The alert dialog when synchronizing the repository is shown twice, the second time it shows as "wrong passphrase".

*If checked "remember password"*
The alert dialog is shown once, but password is not saved.

It only happens with this option, if I try with pull or push, it doesn't display many times and saves the password (but i don't see a

[2020-06-02 19:09] Dioxo commented on #636
I was looking again at this issue to see if I could find a solution and it magically worked with the recommendation that Fabian had given before, when integrating the java7 version of jgit, it recognizes the symbolic links.
I add a screenshot. See file `test.gpg` and `other.gpg`
![Captura de pantalla de 2020-06-02 20-54-26](https://user-images.githubusercontent.com/24482259/83558405-4b080580-a513-

[2020-06-02 19:13] msfjarvis commented on #636
Interesting, does it also work in release builds? Fabian's PR certainly didn't work for me and I usually test PRs on release builds so there's a good chance it doesn't, and needs additional R8 rules.

No, we're not going to do that. Symlink or actual, a password file has to end in `.gpg` to be considered a password.

[2020-06-02 19:30] Dioxo commented on #636
I don't really know how to test it in release builds. How do I do that? And I tell you if that works. ;)

[2020-06-02 19:30] FabianHenneke commented on #636
I think what @Dioxo was referring to is not my most recent PR, but rather the older observation that a more recent version of JGit does correctly deal with symlinks (likely because it has access to `toRealPath` and friends).

[2020-06-02 19:32] FabianHenneke commented on #828
@msfjarvis I'll see whether I can fix this independent of the answer to the following question, but do we know why JGit chooses to authenticate twice for a git pull followed by a git push? If we could resolve that, we would have both solved this issue and saved a roundtrip to the server.

[2020-06-02 19:35] Dioxo commented on #636
Yeah, I'm talking about this one

https://github.com/android-password-store/Android-Password-Store/pull/719

[2020-06-02 19:44] msfjarvis commented on #636
Generate a keystore following the steps [here](https://developer.android.com/studio/build/building-cmdline#sign_cmdline), then create a file called `keystore.properties` in the root of your repository with the following fields, with the alias and passwords you used when generating the keystore earlier. `storeFile` is a path relative to the `keystore.properties` file.

[code]

I'm aware.

[2020-06-02 19:46] msfjarvis commented on #828
It's running multiple commands separately [[reference](https://github.com/android-password-store/Android-Password-Store/blob/43ae4bbdb7c189e614f5f7af0a2dc53e70a741bd/app/src/main/java/com/zeapo/pwdstore/git/SyncOperation.kt#L39-L45)]. Not sure if this can be avoided, will investigate.

[2020-06-02 19:48] Dioxo commented on #636
I'll do it and I'll tell you what I got.

[2020-06-02 21:14] Dioxo commented on #636
Well, i did what you mentioned, i created my private key using keytool and the file `keystore.properties`, After that i did  `Build/Generate signed apk` in android studio and it creates a `app-release.apk`. I tried the apk on my phone and i works.

So not sure if it was like that the process to create the release build. What do you think @msfjarvis?

[2020-06-02 21:16] msfjarvis commented on #636
If `app-release.apk` was generated then it's a signed build. I guess I'll have to recheck that PR on my end too...

[2020-06-02 21:28] Dioxo commented on #636
Cool, keep me updated to see if we finally solve this issue.

[2020-06-02 23:38] Rio6 commented on #767
Yes that fixed it. Thanks!

[2020-06-03 06:01] msfjarvis commented on #636
Symlinks are still being clobbered for me on the release build.

[2020-06-03 07:40] FabianHenneke commented on #828
@Dioxo Could you check whether #829 fixes the issue for you? It should both fix the retry issue and remember the password for the duration of the entire sync operation.

@msfjarvis Are we okay with remembering the password for that long? We did previously and are now taking better care to clear it, but I still want to get your ok.

[2020-06-03 07:48] msfjarvis commented on #828
I think it's a perfectly reasonable duration, no issues with it.

[2020-06-03 09:25] Dioxo commented on #636
Could I go to the Gitter room and test the apk that you generate?.

[2020-06-03 09:26] msfjarvis commented on #636
Sure I'll upload it there.

[2020-06-03 11:05] chschlue opened #830 "[BUG] Tabs in extra content not displayed"
**Describe the bug**
Extra content view does not display tabs

**To Reproduce**
Steps to reproduce the behavior:
1. Open password entry containing extra content separated by tabs
2. Enjoy missing whitespace

**Expected behavior**
[code]

**Screenshots**
not allowed

**Device information (please complete the following information):**
 - Device: Nokia 7.2
 - OS: Android (One) 10
 - App version 1.8.1

[2020-06-03 11:18] Dioxo commented on #828
@FabianHenneke it works almost perfect with the fix that you did, the only problem is that the sync contains 2 operations (pull and push), so if i cancel the alert dialog when sync, it will cancel for the pull call, but it will ask it show again the alert dialog for the push call.

I would like to ask you what's the idea of this Alert Dialog? even if i type anything or cancel it, it will pull or p

[2020-06-03 11:26] FabianHenneke commented on #828
I would like to call that intended behavior for the purpose of that dialog. It's more of a question whether the sync operation should or should not run the push after the pull fails. @msfjarvis What do you think?

Could you provide me with steps to reproduce that? When I cancel the dialog, I get an error about SSHJ failing to read my key file - which makes sense as it can't read the private key wi

[2020-06-03 11:37] Dioxo commented on #828
For me, the sync is a atomic operation, even if it has to do a pull and after the push, if one of them fails, it would be usefull to have a error message.

I didn't do something different, the first time when cloning the repo i dont check "remember passphrase", and when i manually do a pull or push, if i cancel the alert dialog, it just do the action ignoring the fact that i canceled it.

[2020-06-03 11:45] Dioxo commented on #828
Or even if i write anything and press "OK", it continues to pull and push. That's why  i ask about the funcionality about this because the operations work no matter what I write or do in the alert dialog.

[2020-06-03 11:45] FabianHenneke commented on #828
That is pretty weird. Are you using SSH password authentication or public key authentication with a passphrase on the key file? If you look into the settings, is there an option for clearing the stored passphrase?

[2020-06-03 11:47] FabianHenneke commented on #828
Did you confirm that it really updates the repo/pushes the changes to the server? We had an issue until recently that would prevent any error from being shown even if the push or pull failed. Could you retry after pulling in the recent changes from the PS repo?

[2020-06-03 11:51] Dioxo commented on #828
Yeah, i confirmed it. I added some passwords from my pc and then pushed, then pull from my phone and canceled the pull operation, it did it anyways, it happens the same when writing anything or leaving blank space inside the dialog and confirm the operation.

[2020-06-03 11:55] Dioxo commented on #828
I also realised that, with a fresh install, when cloning, after importing the SSH key, it will show the dialog, if i cancel it, APS will clone the repo anyway.

I think the dialogue is not being taken into account and it doesn't have any effect to add something in it or cancel the dialog.

[2020-06-03 12:05] Dioxo commented on #828
Yeah, there's the option.

[2020-06-03 14:03] FabianHenneke commented on #828
What happens if you use that option once and then repeat your tests? Does the dialog still not accept the server operations?

It is conceivable that the dialog shows up even though the stored password is used, but I don't know yet how this could happen.

[2020-06-03 14:09] FabianHenneke commented on #828
@msfjarvis As in the screenshots above, some of the translations describe "Remember passphrase" as "insecure". I think that we should remove those parts of the translations.

[2020-06-03 14:16] msfjarvis commented on #828
Yeah we have a lot of translations that are outdated at this point. Maybe I should just get rid of all of them and migrate to Crowdin while we're at that...

[2020-06-03 14:18] Dioxo commented on #828
@FabianHenneke I deleted the stored passphrase, then a pull from repository to see if it works and the dialog is shown as usual, but if i cancel the dialog, the pull call is still executed.

I'll try to see this myself in the debugger to find why it continues the action even if it was cancelled. But normally what's the expected behavior ? I have to use which passphrase and there's a error message

[2020-06-03 14:23] FabianHenneke commented on #828
If you cancel the dialog, it will try to use the empty string as the passphrase. If your SSH key was created with encryption, but an empty passphrase, this might make the pull operation go though even if you hit cancel. But in that case, typing "foobar" in the dialog and confirming it should definitely lead to an error.

In general, the dialog will show up precisely if your SSH key is encrypted wi

[2020-06-03 14:54] Dioxo commented on #828
I see what you mentione @FabianHenneke , i tried with a SSH key with a passphrase and know the dialog works normal, so i think the problem is when having keys without passphrase.

And i don't know if it's good to continue the operation when the user cancels it because APS launches an error like `The checkInts differed, the key was not correctly decoded`. and like you said, if the ssh key doesn't h

[2020-06-03 15:14] FabianHenneke commented on #828
I will investigate this.

[2020-06-03 15:48] Dioxo commented on #830
I think its possible to just do a replace to add 4 spaces when displaying the extra content like

 `entry.extraContentWithoutUsername.replace("\t","\u0020\u0020\u0020\u0020")
`

but it will add spaces inside the extra content, i'm not sure if it's good to change the tab for spaces and saves them. Or only change the tab for spaces when displaying but in reality they are still tabs.

[2020-06-03 16:20] szaimen opened #831 "[FEATURE] webdav integration"
**Is your feature request related to a problem? Please describe.**
In the moment I have to rely on 3rd party apps like Nextcloud, Owncloud or other to sync my database.

**Describe the solution you'd like**
Would be really nice if there was a webdav synchronisation integrated into the app, since the apps I mentioned aren't really reliable in syncing files.

**Describe alternatives you've considere

[2020-06-03 16:27] chschlue commented on #830
@Dioxo
Perhaps the proper solution is much simpler and doesn't require a workaround.
Android UI can handle tabs properly, after all:
![Screenshot_20200603-181303-01](https://user-images.githubusercontent.com/40901018/83662380-b4495080-a5c7-11ea-985c-70f67cc7de9a.jpeg)
(Text with `\t` pasted into Gmail, for example, and that's not even a monospace font)

[2020-06-03 17:05] FabianHenneke commented on #831
Could you describe the issues that led you to say that these apps are not really reliable? I think that we would have a hard time building any kind of file synchronization into Password Store that would be more reliable than dedicated third party apps such as Nextcloud.

[2020-06-03 17:19] FabianHenneke commented on #828
I cannot reproduce this, neither with an SSH key generated in the app nor with one generated via `ssh-keygen -t rsa` or `ssh-keygen -t ed25519` on my computer.

Could you provide more details on how you generated the SSH key that leads to the issue you describe? Ideally, could you generate a new key pair in the same way for testing purposes and paste it here?

[2020-06-03 17:42] szaimen commented on #831
The problem is that those apps don't support 2-way synchronisation to my knowledge and cannot be trusted with a file that must be synchronized frequently - that is at least my experience.

Concerning Nextcloud: only their desktop client is able to synchronize files reliable in my experience but not their android app.

[2020-06-03 17:49] Dioxo commented on #828
After creating another key pair and deleting the application data, this problem no longer appears, which is rare because I haven't changed anything to my configuration on my server.
I don't know if it was a problem with my previous keys, but I think it was magically solved.
I think i can close this issue because your PR works perfect, thanks.

One last thing before closing, is it okay to show an e

[2020-06-03 17:51] msfjarvis commented on #830
Yeah there's no hacks needed here, if OpenKeychain isn't mangling tabs then it should be a trivial fix.

[2020-06-04 02:23] cipherboy commented on #767
Yes, @msfjarvis this fix works for me too. \o/ Sorry for bugging you!

[2020-06-04 05:32] nicobo commented on #277
Hi. Is there any news about this feature ?

I'm using [qtpass](https://qtpass.org/) on an everyday basis : it automatically refreshes updates and pushes whenever a change occurs and works great for me (git server with ssh key, no password as ssh key is for headless access)

[2020-06-04 06:10] FabianHenneke commented on #831
Have you tried syncing with Git and if so, is there something we could do to improve your experience with it?

[2020-06-04 06:51] msfjarvis commented on #277
Not at the moment, and it's unlikely to make it into the June release regardless — we have a lot of changes ongoing and don't have the development bandwidth. I'll consider this for the July release when the time for that comes around.

[2020-06-04 10:16] tBKwtWS opened #832 "More secure kex & MAC"
After running some ssh-audit tools, I removed some less secure key exchange algorithms and message authentication codes on my servers SSH config. This broke the Android-Password-Store app, no longer being able to authenticate.

The server logs shows what kex & MAC are being offered by the Android Password Store application.
[code]

I would be nice if one of the following could be supported:
[code]

[2020-06-04 10:35] msfjarvis commented on #832
A quick search for Keyex & MAC in the issues section would have taken you to https://github.com/android-password-store/Android-Password-Store/issues/448, which was closed after we implemented support for newer, more secure algorithms. You're not excessively paranoid, just jumped the gun on creating the issue :)

[2020-06-04 10:35] #832 closed

[2020-06-04 12:03] tBKwtWS commented on #832
Darn, I only read all open issues. Next time I will use the search box.

Thanks!!!

[2020-06-04 12:52] szaimen commented on #831
No, I haven't tried syncing with git because I have already a Nextcloud installation and would like to use that and not git...

[2020-06-04 13:04] FabianHenneke commented on #828
Could you check whether https://github.com/android-password-store/Android-Password-Store/pull/833 resolves this for you?

[2020-06-04 13:20] FabianHenneke commented on #831
I don't want to force you to use git instead, but please consider the following: Two-way synchronization via WebDAV seems to be a difficult problem that is unlikely to be solved by us in a satisfactory way if Nexcloud's and Owncloud's own apps fail to do so. Git, by design, is all about making sure synchronization is performed reliably and is both well integrated into the app and well tested.

Unl

[2020-06-04 14:24] Dioxo commented on #828
Fixes in #833 and #829 works well and solve this issue, so closing...

[2020-06-04 14:24] #828 closed

[2020-06-05 18:22] #767 closed

[2020-06-06 17:33] siwan05 opened #835 "[BUG] force open of "draw on top of other app" setting"
**Describe the bug**
When you click a password field it jumps to settings to allow passwordstore to draw on top of other apps even though it has already been allowed. When attempting to go back it jumps straight back to the setting.

Video showing the issue: https://photos.app.goo.gl/RQSXankMjLu67uAw6

**To Reproduce**
Steps to reproduce the behavior:
1. Go to fill in a password
2. Click on the pa

[2020-06-06 17:35] msfjarvis commented on #835
Please search through the issues, both open and closed, before opening new ones. This is a duplicate of #767 and was fixed by #827.

[2020-06-06 17:35] #835 closed

[2020-06-06 20:46] Dioxo commented on #680
Are you talking about Apache commons IO or Codec? Or both? @msfjarvis

[2020-06-06 20:51] msfjarvis commented on #680
IO at the bare minimum, would be nice to not require Codec either.

[2020-06-06 20:54] Dioxo commented on #680
I'll try to help with IO, I'll send a PR in next days with some progress in it. :)

[2020-06-06 23:22] Schueni1 opened #836 "[FEATURE] configure git pull behavior"
I would like to change the default git pull behavior to ```rebase``` instead of ```merge```.

In pass this is possible with something like:
[code]

[2020-06-07 11:54] Schueni1 opened #837 "Autocomplete respect subdomains"
I have multiple passwords for a single domain.
- a password for _cloud.example.com/user_
- a password for _gitea.example.com/user_
- and so on...

When I am in Firefox on one of these subdomains and I am prompted for a password, I always have to click on _search in store_. Otherwise it will just select the first entry that contains _example.com_.

Is this fixable?

[2020-06-07 15:48] posix4e opened #838 "[FEATURE] Make it easy to re-encrypt with new pgp keys"
**Is your feature request related to a problem? Please describe.**
I want to be able to create a new key to use

**Describe the solution you'd like**
I've already created the key and hooked it up, I can manually trigger it by opening and closing each password editing it, and it will get the new key. It would be better if there's a button which could do this automatically for all my keys. Simliar t

[2020-06-07 16:02] msfjarvis commented on #838
How `pass` operates on Linux versus how `Password Store` operates on Android are too different for us to be able to implement this satisfactorily. OpenKeychain results can often be slow and since we bind a reactive UI to those results re-encrypting every single password is going to be a time-consuming process with little incentive when doing it with `pass` is much more straightforward. If someone

[2020-06-07 16:03] posix4e commented on #838
Totally understandable!

[2020-06-07 16:03] #838 closed

[2020-06-07 16:32] FabianHenneke commented on #837
Autofill uses the public suffix +1 as the reference for matches, which is`example.com` in your case and would be e.g. `someone.github.io` since `github.io` is a public suffix. This is the "correct" choice for most websites that are neither personal nor work domains.

Could you elaborate on this a bit more? Does this selection happen automatically for you?

In a similar case, I would simply create

[2020-06-07 20:56] Schueni1 commented on #837
I tested a little more. Once I selected the correct password file for the given subdomain, it seems to remember it. Now the correct password for a given ```subdomain.domain.com``` is always at the top of the list.
Though it is still a bit confusing that all proposed options look the same. All of them are of the form ```example.com/user```.
The subdomain is not shown. If the usernames are the same

[2020-06-07 21:24] Schueni1 opened #839 "Imperfect German language support"
In the settings section the german language support is a bit patchy.
Some options are in english others are in german.
I think, if it is too much work to maintain multiple languages I would just remove language support for them and have everything in english. This would be absolutely fine for me, but the mix of languages is a bit weird :stuck_out_tongue_winking_eye:

![](https://i.imgur.com/D0RcfO

[2020-06-08 03:32] msfjarvis commented on #839
Localisation is done by volunteers, not us. We're in the process of migrating this to Crowdin.com to make it easier for users to contribute and once we have a few proofreaders we'll be able to have consistent translations. Leaving this open as a reminder to finish moving to Crowdin but there's not much I can do right now other than obliterating all translations since none of them are incomplete.

[2020-06-08 07:47] FabianHenneke commented on #837
Not showing (and storing) the subdomain has been a conscious decision on my part, but of course we can rethink this decision.

Most public sites use subdomains for their login page, but may even have multiple such pages on different subdomains. Thanks to the Public Suffix List, there is a way to assign to all these pages a unique and stable domain that is consistent with what browsers and other pa

[2020-06-08 08:05] FabianHenneke commented on #837
Also @Schueni1: Do you have a picture in mind of how this should work? When would you like to decide that the particular entry should be associated to the full domain? Should the entry only *show* the full domain or should it also *match* (only?) the full domain?

Please don't feel deterred by all these questions, it's just that getting this right without hearing a few use cases first seems unlike

[2020-06-08 09:13] Schueni1 commented on #837
As you said earlier, matching only the fulldomain might be an issue with big corp sites. On big corp sites I would just have an entry like ```schmoogle.com/user```
. If I am on service.schmoogle.com I expect it to still show the entry for this site.

For my selfhosted services I have a username/password for each subdomain. In my humble opinion there are two options to handle this:

• show all entr

[2020-06-08 09:27] Schueni1 commented on #837
Actually you first proposed option of having two autofill matches would work for me as well. I would just have to reorganize my password structure.

[2020-06-08 10:03] Schueni1 commented on #837
Actually putting the username inside the encrypted password-file solves the problem for me.

[2020-06-08 14:23] FabianHenneke commented on #837
Glad that this works for you, but it sounds like a bit of a hack ;-)

How about the following simple solution: We add a preference that lets users specify a list of domains they would like to be considered as additional public suffixes. This way, we don't have to change any of the actual autofill UI and will preserve the "correct" default. What do you think?

@msfjarvis Do you know a good way to l

[2020-06-08 14:35] msfjarvis commented on #837
Don't think there is any. Best bet would be an EditTextPreference backed by a StringSet as opposed to a String.

[2020-06-08 15:06] Schueni1 commented on #837
Sounds good to me!

[2020-06-09 11:45] #837 closed

[2020-06-09 14:44] chmduquesne commented on #165
There is an open pull request for that, though: https://github.com/eclipse/jgit/pull/55

[2020-06-09 14:46] msfjarvis commented on #165
And it has been open for 3 years with no response whatsoever. Even if it does get merged, we will not be able to use JGit 5 for many years still due to Android's lacklustre support for Java 8 APIs required by newer releases of JGit.

[2020-06-09 15:33] #812 closed

[2020-06-09 15:38] chmduquesne commented on #165
Sad thing, but understandable.

I would find it brilliant if `git-remote-gcrypt` could be supported because it would become totally safe to store passwords in a public repo, but one needs to be pragmatic.

Thanks for clarifying!

[2020-06-09 20:38] msfjarvis commented on #296
This issue has gone stale, please open a new one if this problem still affects the latest release from the Play Store.

[2020-06-09 20:38] #296 closed

[2020-06-09 20:41] msfjarvis commented on #329
At the moment there is no feasible way to implement this. To secure your usernames you can store them within the password file. Closing.

[2020-06-09 20:41] #329 closed

[2020-06-09 20:42] msfjarvis commented on #426
Is this still a problem with v1.8.1?

[2020-06-09 20:42] msfjarvis commented on #481
This issue has gone stale, please open a new one if the problem still affects the latest release from the Play Store.

[2020-06-09 20:42] #481 closed

[2020-06-09 20:43] msfjarvis commented on #552
This issue has gone stale, please open a new one if the problem still affects the latest release from the Play Store.

[2020-06-09 20:43] #552 closed

[2020-06-09 22:10] anoadragon453 commented on #426
It does not actually, hooray!

[2020-06-09 22:10] #426 closed

[2020-06-10 08:52] Dioxo commented on #680
In order to update this issue, with the merge of #840 , the last task is also completed ;)

[2020-06-10 09:08] FabianHenneke commented on #680
I updated the list, thanks for the contribution!

[2020-06-11 13:17] vendion opened #845 "[BUG] No-git store flow is broken"
**Describe the bug**
In the legacy version of password store it was possible to setup the app so that it could use a password store that was not a Git repo. For example I use SyncThing to sync my password store across all my devices, and I could point the legacy app to that and tell it to not use Git.

**To Reproduce**
Steps to reproduce the behavior:
1. Store passwords to the android device somew

[2020-06-12 06:08] FabianHenneke commented on #845
Can reproduce this, but at least for me the following worked:

6. Get asked to setup a git repo or use a local directory, choose local directory.
7. See a (truncated) snackbar that tells me to grant the relevant storage permission, tap "Grant".
8. Grant the permission, Password Store now works.

We might want to show the permission granting snackbar not just during first-time setup, but also after

[2020-06-12 06:19] msfjarvis commented on #845
Guess I'm gonna make this a dialog now...

I thought we did, I'll check.

[2020-06-12 12:12] vendion commented on #845
When I selected the option to use an "External repository" I did get asked to grant permissions for Password Store to have the needed permissions to access the directory but that didn't change anything.

I did finally get Password Store to see my passwords from the set directory but I had to force kill Password Store and relaunch it with the "External repository" options still set which is not ver

[2020-06-12 12:58] msfjarvis commented on #845
I think I now have a general idea of why this occurs so a fix should not be difficult to land over the weekend. Once #776 is merged I will take a stab at this.

[2020-06-12 14:58] #32 closed

[2020-06-12 19:53] msfjarvis commented on #680
With #776 landing we're now down to our last task :tada:

I personally feel that we should completely disable Git when the user enables the external repository option since there is no good reason to be doing that other than using a third-party sync solution like a WebDAV client or Syncthing. This would solve #845 as well as greatly simplify the work needed for us to transition to SAF for external

[2020-06-14 07:54] #470 closed

[2020-06-14 09:31] #497 closed

[2020-06-14 09:57] Schueni1 opened #853 "Delete multiple passwords"
When I select multiple passwords and try to delete them I have to confirm each password deletion separately.
Is this behavior intentional?
I think it would be nice, if I only have to confirm the deletion once with a message similar to this:
_Are you sure you want to delete X passwords?_

[2020-06-14 10:01] msfjarvis commented on #853
It's intended for now but I can change it.

[2020-06-16 22:04] msfjarvis commented on #168
This issue has gone stale and there is no maintainer interest in implementing it.

[2020-06-16 22:04] #168 closed

[2020-06-16 22:35] msfjarvis commented on #737
There's been no movement on this from OpenKeychain so I'll close this here for now.

[2020-06-16 22:35] #737 closed

[2020-06-16 22:39] msfjarvis commented on #648
Don't think we'll be able to get on F-Droid in time for this month's release either, our MRs are just going stable over on F-Droid GitLab :/

[2020-06-16 22:40] msfjarvis commented on #747
Closing for inactivity.

[2020-06-16 22:42] msfjarvis commented on #539
@FabianHenneke IIRC you use OpenKeychain for SSH auth, mind checking if this is still an issue?

[2020-06-17 06:05] FabianHenneke commented on #539
Works exactly as expected: I am being asked for authorization on the first clone, but not thereafter.

[2020-06-17 06:05] #539 closed

[2020-06-17 06:17] FabianHenneke commented on #284
While this wouldn't be too hard to implement in a very basic fashion (just a TextView that mimics the output of git log --oneline), it's not clear whether we should. It seems better to leave this to a dedicated Git app such as Agit.

@msfjarvis What do you think?

[2020-06-17 06:41] msfjarvis commented on #284
I've wanted to provide some basic read-only git functionality for a while now so maybe I'll tackle this for 1.10 next month.

[2020-06-17 13:05] #853 closed

[2020-06-17 15:14] Adonai commented on #648
I have 2 such MRs myself. Waiting in line. But I don't mind. Thanks for pushing it this far.

[2020-06-18 12:07] #532 closed

[2020-06-18 13:19] msfjarvis commented on #845
I followed these steps too, but pressing the 'Refresh list' menu option did _not_ prompt me to clone my repository first. I did however find a separate bug with the swipe refresh view that I've resolved.

[2020-06-18 13:24] msfjarvis commented on #845
Here's what I did:

1. Install a fresh copy of the app
2. Select clone from server, and the hidden directory option.
3. Filled in my details and cloned the repository
4. Went into settings, enabled 'External repository', and selected the directory with my test passwords
5. Was returned to the password list, and prompted for storage permissions.
5. Once permissions were granted, my new passwords we

[2020-06-18 13:34] vendion commented on #845
Ahh I did not do steps 2 and 3 from your list which is way the 'Refresh List' option may not have worked for me. Essentually what I did was the following

1. Installed a fresh copy of the app (it installed along side the legacy version that I had already installed and working)
2. Went into settings, enabled 'External repository', and selected the directory with my passwords (granting the perms whe

[2020-06-18 13:51] msfjarvis commented on #845
I must have misread then, I assumed the problem was that switching between the two types.

Now this part I don't necessarily understand. Did you not get [this](https://user-images.githubusercontent.com/13348378/85026865-daa9e700-b196-11ea-9497-4fdfac9df49f.png) screen upon launching the app?

When I selected a directory, I was returned to the settings page. Then I pressed back, and was taken to th

[2020-06-18 23:34] vendion commented on #845
I don't recall seeing that screen, although I won't rule out user error as it may have shown and I did something to some how skip it.

[2020-06-19 04:13] msfjarvis commented on #845
That's very odd... Can you please reinstall the app and make a screen recording of yourself navigating through? I want to see what exactly is the app presenting you so I can know what to fix. Thanks in advance!

[2020-06-19 16:49] msfjarvis commented on #839
There's nothing for us to do here so I'm closing this, if you are able to, feel free to update the translations through the Crowdin link in our readme file.

[2020-06-19 16:49] #839 closed

[2020-06-20 07:22] msfjarvis commented on #648
The new listing with [`dev.msfjarvis.aps`](https://f-droid.org/en/packages/dev.msfjarvis.aps) package name should show up on F-Droid soon depending on when their backlog gets processed, we're still in the middle of having the previous listing deprecated. Thanks to @FabianHenneke for keeping at this!

https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6844

[2020-06-20 07:38] msfjarvis commented on #297
Tracking in #111

[2020-06-20 07:38] #297 closed

[2020-06-20 08:51] msfjarvis commented on #322
This is being done in the background now.

[2020-06-20 08:51] #322 closed

[2020-06-20 20:31] xdevs23 opened #866 "[BUG] Cannot save passwords when generating from autofill"
**Describe the bug**
When generating a password from autofill, tapping the save button shows the error "Failed to delete password file null from the store, please delete it manually.". I use git over ssh.
This does not happen when done in APS directly.
@msfjarvis already knows about this.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox Preview
2. Go to twitter.com
3. Tap on "Log

[2020-06-20 21:15] xdevs23 commented on #866
Fixed by https://github.com/android-password-store/Android-Password-Store/pull/867#issuecomment-647044726

[2020-06-20 21:15] #866 closed

[2020-06-22 02:32] divad42 opened #869 "Autofill does not work as intended with IceCatMobile"
Instead of suggesting a password based on the url, in [IceCatMobile](https://f-droid.org/en/packages/org.gnu.icecat/) it just suggests passwords named "IceCatMobile".

[2020-06-22 05:01] msfjarvis commented on #869
Please don't remove the issue template while reporting bugs, we require it for a reason.

[2020-06-22 06:59] msfjarvis commented on #648
v1.8.1 has been deployed to F-Droid, v1.9.0 shouldn't be too far behind: https://f-droid.org/packages/dev.msfjarvis.aps/

[2020-06-22 07:12] FabianHenneke commented on #648
Do we know why the Markdown links are not shown correctly?

What I also don't know: Are there any manual steps involved in getting this updated to v1.9.0? I guess we'll know in a few days though.

[2020-06-22 07:14] msfjarvis commented on #648
Hopefully a problem on their end.

Shouldn't be but yeah we'll know in a few days.

[2020-06-22 07:18] #648 closed

[2020-06-22 07:26] FabianHenneke commented on #648
I asked the maintainers about the missing links. Also, we broke the build (see https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6997), so that may be part of the issue.

[2020-06-22 07:27] msfjarvis commented on #648
welp, I'll send a fix over.

[2020-06-22 08:45] FabianHenneke commented on #648
The new version has already been picked up: https://gitlab.com/fdroid/fdroiddata/-/commit/cdf2fe025e6b7932575040455cdc4cf854c461bb

Due to the switch to CI builds, the new version is also compatible with F-Droid's reproducible builds. I have submitted an MR to get this added: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6998

[2020-06-22 09:08] FabianHenneke commented on #869
This is the default behavior with browsers for which we have not explicitly enabled support. I reviewed the situation around `org.gnu.icecat` and consider it a reasonable addition to our list of supported browsers (see #871).

@divad42 Are you able to test whether #871 resolves the issue for you? If you are not comfortable with Android Studio, we could merge it and provide you with an APK of the d

[2020-06-22 09:57] FabianHenneke commented on #869
@divad42 We have added IceCat to the list of trusted browsers. Could you confirm that the issue is resolved for you with [this APK](https://dl.msfjarvis.dev/APS/) that contains the change?

[2020-06-22 18:04] divad42 commented on #869
It works perfectly!  Thank you so much!

[2020-06-22 18:22] FabianHenneke commented on #869
Great!

I take that as an independent confirmation of IceCat's certificate hash, so we've done our due diligence here.

[2020-06-22 18:22] #869 closed

[2020-06-22 18:23] FabianHenneke commented on #769
@Gigahawk Have you heard back from TD Canada?

[2020-06-22 18:27] Gigahawk commented on #769
Aside from a promise that it's been forwarded to tech support, nope.

[2020-06-22 18:41] FabianHenneke commented on #769
@Gigahawk I feared as much... I will close this for now as there is not really anything we could do that doesn't have negative side effects. But feel free to post here if you should get a response at some time or find the issue to have been fixed.

[2020-06-22 18:41] #769 closed

[2020-06-22 23:29] Schueni1 opened #875 "[Bug] Remember ssh key passphrase"
App Version: 1.9

Since version 1.9 the "Remember passphrase" feature for the ssh key is not working anymore.

After pulling down two or three times to synchronise the remote git repo I get asked for the ssh passphrase.

[2020-06-23 06:30] msfjarvis commented on #875
Please do not remove the issue template when reporting bugs, it makes things harder than they need to be :(

[2020-06-23 10:20] msfjarvis commented on #875
I just automated 50 sync operations and was never prompted for my passphrase, please update the issue with reliable reproduction steps as mentioned in the bug report template.

[2020-06-23 12:57] moppman commented on #875
Not OP, but probably related:
My ssh key has no passphrase. Since 1.9.0, I am prompted to set a passphrase or leave the textfield empty on each sync.
If I leave it empty (i.e. don't set a passphrase), syncing works. However, the "remember passphrase" flag doesn't seem to be honored on an empty passphrase, because I'm prompted again on each sync.

[2020-06-23 12:59] msfjarvis commented on #875
That's very helpful, thanks!

[2020-06-23 13:28] FabianHenneke commented on #875
@moppman Do you know how you generated your key? I cannot reproduce this with a key with no passphrase generated directly within Password Store, but it might very well happen with imported key files in other formats.

[2020-06-23 13:36] moppman commented on #875
@FabianHenneke I generated my key via `ssh-keygen`  from the `openssh-client` Debian package and then  imported it into Password Store.

[2020-06-23 13:39] FabianHenneke commented on #875
Okay, I should be able to reproduce this then. Which key type are you using and when did you generate the key approximately (this year, five years ago,...)?

[2020-06-23 13:43] moppman commented on #875
The key is a 4096 bit RSA key from Feb. 2018.

[2020-06-23 13:53] Schueni1 commented on #875
Same for me. 4096 bit RSA key generated about 3 years ago.

[2020-06-23 14:48] fmeum commented on #875
Could you test whether #880 fixes this for you?

@msfjarvis and I did not catch this during testing since we were using key files generated either in the app or with a current version of OpenSSH. OpenSSH changed the default key file format in late 2018 and the new key files do no longer use an empty string as passphrase if they are not encrypted, but indicate this directly.

[2020-06-23 21:56] gitwah opened #881 "force close on LineageOS 17.1 after selecting storage location"
Hello,
I'm on a Xiaomi Mi Note 2 with Lineage 17.1. I installed the latest app version from f-droid. After setting up the app I get an immediate force close, same happens every time I try starting the app again. Crashes apparently happen as soon as the app comes into contact with my password-folder.

How to reproduce:
1 install app via f-droid
2 open the app
3 click settings, connect to open keych

[2020-06-24 04:01] msfjarvis commented on #881
Would you be able to get a system log? [This](https://developer.android.com/studio/command-line/logcat) page explains how to go about it.

[2020-06-24 08:56] fmeum commented on #875
@Schueni1 @moppman Starting with 1.9.0, Password Store also supports `ssh-ed25519` keys. You might want to give it a try and replace your old keys, the new ones will certainly sign much faster.

[2020-06-24 14:00] Schueni1 commented on #875
I just generated a new ssh key with the following command:
[code]
 and imported it on the app. This solved the problem for me!

Though I think it isn't perfect that version 1.9 breaks the _Remember-Feature_  for 4096bit RSA SSH keys.

[2020-06-24 14:03] fmeum commented on #875
It does break it only for RSA SSH key files generated before 2019.

@msfjarvis If the fix solves the problem, should we publish it as a point release?

[2020-06-24 14:12] msfjarvis commented on #875
Yeah I think we should. Please create a 1.9.1 milestone and move this issue and the PR to it.

[2020-06-24 14:41] msfjarvis commented on #875
I tried to test this with RSA2048 and RSA4096 keys from OpenSSH 6.6.1p1, but I've still not received a passphrase prompt yet. Is there a specific set of flags I must pass to `ssh-keygen`? I've tried these so far:

[code]

[2020-06-24 14:45] fmeum commented on #875
I managed to reproduce the issue by passing in `-m PEM` using a modern version of OpenSSH.

[2020-06-24 19:35] Schueni1 commented on #875
Is this going to fix the empty password problem only or will it also work with old ssh keys with a password?

I don't know exactly when I generated my old ssh key and the openssh version I used :confused:

[2020-06-24 19:42] msfjarvis commented on #875
I'm not sure either tbh. Care to find out? [Snapshot build](https://dl.msfjarvis.dev/share/aps_1.10.0-SNAPSHOT.apk)

[2020-06-24 20:16] Schueni1 commented on #875
Nope. It does not. I just reimported the old ssh key on the new snapshot version and I'm still prompted for a password.

[2020-06-24 20:32] msfjarvis commented on #875
That's a bummer. If you can provide some details (like key type and size) then hopefully @FabianHenneke would be able to dig up something.

[2020-06-24 20:48] fmeum commented on #875
I would be particularly interested in reproduction steps. Does the issue really only show up after the third refresh gesture?

[2020-06-24 20:51] Schueni1 commented on #875
Hmmm. As I said it is 4096Bit rsa key generated about 2 or 3 years ago with `ssh-keygen`. I don't know which version of openssh it was.

I just generated a new 4096 bit rsa key and this is how it looks:
[code]

This is how my old rsa key looks like:

[code]
The fourth line in the old ssh-key private file is an empty line. Just before the random data starts.

[2020-06-24 20:51] Schueni1 commented on #875
It always shows up after the second refresh gesture.

Reproduction steps:
1) Import the old rsa ssh key on either app version 1.9 or 1.10-snapshot.
2) Pull down to refresh (Not prompted for a password)
3) Pull down again -> Prompted for a password

How reproducable is this?
100%

Does clearing cache and data make a difference?
No

With the new generated rsa key I'm not prompted for a password.
Rem

[2020-06-25 10:30] Schueni1 commented on #875
I think I could give you the private key after I cleared the git log and double checked that I removed it from all services I use...

[2020-06-25 12:47] Schueni1 commented on #875
I just managed to reproduce this error with a new key.
I used this version of openssh:
_OpenSSH_8.3p1, OpenSSL 1.1.1g  21 Apr 2020_
and generated the key with the following command:
`ssh-keygen -o -b 4096 -f ~/.ssh/test -C "test@test.xyz" -m PEM` and entered a password when I was prompted for it.
Then I imported the key on the app and after the second refresh I am prompted for a password.

[2020-06-25 12:58] fmeum commented on #875
I can reproduce the issue with these steps and will investigate. Thanks!

@msfjarvis In passing: The "wrong passphrase" indicator overlaps the new "view password" toggle button. Maybe there is some other Material style visualization for errors?

[2020-06-25 13:04] Schueni1 opened #883 "[FEATURE] Reselect a ssh key during initial setup"
**Is your feature request related to a problem? Please describe.**
When selecting a wrong ssh-key on a clean/fresh installed app there is no way back. You would have to go into the android settings and clear cache and data to be able to reselect the correct ssh key and try setting up the app again.

**Describe the solution you'd like**
An option in the initial setup interface to select/reselect th

[2020-06-25 13:24] fmeum commented on #875
@Schueni1 @msfjarvis The root cause is [this line](https://github.com/hierynomus/sshj/blob/3c85b8691550765604f5c4de5adac6fc1140d03d/src/main/java/net/schmizz/sshj/userauth/keyprovider/PKCS5KeyFile.java#L186) in the decoder for the old-style private key file format. It clears the buffer that holds the passphrase bytes and we are currently passing this buffer by reference. The decoder for new-style

[2020-06-25 13:32] fmeum commented on #875
Something else is broken too, though. Will have to take a deeper look.

[2020-06-25 14:24] msfjarvis commented on #875
I'll get that sorted.

[2020-06-26 06:47] #875 closed

[2020-06-26 07:30] msfjarvis commented on #883
Coming back to this, I'm still thinking of what a good UX for this entire process would be. Maybe make the SSH key selection a part of the server config screen? That'd certainly increase the information density in the screen to a possibly alarming level but it'd certainly unblock a few other things I'm working towards. @FabianHenneke @Skrilltrax care to weigh in?

[2020-06-26 15:14] fmeum commented on #883
We might want to wait until the new Keystore-backed key generation has been merged. With it, I would like to make generation of a new SSH key the default during initial setup. Importing an SSH key should still be possible (and not just once), but I would not put it into the server config screen.

[2020-06-26 15:23] msfjarvis commented on #883
Sounds good to me 👍

[2020-06-26 18:30] Skrilltrax commented on #883
I think we should add SSH keys to the initial setup. Then it can be reused to update user preference.

[2020-06-27 07:55] auscompgeek opened #889 "[FEATURE] Keyboard (IME) support"
Some misguided apps don't allow autofill. It'd be great if APS was also an input method to avoid having to use the clipboard.

[2020-06-27 08:00] msfjarvis commented on #889
I'm sorry, this is far too much work and complexity for something that I personally would never use.

[2020-06-27 10:16] nicoe commented on #845
I'd like to add my 2¢ to this issue:

I am also experiencing this issue. I tried removing and reinstalling the application without much success.
I did try to configure from the "Parameters" button or from the Installation / Configuration wizard that pop up the first time you start the application.

I am asked to choose a directory (which I do, it's on the SD card) and I grant the access to this di

[2020-06-27 10:55] msfjarvis commented on #845
What device are you using? That'd help me filter out the crash from Google Play logs.

Edit: never mind, Play Store logs are absolutely worthless :/ If you are able to get a log yourself I'd be eternally grateful.

[2020-06-27 16:31] msfjarvis commented on #875
~~I imagine this is a regression (https://github.com/material-components/material-components-android/issues/1444), I'll walk back a couple versions and see if I can find where this works.~~ Scratch that, Kotlin was the problem. Fixed it by doing [this](https://msfjarvis.dev/ga/317eb00fa358).

[2020-06-28 08:11] nicoe commented on #845
* Harsh Shandilya [juin 27, 2020 12:56]:

Oh I totally forgot that piece of information, sorry about that.
It's a Galaxy A3 2016.

But I did not install the Google Apps (I installed through F-Droid) so
my crash is probably not reported. I don't know how I can send the
crash dump but if you point me to some documentation I'll try to help
:).
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-06-28 08:17] msfjarvis commented on #845
There's some reading involved but it should be sufficiently straightforward to get through. You'll need the SDK tools from [here](https://developer.android.com/studio/command-line#tools-sdk), then clone [this](https://github.com/JakeWharton/pidcat) repository and run `python pidcat.py dev.msfjarvis.aps` from the directory after connecting your phone. Then get Password Store to crash and hopefully

[2020-06-28 11:25] fmeum commented on #875
@Schueni1 Could you verify whether the issue is fixed in the current snapshot build? We merged the PR that should fix it.

[2020-06-28 15:44] Schueni1 commented on #875
Yes it works! I'm not prompted for a passphrase any more.

[2020-06-28 15:49] msfjarvis commented on #875
Great, I'll prep 1.9.1

[2020-06-29 00:39] bbenne10 commented on #881
@gitwah: You may also want to check your version. It seems I was able to somehow install a 1.3.3 version from F-Droid this morning and had a similar issue when setting up the store. When installing from the correct link ([here](https://f-droid.org/en/packages/dev.msfjarvis.aps)), the issue disappeared.

[2020-06-29 08:12] #663 closed

[2020-06-29 18:04] nicoe commented on #845
* Harsh Shandilya [juin 28, 2020 10:17]:

Thanks for the info but there has been an update of Password Store and
now it does not crash anymore. The location is store in the parameters
but I am still stuck on the configuration screen whenever I launch the
application.
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-06-29 18:09] msfjarvis commented on #845
Can I see a screenshot of the screen you're stuck on?

[2020-06-30 10:00] gitwah commented on #881
Apparently, something went wrong with f-droid. Wanting to look into this issue again, I opened f-droid and installed password store from there, somehow resulting in two versions of the app being installed (the new being version 1.8.1) next to each other. Uninstalled the old one and the issue described in OP disappeared. Weird.

[2020-06-30 10:01] msfjarvis commented on #881
Sigh, we really need to get that old listing off F-Droid. @FabianHenneke any way for us to fast track this?

[2020-06-30 10:01] #881 closed, assigned to msfjarvis

[2020-06-30 10:05] fmeum commented on #881
Someone is helping us here: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7028

[2020-06-30 19:08] fmeum commented on #648
The old listing is now archived and should vanish from the F-Droid repo soon: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7028

[2020-07-01 14:14] fmeum commented on #747
I have investigated this issue some more and may have found the root cause. I have updated the bugs at the [Chromium issue tracker](https://bugs.chromium.org/p/chromium/issues/detail?id=1015381#c21) and the [Bitwarden issue tracker](https://github.com/bitwarden/mobile/issues/489#issuecomment-652438622) with my findings. If anybody can figure out how to trigger Autofill at all in a custom Chromium

[2020-07-02 09:20] ProjectMoon opened #912 "[BUG] SSH Key Auth Failure on Google Cloud Source Repositories in 1.9.x"
**Describe the bug**
In 1.9.x, both FDroid and Google Play, I cannot synchronize a Google Cloud Source Repository, with either an RSA or ED25519 key. At first, I thought it was a variant of #875. But I'm not sure that's the case now. With either key, it simply does not work. I get "exhausted all available authentication methods" as an error back.

**To Reproduce**
Steps to reproduce the behavior:

[2020-07-02 09:46] fmeum commented on #912
I don't think that percent encodings would work here, so the username would have to be `myusername@gmail.com`. But a user part with an '@' is not accepted by JGit's `URIish`, which then proceeds to connect to the host `gmail.com@source.developers.google.com` and fail.

The only possible fix I see is to manually fix this up in `SshjSession` (although that feels horrible).

[2020-07-02 09:58] ProjectMoon commented on #912
To be clear, the login method described above works perfectly fine in versions before 1.9, and is in fact how I'm using it with app version 1.8.

[2020-07-02 10:05] fmeum commented on #912
We switched the SSH backend since the old one does not support modern cryptographic algorithms. But apparently it dealt better with weird URIs.

[2020-07-02 10:07] msfjarvis commented on #912
Might be worth reporting it over at SSHJ as well and see what Jeroen thinks.

[2020-07-02 10:09] fmeum commented on #912
He can't fix it, it's JGit's URIish that is broken. Maybe JSch never used its parsing capabilities and just reparsed the string representation?

[2020-07-02 10:13] msfjarvis commented on #912
It's certainly possible. If we can work around it I think we should do it.

[2020-07-02 10:15] fmeum commented on #912
We can. @ProjectMoon Could you verify whether #913 fixes the issue for you? If you don't want to build PS yourself, we could merge the PR and you could try our snapshot APKs.

@msfjarvis This seems to be a regression, would you say it warrants another point release? Could you take care of the Changelog entry?

[2020-07-02 10:21] msfjarvis commented on #912
It does need a changelog entry but I'm hesitant to publish another release. The bug doesn't seem to affect a lot of people and I believe @ProjectMoon can switch to the snapshot builds for the next few weeks until 1.10 is due.

[2020-07-02 10:25] ProjectMoon commented on #912
I don't have the capability to build android apps at the moment (haven't set up android studio or anything like that). But I can try a snapshot APK.

[2020-07-02 10:31] msfjarvis commented on #912
All good, [here](https://dl.msfjarvis.dev/share/app-release.apk)'s an APK. GitHub Actions seems to be having trouble right now so I doubt the automatic snapshot deployment would work. The version code for this build is higher than the Play Store version, so you will not be able to downgrade to the Store version without having to reinstall (hopefully we haven't broken anything that would make that

[2020-07-02 11:22] #912 closed, assigned to nobody

[2020-07-03 08:50] nicoe commented on #845
Sorry for the late reply here's the screenshot.

AFAICS everything is right in the parameters (the location is stored, the key is stored).

![Screenshot_20200703-101238_Password_Store](https://user-images.githubusercontent.com/44782/86451166-cfb89000-bd1a-11ea-8a51-89c9f15a541f.png)

[2020-07-03 08:52] msfjarvis commented on #845
And what happens when you select 'Use local directory' (first button)?

[2020-07-03 09:31] nicoe commented on #845
* Harsh Shandilya [juillet 3, 2020 10:53]:

I have to choose the location between "SD Card" or "Hidden
(prefered)".

I choose "SD Card", it says that a directory has already been selected
and ask me if I want to use it or modify it.

If I choose "Use it" I am back at that screen.

If I choose "Modify it", I go to the parameters screen, a popup
appears telling me to choose a directory once I pushed

[2020-07-03 09:34] msfjarvis commented on #845
That doesn't seem to make much sense :/
What version of Password Store are you on?

[2020-07-03 10:35] nicoe commented on #845
* Harsh Shandilya [juillet 3, 2020 11:35]:

:(

1.9.0 from f-droid
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-07-04 23:32] oren commented on #518
I am on Xiaomi Mi 5. Where can I find the `Display pop-up windows while running in the background`? Is it somewhere in the settings of the phone itself or is it a setting of the OpenKeychain app? I was looking around in both and didn't find anything.

[2020-07-05 05:05] Skrilltrax commented on #518
@oren it is a part of phone settings. It should be on the app info page iirc.

[2020-07-05 05:44] oren commented on #518
Thanks! It was in Settings -> Apps -> Permissions -> Other Permissions -> OpenKeychain -> Enable `Display pop-up windows while running in the background`

[2020-07-06 09:58] msfjarvis commented on #482
This should actually already be resolved in the snapshot build (available [here](https://dl.msfjarvis.dev/APS/)), can someone verify this?

[2020-07-06 20:03] TinfoilSubmarine opened #922 "[FEATURE] Edit Entry Mode"
**Is your feature request related to a problem? Please describe.**
If I need to add some piece of information to a password file and that piece of information is stored in my clipboard, I am unable to quickly paste into the file. This is because whenever I open a password, the password is immediately copied to the clipboard and overwrites whatever data I had in my clipboard. Sometimes, this is jus

[2020-07-06 20:34] msfjarvis commented on #922
The flow you're using is the recommended one for now. The ability to directly edit passwords was removed for technical reasons and there are no plans at the moment to change this. If there's time left in the July development cycle I will consider tackling this.

[2020-07-07 12:11] fmeum commented on #270
Since doing this over USB requires root, we are very unlikely to work on that. But autotype via Bluetooth is something that I would find quite useful myself and would not require root - however, it would require the Bluetooth HID API and thus only run on Google/Samsung devices and a few others.

This functionality already exists in Authorizer: https://github.com/tejado/Authorizer/blob/master/autho

[2020-07-07 15:02] #747 closed

[2020-07-08 08:16] msfjarvis commented on #482
I can confirm this is fixed, closing the issue.

[2020-07-08 08:16] #482 closed

[2020-07-09 07:59] fmeum opened #926 "Chrome Autofill issues"
This is meant as a tracking bug for known issues with Autofill in Chrome (supported as of Android P).

1. **Autofill stops working until Chrome is restarted (observable on Android Q+)**

This is likely caused by [this bug in Android](https://issuetracker.google.com/issues/160665161) and can be confirmed by enabling verbose Autofill logging in developer options searching the output of `adb logcat`

[2020-07-12 08:40] Rudd-O commented on #812
1.8.1 is not in F-Droid.

1.3.3 is.

[2020-07-12 10:36] fmeum commented on #812
The current version on F-Droid is 1.9.2:
https://f-droid.org/en/packages/dev.msfjarvis.aps/

[2020-07-13 19:29] AeliusSaionji opened #928 "[BUG] Renamed site.com to site.com\username - file vanishes"
Some while back i transitioned from username in file to the file is the username, but I still have some entries I never updated.

I attempted to update an entry from Android-Password-Store just now and it responded by losing the file entirely!

[2020-07-13 19:33] msfjarvis commented on #928
Please don't remove the issue template in the future, some effort put in by you greatly improves our ability to triage and resolve the problem.

[2020-07-13 19:35] AeliusSaionji commented on #928
I guess this could be a bug report and a feature request depending on how we approach this- either sanitize the input against a user trying to do this, or implement a routine to create a folder (which is what I hoped might happen).

[2020-07-13 19:46] msfjarvis commented on #928
This is more of a we-should-make-things-clear situation as opposed to an actual bug. If you change the directory in the category name above the name of the password, you'll see that it properly creates the path and moves the file in.

[2020-07-14 06:26] #928 closed, assigned to msfjarvis

[2020-07-14 08:29] fmeum commented on #926
**Update:** The fix for 2. has passed code review: https://chromium-review.googlesource.com/c/chromium/src/+/2288852, which obsoletes the workaround.

[2020-07-15 08:32] fmeum commented on #926
Good news: I found a workaround for 1, but it's something that users will not come up with unless we tell them about it.

Bad news: The CL I submitted for 2 does not fully fix the issue in Chrome, although it did in Chromium. Will investigate more.

[2020-07-15 08:37] fmeum commented on #926
This gets weirder by the minute: I found a workaround for 2 as well, no idea why it works though.

[2020-07-15 08:37] fmeum commented on #926
@msfjarvis Could you verify whether these workarounds work for you when Autofill breaks in Chrome?

[2020-07-15 08:45] msfjarvis commented on #926
Neither of them worked for me on Chrome stable. I'll try on Canary after lunch and let you know.

[2020-07-15 09:41] msfjarvis commented on #926
No dice on Chrome Canary, even with Canary Webview.

[2020-07-15 10:02] fmeum commented on #926
Could you record a video? It's really terrible how non-reproducible all of this is, I'm close to giving up...

[2020-07-15 10:16] msfjarvis commented on #926
Began recording a video and the second workaround started working :/ this is all so stupid...

[2020-07-15 15:36] Rudd-O commented on #812
Ah.  Something was broken about my F-Droid.  I have received the update and looks very nice!  Thank you.

[2020-07-15 16:07] msfjarvis commented on #812
Thanks! Nothing was broken about your F-Droid, we simply had both the old and new listings up for a few versions and only recently got the old one removed due to all the confusion it has very evidently been causing.

[2020-07-16 06:48] #159 closed

[2020-07-16 13:40] fmeum commented on #926
My bad, issue 2 should finally be fixed, the fix was just not contained in yesterday's 86.0.4202.0 Canary release. It is contained in today's release 86.0.4204.0, so please try again with that one. How did I end up thinking that it was in 4202? Since source.chromium.org resets the tag on each search...

[2020-07-16 13:50] msfjarvis commented on #926
Can confirm it is fixed on my Pixel running Android 11 and Samsung M30s running Android 10 :+1:

[2020-07-18 10:07] matthijskooijman opened #937 "[BUG] Generate SSH key not available on clean install"
**Describe the bug**
[Documentation](https://github.com/android-password-store/Android-Password-Store/wiki/Generate-SSH-Key
) suggests to use "Settings > Generate SSH key pair" to generate an SSH key. However, I could not find this option in the settings when I tried today, so I ended up using OpenKeyChain instead.

Then, after succesfully cloning the git repo, the generate option suddenly appeare

[2020-07-18 10:11] msfjarvis commented on #937
Your assessment [is correct](https://github.com/android-password-store/Android-Password-Store/blob/d4379a47791ea0002eda9821f35c632f1e224962/app/src/main/java/com/zeapo/pwdstore/UserPreference.kt#L99). I think we can do away with this.

[2020-07-19 05:26] #937 closed, assigned to msfjarvis

[2020-07-19 12:36] msfjarvis commented on #830
Tried a bunch of things but I'm not really getting anywhere. OpenKeychain apparently 'normalizes' all tab characters to spaces based on my analysis of the Unicode codepoints of what we get back from decryption.

[2020-07-20 15:54] sudomain commented on #889
This is the single reason I use KeePassDX over Password Store. The [Android clipboard is not to be trusted with private information](https://github.com/grepx/android-clipboard-security) A password manager that solely relies the clipboard to enter passwords essentially advertises those passwords to any app that wants to listen. Listening apps may not know which service a given password is for, but

[2020-07-20 16:27] fmeum commented on #889
Just to get a better understanding of your specific situation: Why is Autofill not resolving this issue for you?

[2020-07-20 17:30] sudomain commented on #889
As @auscompgeek said

Nor should it always work: There are a few scenarios in a terminal emulator I use named [Termux](https://termux.com/) where I would not want autofill (ssh key passphrases, gpg, etc.)

[2020-07-20 17:36] msfjarvis commented on #889
Yes, that's exactly what we want to know: what apps?

You still have to manually make a selection before Autofill will write anything into any fields, if that's what your concern is.

[2020-07-20 18:57] sudomain commented on #889
Websites in Firefox/Fennec F-Droid are a big one (github, reddit, ...). Is Password Store meant to be used with web browsers?

My concern here was more along the lines of complex embedded password scenarios: If I'm in Termux and I'm ssh'ed into a different machine, I may or may not want a password to be autofilled from Password Store. Writing a framework into Termux that would allow this would tak

[2020-07-20 19:31] fmeum commented on #889
@sudomain Thanks for the elaboration, I think that I now have a much better picture of your threat model and use cases. I will think about what we can do.

Just one more question: When I developed password store's Autofill functionality, I found Firefox's Autofill support to be rather good. Does it not work for you in the case of e.g. reddit?

[2020-07-20 20:00] sudomain commented on #889
Thank you for considering it.

For me it does not. Might have something to do with matching the URL? (I use old.reddit.com). Additionally I have browser extensions that could be affecting autofill: NoScript, HTTPSEverywhere, uBlock origin

[2020-07-20 20:44] fmeum commented on #889
This is weird, I just confirmed that it works very well for me on old.reddit.com in Firefox (with only ublock origin). It looks as follows:

![Screenshot_20200720-222441.png](https://user-images.githubusercontent.com/4312191/87984589-7900d380-cada-11ea-8331-47528257b280.png)

Do you get similar Autofill prompts in other apps?

[2020-07-20 20:50] jpro-personal opened #945 "Can't sync to a gitolite repository"
Hi,

I'm trying to setup Android-Password-Store against a gitolite repository, but whatever I try I get the jgit error invalid origin.

If I clone the gitolite repo to a bare repo for a normal user account I can sync straight away.

Looking through similar issues I wonder if it is because I'm can't give the full path to the repo - e.g /home/git/pass.git instead of just pass.git as gitolite wants.

[2020-07-20 21:50] sudomain commented on #889
For other apps I get prompts like the following:

![Screenshot_2020-07-20-17-48-48](https://user-images.githubusercontent.com/30786326/87990137-6625d900-cab1-11ea-802a-a1aa171f666d.png)

[2020-07-21 04:25] fmeum commented on #889
Your screenshot shows the legacy accessibility implementation of Autofill. Which versions of Android and Password Store are you using?

[2020-07-21 05:31] sudomain commented on #889
Android 7.0, Password Store 1.9.2 from Fdroid

[2020-07-21 05:45] msfjarvis commented on #889
Ah Android 7, bummer. Android only had real Autofill support from 8.0 so all our improvements are only made in that variant of the Autofill service.

[2020-07-21 08:11] fmeum commented on #889
I have read up on Android clipboard access now. The situation has changed since the repository you linked to was last updated (around three years ago). As of Android Q (i.e. Android 10, API level 29), [a third-party app can only access the clipboard if it either has focus or provides the currently used IME, regardless of its targeted API level](https://cs.android.com/android/platform/superproject/

[2020-07-21 08:58] msfjarvis commented on #945
I don't have a local gitolite setup so I used the first one that came to mind (git.zx2c4.com) and was able to clone from it with no problems. I believe there's some confusions about our URL builder that's causing a configuration issue. Here's the settings I used.
![screenshot-20200721-142637](https://user-images.githubusercontent.com/13348378/88034488-5f08d480-cb5e-11ea-9d75-02ec187b5608.png)

[2020-07-21 09:40] jpro-personal commented on #945
Hi,

Sorry that was user error on my end !

I hadn't given the Android Password Store ssh key access to the repo on the gitolite server. As soon as I did that it worked fine.

I was using the logs in /var/log/secure to check for valid logs instead of the gitolite logs.

Thanks very much for your response and sorry it was just my mistake.

Jeremy

[2020-07-21 09:40] #945 closed, assigned to msfjarvis

[2020-07-21 10:47] fmeum commented on #889
Since it was quick and easy, I added Autofill support to Termux: https://github.com/termux/termux-app/pull/1664

[2020-07-23 06:03] mithodin opened #954 "[BUG] otp not being generated anymore"
**Describe the bug**
At some point, sadly I can't really pin down the release, but it must have been a few weeks ago at least, android-password-store stopped generating otp codes.

**To Reproduce**
1. Add otpauth:// url to a password file
2. Open in android-password-store
3. See url, but no OTP

**Expected behavior**
Generate OTP code

**Screenshots**
If applicable, add screenshots to help explain

[2020-07-23 06:05] msfjarvis commented on #954
The TOTP feature was removed in 1.9.0 for a variety of reasons and was rewritten for 1.10.0 with extra features and test coverage. The update is available on the Play Store.

[2020-07-23 06:05] #954 closed, assigned to nobody

[2020-07-23 08:42] Schueni1 opened #955 "[BUG]Can not create passwords"
When I try to create a new password I get the following error message
`Error from OpenKeyChain : Attempt to get length of null array`

Steps to reproduce the behavior:
1. Install App Version 1.10.0
2. Try to create a new password

I'm also not able to select a gpg key from OpenKeyChain anymore.
The option in the settings menu is missing.
In case it is relevant. I'm using a Curve25519 gpg key to en

[2020-07-23 08:43] msfjarvis commented on #955
Can you tell us the contents of your `.gpg-id` file?

[2020-07-23 08:59] Schueni1 commented on #955
I have two ```.gpg-id``` files because I encrypt the passwords in one folder with a different key.
Do you need both?

[2020-07-23 09:00] joshcangit commented on #955
I also have this problem but I got a different error message.

[code]

This was after I updated and edited exist entries. No changes could be saved.

- Android version:
10
- Device manufacturer:
samsung
- Device model:
SM-G973F
- App version:
1.10.0

[2020-07-23 09:01] msfjarvis commented on #955
If you can provide both, it'd certainly be very helpful.

Yours too, please :)

[2020-07-23 09:17] joshcangit commented on #955
I couldn't access the one in the hidden repository but for the external repository, that file was empty.

Created a new external repository and the .gpg-id file is also empty.

[2020-07-23 09:25] msfjarvis commented on #955
Sigh, this is the exact problem I was hoping to not face. We don't ask users to select a GPG key during repo initialization so the `.gpg-id` file stays empty. The app's support for generating stores on-device is particularly kludgy and a source of pain over the years. If you use the store on a computer with a `pass` client I'd recommend initializing it there then copying it over to the phone as a

[2020-07-23 09:26] joshcangit opened #956 "Missing settings for OpenPGP"
**Describe the bug**
Missing options in the settings to select OpenPGP Provider and OpenPGP Key id.

**Device information (please complete the following information):**
- Android version:
10
- Device manufacturer:
samsung
- Device model:
SM-G973F
- App version:
1.10.0

[2020-07-23 09:27] msfjarvis commented on #956
They're not missing, we removed them intentionally. We'll evaluate whether they need to return in #955.

[2020-07-23 09:27] #956 closed, assigned to nobody

[2020-07-23 09:30] msfjarvis commented on #955
I think the 'correct' ~~workaround~~ fix here would be to bring back the key selection activity and wire it into the repository creation flow to write a key into `.gpg-id`. For existing repositories, I think I can wire in a fallback for empty `.gpg-id` files. What do you think @FabianHenneke?

[2020-07-23 09:50] Schueni1 commented on #955
Content of the root .gpg-id:
```85364A44A39EBE8CF50F41124F6C4940B6273A22```
The special folder gpg-id:
```CE85A9D522FECB4484ED11C3D4EF0667780D7BA1```
Both keys are curve25519.

[2020-07-23 10:01] fmeum commented on #955
@msfjarvis This sounds reasonable, but could probably be combined into a single flow: Whenever the `.gpg-id` file is empty and a password should be encrypted, the user would be asked to select a key and that key's ID would then be stored in the file.

[2020-07-23 10:03] msfjarvis commented on #955
That makes sense and is easier as well, gonna do that. Can you look into why @Schueni1's keys fail?

[2020-07-23 10:04] fmeum commented on #955
On it, am setting up a repo to reproduce.

[2020-07-23 10:20] fmeum commented on #955
We have a test repo now: https://github.com/android-password-store/pass-test

[2020-07-23 10:37] fmeum commented on #955
@msfjarvis  I can reproduce @Schueni1's issue as well as a different issue with long key IDs.

[2020-07-23 10:39] msfjarvis commented on #955
Great. I'm nearly done with the key selection as well.

[2020-07-23 11:14] fmeum commented on #955
@msfjarvis The issue specific to long key IDs should be fixed by #959, the one that @Schueni1 is affected by lies deeper. Will need some more time, but I have an idea.

[2020-07-23 11:17] msfjarvis commented on #955
Yeah, the crash I faced with my PR is fixed but now I'm hitting the same bug.

[2020-07-23 13:40] fmeum commented on #955
@Schueni1's bug should be fixed by #960.

[2020-07-23 13:49] msfjarvis commented on #955
And with that merged into #958 I'm prompted to select a key when my `.gpg-id` file is empty and am subsequently able to encrypt the password. The semantics around how we create the commits is a bit fuzzy right now but things work and we can ship this into 1.10.1 tonight.

[2020-07-23 15:59] #955 closed, assigned to fmeum, msfjarvis

[2020-07-23 17:03] crabvk opened #964 "Free and non-free releases, what is the difference?"
I've checked the wiki and FAQ and can't find any info about the difference between free and non-free versions.
It would be helpful to add such info to readme or wiki.

[2020-07-23 17:06] msfjarvis commented on #964
Apologies for that confusion, we'll certainly update the documentation.

The `free` version is built without Google Play Services dependencies that are used by the `nonFree` variant to provide SMS OTP Autofill support.

[2020-07-23 17:33] #964 closed, assigned to msfjarvis

[2020-07-24 00:52] craigcabrey opened #967 "[BUG] OTP entries aren't being treated as OTP passwords"
**Describe the bug**
1.10.0 added back OTP (TOTP) entries. I have existing OTP entries (just moved over from iOS where they were working fine with mssun/passforios) but when I look at the entry in APS, I just see `Password: otpauth://totp/[...]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an OTP entry
2. See the standard password view instead of an OTP code

**Expected behavior**
A

[2020-07-24 04:47] msfjarvis commented on #967
This is awkward. Is the TOTP URL the first line of your password file's content?

[2020-07-24 20:54] craigcabrey commented on #967
Yea:

[code]

[2020-07-25 04:10] msfjarvis commented on #967
That'd probably explain it. What happens here is that the app always selects the first line as the password, and everything that follows it as [extra content](https://github.com/android-password-store/Android-Password-Store/blob/e3cf73885c112bc553d6a0cc01d594a87728f448/app/src/main/java/com/zeapo/pwdstore/model/PasswordEntry.kt#L89). In your case, because there is only one line, there is no extra

[2020-07-25 06:07] msfjarvis commented on #967
I've pushed out a fix for this that works on my end. I've marked it as a backport candidate for when we next decide to do an incremental patch release, in the mean time you can get the fixed version from the snapshot builds directory linked in the README once the PR is merged.

[2020-07-25 09:07] #967 closed, assigned to msfjarvis

[2020-07-26 12:19] Quintasan opened #971 "[AUTOFILL] Namecheap login form only presents generate password option"
I was trying to log in to namecheap.com and I do have a password for it in `Domains/namecheap.com` but Android Password Store only offers option to generate a password.

In the Settings I found option called Password file organisation which I set to `work/example.org` but that still doesn't make it work. I think this basically defeats the purpose of using pass which doesn't give a crap about how y

[2020-07-26 12:22] msfjarvis commented on #971
Please don't remove the bug report template when filing issues, we added it for a reason. There has always been an option to search passwords in the Autofill dialog as you can see in the attached screenshot.

<details>
<summary>Screenshot</summary>

![screenshot-20200726-175116](https://user-images.githubusercontent.com/13348378/88478780-a4674080-cf68-11ea-852b-58a5f8b4940d.png)

</details>

[2020-07-26 12:35] Quintasan commented on #971
Sorry about not using the issue template but I must have done something weird in the GH mobile  #application.

That's very weird but I am not getting that option in Firefox.

<details>
  <summary>Screenshot</summary>

![Screenshot_20200726-142632_Firefox](https://user-images.githubusercontent.com/6539261/88479067-0023d080-cf4d-11ea-8572-7d9666798d8d.png)

</details>

[2020-07-26 12:45] fmeum commented on #971
If you only see the "Generate password..." option it's because the website has declared that password field to be for a "new password" only (as opposed to a "current password").

You can still use the "Generate password..." option to enter and store any password you like though, and password store will fill both password fields on the namecheap sign up page with it.

[2020-07-26 12:49] Quintasan commented on #971
So this is a problem with Namecheap website in the end. Oh boy. Sorry for taking up your time.

[2020-07-26 12:52] fmeum commented on #971
Don't worry, we're still very much interested in reports like this. Could you provide me with a URL so that I can reproduce this issue with my own namecheap account?

[2020-07-26 12:53] msfjarvis commented on #971
[This](https://www.namecheap.com/myaccount/login/?ReturnUrl=%2F%3F_ga%3D2.250223173.213913362.1595767281-2144648657.1595767281&_ga=2.250223173.213913362.1595767281-2144648657.1595767281) lets me repro.

[2020-07-26 12:54] msfjarvis commented on #971
Side note: seems to work correctly on Chrome Canary?

<details>
<summary>Screenshot</summary>

![screenshot-20200726-182430](https://user-images.githubusercontent.com/13348378/88479524-50128f80-cf6d-11ea-8ada-7114680f3eec.png)

</details>

[2020-07-26 12:57] fmeum commented on #971
That is to be expected: Chrome's Autofill support is more limited than Firefox's, so Password Store doesn't know whether a password field in Chrome is "new" or "current".

[2020-07-26 12:58] msfjarvis commented on #971
Well that's one benefit from Chrome Autofill being garbage...

[2020-07-26 12:59] fmeum commented on #971
Let's label this a bug for now and I will take a deeper look.

[2020-07-26 14:26] ghost opened #973 "[BUG] Gitlab Access Token Not Remembered When Syncing Repository"
**Describe the bug**
The gitlab access token generated from: https://docs.gitlab.com/ee/user/project/deploy_tokens/
does not get saved even when ticking the **remember password** check box. So anytime I need to resync the reporsitory
from gitlab it prompts me for the password again.

**To Reproduce**
Server Protocol: https
Username: Either the access token or my gitlab username
ServerURL: Either `

[2020-07-26 14:30] msfjarvis commented on #973
Thanks for taking the time out to fill into the template! I thought we had fixed it but I guess not. Seems in line with the report I got on the Play Store where the user was being asked to reauthenticate every other time. The frequency of this only occuring on every other operation is a bit curious to me and might offer some context. I'm working on #957 right now so feel free to take this up @Fabi

[2020-07-26 19:33] lekv commented on #955
I'm still getting this error with version **1.10.1**:
[code]

My .gpg-id has a single line with the 8 character, uppercase key id ending in a newline. This must have stopped working recently, but I verified on a check-out repo that the .gpg-id file has not changed. I also tried checking out the repo again and deleted and re-added the key to OpenKeyChain where it looks all good to me.

Am I missing

[2020-07-26 19:46] fmeum commented on #955
8 character key IDs are not supported as identifiers by OpenKeychain as the API requires us to provide the last 8 bytes (16 characters) of the fingerprint. Previously, we were not using the `.gpg-id` file at all and relied on manual key selection instead, which is why this broke for you now.

The best and only fix I see right now would be to change the contents of your `.gpg-id` to the fingerprint

[2020-07-26 21:57] lekv commented on #955
That was it, thanks for the fast reply! After I put the full ID into the `.gpg-id` file, things worked as expected. I had originally created the file using the `pass` command line utility and hadn't changed it since 2016. Maybe we should have a better warning or include a link to some FAQ entry if this is likely going to affect a lot of users.

[2020-07-27 05:34] fmeum commented on #955
Thanks for the suggestion, I'm adding a warning in #974.

[2020-07-27 05:45] lekv commented on #955
Awesome! Left a comment there. Thanks again for the great work and quick help!

[2020-07-27 07:03] fmeum commented on #973
I generated a deploy token with username `gitlab+deploy-token-123456`. The following settings allow me to clone and pull from the server and "Remember password" works just fine:

- Username: `gitlab+deploy-token-123456`
- Server URL: `gitlab.com`
- Repo path: `fabian.henneke/pass-test.git`

Note that I had to append `.git` to the repo path. Also, with a deploy key, only read access to the reposito

[2020-07-27 07:56] fmeum commented on #971
This appears to be an accessibility bug in Firefox, maybe triggered by some specific weirdness in Namecheap's markup: The username field on the page is not represented by an accessibility node and focusing it generates error messages from `GeckoView` with Autofill not being triggered at all.

The login page contains a hidden login form that is accessible via the "SIGN IN" dropdown menu in the uppe

[2020-07-27 08:11] msfjarvis commented on #971
I personally don't think we should be working around this. Mozilla needs to be notified of this issue and if they unfortunately decide that things on their end are working "as intended", only then should we begin looking into workarounds on our side.

[2020-07-27 08:20] ghost commented on #973
Hello,

Thank you for the quick response. Unfortunately, I am still facing the same
issue using that configuration as well. I enabled debugging but can't seem
to locate the location of the log file. If you can point me to the right
directory I can provide it to you.

Thank you!

On Mon, 27 Jul 2020, 8:04 am Fabian Henneke, <notifications@github.com>
wrote:

[2020-07-27 09:02] fmeum commented on #973
Could you share a screenshot of your server settings within Password Store? Feel free to anonymize any information you deem private.

@msfjarvis Do you know whether logs would help here?

[2020-07-27 09:27] ghost commented on #973
So I think the issue is that I was using a general access token not a
deploy token specific to that repository. I was able to pull a few times
using a deploy token but am not able to write. It seems that deploy keys
may give that ability but I will experiment with that after work.
It is still asking for a password though after using the deploy key
credentials.

Thank you,

On Mon, 27 Jul 2020, 10:

[2020-07-27 09:28] msfjarvis commented on #973
SSHJ logs very verbosely so there's a possibility they might but I'm not too sure about it.

[2020-07-27 09:51] fmeum commented on #971
The bug is reproducible for me with the simplest possible markup recreating the Namecheap situation, so this is definitely not their fault:

[code]

If I click the third input field, i.e., the second username field, I don't get any Autofill prompts with any Autofill app I tried. I will file a bug with Mozilla.

[2020-07-27 10:22] fmeum commented on #971
I filed the bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1655415
While researching this bug, I learned that Firefox now has limited but native Autofill support. It seems that the logic in [GeckoViewAutofill.jsm](https://searchfox.org/mozilla-central/source/mobile/android/modules/geckoview/GeckoViewAutofill.jsm) does some field detection on its own and can't handle more than one username

[2020-07-27 11:22] fmeum commented on #973
@Parkbro Let's make this more reproducible: I just created a GitLab repository with a read-only deploy key. Please try to pull from it with this information:
![issue_973](https://user-images.githubusercontent.com/4312191/88536281-dbdaf900-d00b-11ea-9c5f-04f9fd8c72b6.png)
Password: `tGR2yhnkGDQCkUfp33LX`

I can reliably pull from the repository and am only asked for the password once (with "Remembe

[2020-07-27 11:23] bdelphin commented on #518
The same problem have been driving me crazy for months, on a Xiaomi Mi 9T Pro.
And I just found this issue (I should have suspected MIUI sooner) ... thanks all for your comments, that helped me resolve this.

Split screen works, but **the best way I've found to resolve the problem without having to use split screen is to allow OpenKeyChain Autostart** from the settings (I've also disabled battery

[2020-07-27 11:54] #204 closed

[2020-07-27 17:18] ghost commented on #973
Hello Apologies for the delay, busy day.

I can confirm this behaviour as well..

I can pull as much as I want but I have to renter the password/token each
time still. Push isn't working but that is completely expected given the
permissions.

On Mon, 27 Jul 2020, 12:22 pm Fabian Henneke, <notifications@github.com>
wrote:

[2020-07-27 19:43] fmeum commented on #973
@Parkbro This is really weird. We're using the same credentials to access the same repository using the same version of Password Store, but while you are always asked for a password, I'm only being asked once.

@msfjarvis Could you also try this out?

[2020-07-28 05:05] msfjarvis commented on #973
On my Samsung device I cloned the repository, pulled 5 times without being prompted for a password, then attempted to push and received an error message, and pulling again then asked me for the password. Seems like things work correctly on my end.

[2020-07-28 05:28] fmeum commented on #973
@Parkbro Could you maybe share a screen recording in which you go over what @msfjarvis described?

[2020-07-28 06:39] ghost commented on #973
Hello,

https://drive.google.com/file/d/1CWuU39VgHxy2A09CqWRlC3vff72Mxj8D/view?usp=drivesdk

That is a screen share of me confirming the same behaviour of the Samsung,
I guess my understanding would have been that once you've put the password
in and ticked "remember" that it wouldn't clear itself after an error which
apparently is expected behaviour. I would have thought that pull would have
worke

[2020-07-28 06:45] msfjarvis commented on #973
We clear it automatically to let users re-enter the password in case it was wrong the first time around and that caused the failure.

At the moment, yes. It's already pretty crowded and adding another field on top of the one being added by #977 is going to make things unmanageable for users, most of who are apparently comfortable with the current setup.

That's absolutely fine, thanks for followin

[2020-07-28 06:47] #973 closed, assigned to fmeum

[2020-07-28 06:49] ghost commented on #973
Makes sense! Thanks Harsh and Fabian really appreciate it

On Tue, 28 Jul 2020, 7:46 am Harsh Shandilya, <notifications@github.com>
wrote:

[2020-07-28 06:51] fmeum commented on #973
@Parkbro As a workaround, you might want to look into [deploy keys](https://docs.gitlab.com/ee/user/project/deploy_keys/).

[2020-07-28 19:48] msfjarvis opened #981 "Add TOTP button shows even when TOTP is present"
**Describe the bug**

Add TOTP button shows on password edit screen even when TOTP is present in extra content

**To Reproduce**

Steps to reproduce the behavior:
1. Select any entry with a TOTP secret/OTPAUTH URL in extra content
2. Press the edit icon
3. Observe add TOTP button is shown alongside TOTP secret/OTPAUTH URL in extra content

**Expected behavior**

Add TOTP button does not show on sc

[2020-07-29 06:51] fmeum commented on #981
@msfjarvis What's causing this bug is that we are using `return@with` instead of `return@apply` in `updateViewState`.

[2020-07-29 06:52] msfjarvis commented on #981
I will now proceed to kill myself.

[2020-07-29 07:36] #981 closed, assigned to nobody

[2020-07-29 10:55] #298 closed

[2020-07-31 06:54] fmeum opened #989 "[BUG] VerifyError on AutofillSmsActivity crashes AutofillService on OTP fields"
**Describe the bug**
Play Store version 1.10.2 crashes with a `java.lang.VerifyError` when Autofill triggers on a field that is recognized as an OTP field.

This is pretty bad since the Autofill service is not restarted automatically after this happens, so it's not just the new OTP filling features that are broken by this. I don't want to say it, but we probably need a 1.10.3 release.

The logs ha

[2020-07-31 07:03] fmeum commented on #989
@msfjarvis This might be related to [this issue](https://github.com/Kotlin/kotlinx.coroutines/issues/2049), which would explain why we didn't encounter the crash on debug builds: We are using Kotlin 1.4 on develop. Will try what happens with Kotlin 1.3.X.

[2020-07-31 07:09] msfjarvis commented on #989
Oh I know this error, I've faced it in #865. We need to uprev coroutines to 1.4 for this to work. I fixed it with [this](https://github.com/android-password-store/Android-Password-Store/pull/865/commits/42e4d7ac0e51c01829a21dc191d61bd4643beb63).

[2020-07-31 07:10] msfjarvis commented on #989
Guess we're shipping 1.4 into release builds then

[2020-07-31 07:33] fmeum commented on #989
Alternatively, according to https://github.com/Kotlin/kotlinx.coroutines/issues/2049#issuecomment-665006691, we might only need to downgrade Coroutines to 1.3.6. I will see whether that helps.

[2020-07-31 08:05] #989 closed, assigned to nobody

[2020-07-31 15:51] gromgit opened #993 "[BUG] Unable to access password and crypto settings"
**Describe the bug**
I've been using `pass` on Linux for a long time now, and I just installed v1.10.3 along with OpenKeychain v5.5, both from the Google Play Store and both current as of this writing. I loaded my Linux password-store GPG key in OpenKeychain, then started the Password Store app and cloned my Linux password repo via SSH. I'm able to view all the same subfolders and key entries that

[2020-07-31 16:08] msfjarvis commented on #993
Same problem as https://github.com/android-password-store/Android-Password-Store/issues/518, Xiaomi's fucking up their software.

[2020-07-31 16:30] gromgit commented on #993
Huh, it really was that simple. Thanks much!

[2020-07-31 16:30] #993 closed, assigned to nobody

[2020-07-31 16:40] gromgit commented on #993
Since I went (unsuccessfully) looking in the FAQ before posting this issue, I've updated the FAQ accordingly, so that other folks after me won't have to guess.

[2020-08-03 22:54] Schueni1 opened #994 "[FEATURE] Create directories with different gpg keys"
It would be cool, if it was possible to create new directories and encrypt them with different gpg keys.

Right now I have to create these special directories on my laptop and then sync them with the app.

In pass this is possible with:
[code]

[2020-08-04 05:09] msfjarvis commented on #994
I don't have a lot of good ideas on how to achieve it, but the least terrible one that comes to mind is adding another option to the overflow menu along with push/pull, titled along the lines of 'Set GPG key ID for this directory' that makes you select a key in OpenKeychain and then writes it into `.gpg-id`.

[2020-08-04 06:08] fmeum commented on #994
Let's make this a bit easier: When creating a new folder, add a checkbox to the dialog asking for the name of the new folder. If checked, trigger the same flow we run if no top-level .gpg-id exists, but for the new folder.

Changing the id for existing folders is too complicated as it may involve reencryption and multiple IDs.

[2020-08-04 06:22] msfjarvis commented on #994
Certainly overlooked re-encryption. Going to implement your proposal sometime this week.

[2020-08-04 16:47] msfjarvis commented on #994
Actually, will tackle it after #865 lands.

[2020-08-04 22:54] craigcabrey commented on #967
thanks for the fix, contributed to the project's beer fund :beers:

[2020-08-05 13:32] #160 closed

[2020-08-05 13:32] #219 closed

[2020-08-05 20:08] msfjarvis opened #996 "Properly deal with missing OpenKeychain"
**Describe the bug**

When OpenKeychain is not installed, the app will crash due to exceptions bubbled up from openpgp-ktx.

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall OpenKeychain
2. Open APS, try to create a password
3. Observe crash

**Expected behavior**
Apps warns user of missing PGP client

**Screenshots**
If applicable, add screenshots to help explain your problem.

**De

[2020-08-05 20:08] msfjarvis commented on #996
I'll fix this, just putting it up to let the reporters track progress.

[2020-08-06 16:41] CaptainVonNutbar opened #998 "[BUG] OpenKeychain does not recognize the same key formats as GPG"
Whenever I save a password entry, I get the following error:

"Found .gpg-id, but it contains an invalid key id, fingerprint or user ID."

This can be reproduced by editing any existing entry or creating a new entry.  Existing entries can be decrypted just fine.

Oneplus 7 Pro, Android 10, Password Store 1.10.3.

The only thing I can see that I'm doing that may diverge from the common case is that

[2020-08-06 18:57] fmeum commented on #998
Thanks for the report.

This seems to be an issue with OpenKeychain, as we are ultimately using [this regex](https://github.com/open-keychain/openpgp-api/blob/621d63f6ceec820e2947cb6eedaa313ac71cbd90/openpgp-api/src/main/java/org/openintents/openpgp/util/OpenPgpUtils.java#L78) to parse the user ID in the `.gpg-id` file. Could you file an issue with them [here](https://github.com/open-keychain/open

[2020-08-08 11:31] matthijskooijman opened #1000 "[FEATURE] Notify user when there is nothing to push"
**Describe the bug**
When using "Push to remote", but the push is denied by the server (in my case because my remote repository is not bare and had the `master` branch checked out), I get no error message from Password Store.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an SSH remote that is a non-bare repository, with the master branch checked out
2. Generate a password on Pass

[2020-08-08 11:32] matthijskooijman commented on #1000
Note that an error messages are not omitted on all push failures, when I messed up my SSH key forced-command just now, it did show an error message.

[2020-08-10 03:53] eklebanow opened #1001 "unable to push from android to remote repo: Error: push not permitted [BUG]"
Since changing to a new phone I am unable to push from phone to bare passwordstore repo on bitbucket.

I can pull from remote repo....I cannot synchronize or push

The error message I get is as follows: Error occurred during the push operation: git@bitbucket.org;klebane/password-store.bare.git: push not permitted.  Caused by org eclipese.jgit.errors. transportexception: git@bitbucket.org:klebane/p

[2020-08-10 04:02] eklebanow opened #1002 "[BUG] Unable to properly enter bitbucket git server settings in version 1.11.0-SNAPSHOT"
**Describe the bug**
Cannot get proper git server settings to utilize app connection to remote bitbucket repo

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to enter bitbucket git server settings under settings
2. no matter what combo of username, server URL and Repo Path I get error messages suggesting git settings are set up wrong
3. Instead of git@bitbucket.org:klebane/password_s

[2020-08-10 06:47] msfjarvis commented on #1001
This is almost certainly caused by the same problem as #1002 so I'll close this one.

[2020-08-10 06:47] #1001 closed, assigned to nobody

[2020-08-10 06:48] msfjarvis commented on #1002
What settings were you using in the legacy version? Can I see a screenshot?

[2020-08-10 07:11] msfjarvis commented on #1000
@matthijskooijman out of [these](https://bin.msfjarvis.dev/~5f30f2f42757e30018410ce8) possible states, what would you have expected the app to see after that particular case?

[2020-08-10 07:48] jfxtle commented on #782
I can not configure correctly on the Repository information page. So what is the format of the Username and Server URL and Repo path on this page? Assuming the remote Repo is on the github.com, is the following example correct?

 Server Protocol：ssh
 Username：myname
 Server URL：github.com：22
 Repo path：git@github.com:myname/mypasswordrepo.git
 Authentication Mode：ssh key

[2020-08-10 07:51] fmeum commented on #782
Could you try the following and report back whether it worked?

Server Protocol: ssh
Username: git
Server URL: github.com
Port: (empty)
Repo Path: myname/mypasswordrepo.git
Authentication Mode: SSH key

@msfjarvis We might want to go back to a single "Repo URL" field and maybe persist it as Base64 to work around Android limitations. Thinking about its atomic parts is just not what users are used t

[2020-08-10 07:55] msfjarvis commented on #782
There's no 'going back', as the app has always had split parts, but yes we'd certainly do our users a great service by making the entire thing a single URL field.

[2020-08-10 08:02] fmeum commented on #782
Well, then we can even sell it as a new feature. I don't think it would require much effort: We would replace the split fields in the config activity by a single one that by default is populated with the repo URL calculated by the current logic. As soon as a user makes an edit to it, it's simply persisted as a string and the logic isn't used anymore. This would require leaving the logic in, but wo

[2020-08-10 08:49] msfjarvis commented on #782
~~I can work on this today.~~ @Skrilltrax has offered to take this up.

[2020-08-10 09:21] jfxtle commented on #782
Thank you very much, the example you gave is correct, I successfully cloned github.com Repo. In fact, I used to configure it correctly, but this time I forgot again. This is a simple and very useful program. Thank you again.

[2020-08-10 09:56] matthijskooijman commented on #1000
I think only `REJECTED_OTHER_REASON` would be appropriate. I think the git process will have emitted a more specific error message, that could then be shown I think (which should be helpful enough, so I don't think there's any real reason to handle this case with its own error code specificially).

[2020-08-10 10:02] msfjarvis commented on #1000
Hm, we're already [handling it](https://github.com/android-password-store/Android-Password-Store/blob/develop/app/src/main/java/com/zeapo/pwdstore/git/GitCommandExecutor.kt#L91-L96) and passing along the raw message from JGit so hopefully you'll see improved behaviour in the 1.11.0 release. For an early sneak peek you can check out the snapshot build from [here](https://dl.msfjarvis.dev/APS). The

[2020-08-10 10:31] matthijskooijman opened #1003 "[BUG] Confusing state when initial git clone fails"
**Describe the bug**
For #1000, I just tested the snapshot build linked there. That started me from a clean install, so I had to reclone my repository. I messed up the hostname, so clone failed, leaving me without any obvious way to retry the clone.

**To Reproduce**
Steps to reproduce the behavior:
1. On a clean install, select the "clone from server" option in the main screen
2. Fill in incorrec

[2020-08-10 10:34] matthijskooijman opened #1004 "[BUG] UI flow when using external SD path with git clone interrupted"
**Describe the bug**
When you use an external directory for the pass repo together with a git clone, the UI flow is a bit weird.

**To Reproduce**
Steps to reproduce the behavior:
1. On a clean install, select the "clone from server" option in the main screen
2. When asked to use internal or external path, select external
3. In the file browser, select some path on the SD card
4. You are now dumpe

[2020-08-10 10:36] matthijskooijman commented on #1003
Note that I saw this when using an external SD path for the repo, but I suspect the same would happen for an internal path.

As a workaround, I changed the repo path to a new directory, after which the home screen with e.g. "Clone from server" is shown again and I can try again.

[2020-08-10 10:46] matthijskooijman commented on #1000
I tried the snapshot, but it still does not show an error. When I select "Push to remote", the screen becomes grey with "Running git operation..." at the bottom for a few seconds, then the repository is shown again normally as if the operation succeeded.

I checked logcat, but the only password store message there is meaningless to me:

    08-10 12:41:57.100  6554  6554 D PasswordStore: Check, di

[2020-08-10 12:41] #996 closed, assigned to msfjarvis

[2020-08-10 13:49] #994 closed, assigned to msfjarvis

[2020-08-10 14:34] msfjarvis commented on #1000
I tried this right now. I pointed the app to my `~/.password-store` repository which has the `main` branch checked out, then I created a new password in the app, and attempted to push. To the best of my abilities, I believe this is the exact scenario you described in the issue. This is what I get:

<details>
<summary>Screenshot</summary>

![screenshot-20200810-200309](https://user-images.githubuse

[2020-08-10 14:44] matthijskooijman commented on #1000
Yes, sounds like exactly what I did. Thanks for diving in!

Maybe there's something specific in my setup then. I am using some specific SSH-key-based limitations, so maybe that is relevant somehow.

I'll try reproducing this with an ssh push outside of PasswordStore, to see if git is actually providing the right error message at all, or disable the SSH key limitations and see if that fixes it. I'l

[2020-08-10 14:47] msfjarvis commented on #1000
Not at the moment but I can provide an APK with extra logs added if you want it.

[2020-08-10 14:48] matthijskooijman commented on #1000
If it's easy, then yes please. If it's a (bit of a) bother for you, then let me do some other testing first :-)

[2020-08-10 14:57] msfjarvis commented on #1000
No trouble at all, [here](https://dl.msfjarvis.dev/share/APS_1.11.0-SNAPSHOT_git_debug.apk) you go. It'll log the fields as given in [this diff](https://bin.msfjarvis.dev/~5f3160092757e30018410cec/raw).

[2020-08-10 18:06] eklebanow commented on #1002
Here are screenshots from the new version
[Screenshot (Aug 10, 2020 10_50_59).pdf](https://github.com/android-password-store/Android-Password-Store/files/5052513/Screenshot.Aug.10.2020.10_50_59.pdf)
[Screenshot (Aug 10, 2020 10_50_01).pdf](https://github.com/android-password-store/Android-Password-Store/files/5052514/Screenshot.Aug.10.2020.10_50_01.pdf)
Here is a screenshot from the legacy version

[2020-08-10 18:32] eklebanow commented on #1001
I do not believe it should be closed.....
In the new version bug 1002 problem is that I cannot get git settings correct for bitbucket syntax

I can get the git settings correct in the legacy version of android store but I cannot synchronize or push.  I can pull from the remote.

Here is a screenshot of the error message I get when I try to push from the phone to bitbucket (the remote):
[Screenshot

[2020-08-10 23:42] eklebanow commented on #1002
mistake in closing ....

[2020-08-11 07:23] fmeum commented on #1002
@eklebanow Please try again with the following settings:
Username: git
Server URL: bitbucket.org
Port: doesn't have to be specified, 22 is the default
Repo path: klebane/password_store.bare.git

[2020-08-11 07:26] fmeum commented on #1001
"push not permitted" is an error that originates from Bitbucket after successful authentication, so I doubt that it has anything to do with Password Store. Please verify that your SSH key is allowlisted for write operations and check whether regular git shows a similar error message.

[2020-08-11 07:55] fmeum commented on #782
@msfjarvis @Skrilltrax I have some time today and an idea how to resolve this properly, so you don't have to work on it.

[2020-08-11 13:53] matthijskooijman commented on #1000
Ok, tried again, now it worked as expected (in both the snapshot build I used previously and the debug build you provided). It seems that the commit I wanted to push had gotten lost, probably because it was overwritten by a fresh clone and I did not realize this, or I did something else to lose it. So in my previous test, nothing happened because there was not actually anything to push.

So, seems

[2020-08-11 13:57] matthijskooijman commented on #1003
This might be a new problem in the snapshot 1.11 build. I just switched back to 1.9.2 and messed up the authentication, which shows an "auth failed" error message and then drops me back into the git clone settings window, so there's either a difference between auth failure and invalid hostname, or a difference between 1.9.2 and 1.11 (the latter seems more likely to me).

[2020-08-11 14:17] msfjarvis commented on #1000
There's been a to-do to handle the 'nothing to push' case for a while so I'll just convert this to be about that.

[2020-08-11 14:23] msfjarvis commented on #1003
Well, that one's gonna hurt.

[code]

I'll look into it before release.

[2020-08-11 16:11] #1002 closed, assigned to msfjarvis

[2020-08-11 20:55] msfjarvis commented on #1003
Turns out, not that hard!

[2020-08-11 21:18] #1000 closed, assigned to msfjarvis

[2020-08-12 05:46] msfjarvis commented on #998
OpenKeychain issue for reference: https://github.com/open-keychain/open-keychain/issues/2579

[2020-08-12 07:34] #1003 closed, assigned to msfjarvis

[2020-08-13 06:13] etu opened #1013 "[BUG] Symbolic links gets removed to have a file that contains the target file name"
**Describe the bug**
If you have a password store repository that contains symbolic links. For instance I want the same information to be available under more than one file/name to match websites that does use the same credentials for whatever reason.

So what this does is that it takes the content of the "file" which is a symbolic link (the content really is the target file name) and makes a new

[2020-08-13 06:45] msfjarvis commented on #1013
This is a duplicate of #636, differently worded but is the same problem.

[2020-08-13 06:45] #1013 closed, assigned to nobody

[2020-08-13 06:46] fmeum opened #1014 "[FEATURE] Do not create empty sync commits"
**Is your feature request related to a problem? Please describe.**
Currently, APS creates a commit on every sync operation. Most of the time, if not always, this is an empty commit that unnecessarily pollutes the Git history.

**Describe the solution you'd like**
Either never make the commit (if all other operations commit their changes correctly, it shouldn't be needed at all) or only make it if

[2020-08-13 06:48] msfjarvis commented on #1014
Ah forgot to mention this yesterday. I looked at this, and the fix is to bring back the `git.status()` invocations which then regress committing completely. I'll try again after work.

[2020-08-13 06:52] fmeum opened #1015 "[FEATURE] Provide JGit `SshSessionFactory` via `setTransportConfigCallback`"
**Is your feature request related to a problem? Please describe.**
We currently set a static `SshSessionFactory`, which opens us up to leaks.

**Describe the solution you'd like**
Use `setTransportConfigCallback` instead.

**Describe alternatives you've considered**
Fine as it is now, but could be better.

**Additional context**
Blocked on #995.

[2020-08-15 21:17] msfjarvis commented on #1004
Fixed by #1022

[2020-08-15 21:17] #1004 closed, assigned to msfjarvis

[2020-08-17 16:41] Dioxo commented on #535
Is anyone currently working on this?
I'd like to work on this issue.

[2020-08-17 16:51] msfjarvis commented on #535
Nope, all yours. I'll assign you.

[2020-08-18 08:18] DrTobe commented on #998
I ran into the same issue but in my case, my user id did not contain in invalid email address. Instead, it just contained no email address at all. My user id was like "PasswordStoreKey".

Looking at [the code that uses the regex you referred to](https://github.com/open-keychain/openpgp-api/blob/621d63f6ceec820e2947cb6eedaa313ac71cbd90/openpgp-api/src/main/java/org/openintents/openpgp/util/OpenPgpU

[2020-08-18 08:47] fmeum commented on #998
AFAIK OpenKeychain's API offers precisely two ways to identify a key: it's long key ID or an email address. @msfjarvis please correct me if I'm wrong.

 I would recommend to always specify the key ID of your master key in `.gpg-id`, which also works around this issue.

[2020-08-18 09:47] doomster opened #1027 "question: regarding general operation"
i have a pass installation on my homeserver, and i want two android phones using it. i have installed the application to my phone and setup the repository. i cloned the repo from server and see my passwords. When i create a new password, i push changes to the repo (server) , but when i  "pass list" on the server, i don't see my new password.
am i missing something?

[2020-08-18 10:34] msfjarvis commented on #1027
Does the push show any kind of error? Are you cloning the `~/.password-store` directory onto your phone?

[2020-08-18 11:07] doomster commented on #1027
ok i must have done something wrong with the server repository, cause mobile app works correctly. i thought that the app was an "GUI" for the server application, but it does work as standalone.
This being said, i removed the pass application on my server, and created a private repository on my programming GIT server (i use GoGs) .
All work correctly now, if i use the ssh 22 port.

Since it is a ge

[2020-08-18 11:11] msfjarvis commented on #1027
The current URL system is a bit iffy and as evident from your question, extremely confusing to users. If you're comfortable with it, you can download the latest snapshot from [here](https://dl.msfjarvis.dev/APS) (difference between free/nonFree is in the wiki FAQ) and then set your git server as a single URL field as opposed to the different parts. When we release this on the 22nd of this month yo

[2020-08-18 11:24] doomster commented on #1027
Thank you for the quick reply. I will wait untill the 22th to update, and then revert back to custom port that i usually use on my server.

Keep up the good work!

ps: im crossing my fingers and wishing for an import-extension implementation on the android application 👍

[2020-08-18 11:24] #1027 closed, assigned to msfjarvis

[2020-08-18 11:54] msfjarvis commented on #1027
Thanks!

I've considered it in the past but it's a lot of work and encrypting a lot of files is going to be extremely slow given how OpenKeychain works. If there's ever an alternative to it that offers a better performing integration, we'll certainly add support for it and then work on batch operations like importing from other store formats. For now your best bet continues to be [pass-import](htt

[2020-08-18 18:59] Nosweh commented on #998
I encountered exactly the same problem as @CaptainVonNutbar on Android 9 with PasswordStore 1.10.3 and OpenKeychain 5.5. It does seem to be a recently introduced problem: While my key's email is also 'name@othername', not 'name@othername.yetanother', it used to be possible to create passwords in the app with this configuration. I can't tell in which version the behavior went faulty exactly, but I

[2020-08-18 21:54] DrTobe commented on #998
Well, then, this changes everything. Then PasswordStore already does the best it can.

Thanks for that hint, I'll try that.

[2020-08-20 08:19] msfjarvis commented on #998
I re-checked the code today and can confirm: OpenKeychain's intent system does not offer the ability to use any other identification option. We don't have any options other than educating users or offering an option to overwrite the invalid `.gpg-id` contents with a manual key selection.

[2020-08-20 08:47] msfjarvis commented on #306
What I have in mind is that on receiving a ripple alert, we

- clear clipboard
- delete saved passwords from internal or external storage
- clear all app preferences

Is that good enough for what you have in mind?

[2020-08-20 09:00] msfjarvis commented on #845
I just tested this on the latest version and everything works correctly. Please file a new issue if there's any other problems.

[2020-08-20 09:00] #845 closed

[2020-08-20 09:10] DrTobe commented on #998
I have played around with the `.gpg-id` file a little bit today and what I found is that I can not encrypt passwords with any other key than my default one by specifying different email addresses. PasswordStore or OpenKeychain just seems to ignore the email address specified there. Using a key id in `.gpg-id` instead works.

Has someone tried this before and can confirm this? I'm super confused ri

[2020-08-20 09:29] nicoe commented on #845
* Harsh Shandilya [août 20, 2020 11:00]:

Which version is that? I still have the issue with version 1.9.2
(fetched from F-Droid).
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-08-20 09:32] msfjarvis commented on #845
v1.11.0. F-Droid's incompetence is breaking our builds as usual so you'll have to wait until they sort their stuff out.

[2020-08-20 13:55] fabianbuechler opened #1032 "[BUG] java.lang.NoClassDefFoundError: Failed resolution of: Ljava/nio/file/attribute/PosixFilePermission;"
**Describe the bug**
After the latest update v1.11.0 the app crashes right after starting it.

**To Reproduce**
Steps to reproduce the behavior:
1. Tap the app icon
2. App crashes

**Expected behavior**
App starts without crashing.

**Device information (please complete the following information):**
 - Device: Xiaomi Redmi Note 4
 - OS: MIUI Global 11.0.2 Stable, Android 7.0 NRD90M
 - App version

[2020-08-20 14:01] msfjarvis commented on #1032
Welp guess we did need R8 rules @FabianHenneke. Thanks for the report @fabianbuechler, I'll get on it.

[2020-08-20 14:03] msfjarvis commented on #1032
@fabianbuechler can you test [this](https://dl.msfjarvis.dev/APS/aps-nonFree_1.12.0-SNAPSHOT.apk) version and see if it works?

[2020-08-20 14:15] fmeum commented on #1032
@msfjarvis Do you have an idea why this is crashing only for some users? Both the release build I tested and the current Play Store version run just fine for me.

[2020-08-20 14:18] msfjarvis commented on #1032
I'm not sure either, I updated one device from the Play Store and the other manually and they both work fine too.

[2020-08-20 14:29] fabianbuechler commented on #1032
This crashes aswell, but first shows a very similar error message **inside** (weird) the application somehow:

[code]

[2020-08-20 14:34] msfjarvis commented on #1032
These are testing builds so they ship with additional debug tooling like the stacktrace viewer you saw.

And these exact builds work perfectly on our devices... Are you storing your passwords outside the local directory of the app? If so, what filesystem (ext4/f2fs/vfat) is that on?

[2020-08-20 14:45] Dioxo commented on #535
I think we can now close this issue. @msfjarvis :)

[2020-08-20 14:47] #535 closed

[2020-08-20 19:28] fmeum commented on #1032
@msfjarvis I think I know what's going wrong: [`PosixFilePermission`](https://developer.android.com/reference/java/nio/file/attribute/PosixFilePermission) has only been added in Oreo, but is used by JGit after some feature detection [here](https://github.com/eclipse/jgit/blob/2383cccf1226ad4c3140846517458de1e5283c27/org.eclipse.jgit.java7/src/org/eclipse/jgit/util/FS_POSIX_Java7.java#L84). This br

[2020-08-20 19:35] msfjarvis commented on #1032
I think a fork seems more reasonable. I'll push out the revert.

[2020-08-20 19:49] fabianbuechler commented on #1032
Ah, I see. Saw the Leaks app after writing the comment.

No, just the local dir on the phone's internal storage.

[2020-08-20 19:55] msfjarvis commented on #1032
Thanks, we figured it out. It's caused by our recently merged support for symlinks which tries to use some code that didn't exist before Android 8 and thus crashes on your phone. In about 10 to 20 minutes I'll push out v1.11.1 that will fix the issue.

[2020-08-20 19:58] fabianbuechler commented on #1032
That's great, thanks a lot!
You guys are on the fast track :-)

👍

[2020-08-20 20:27] #1032 closed, assigned to msfjarvis

[2020-08-21 02:03] leetking opened #1038 "[QUESTION] Why put Git configuration into `config` file in repo?"
Dear developers, thank you for your awesome software.

The question shown as the title. I think there may be a way to put Git configuration such as "username" or "email" in a inner file of this software not the `config` file in password repository, or we have some reason must to do this.

[2020-08-21 04:19] msfjarvis commented on #1038
We don't elect to do it, it's simply how Git does it. Every non-global property is written into `.git/config`. What's the issue that you're facing with this?

[2020-08-21 05:17] leetking commented on #1038
My `config` file is not under `.git/` directory, but in the root of repository directly. It isn't functional problem, but I think it may be invasive into my repository directory. Shown as picture bellow:
![Screenshot_20200821-131440__01__01](https://user-images.githubusercontent.com/11045233/90854792-7aab0900-e3b0-11ea-9971-0ed3151c2040.jpg)

[2020-08-21 05:20] msfjarvis commented on #1038
That should be fixable. I'll take a look.

[2020-08-21 05:26] leetking commented on #1038
Thank you very much. 🌹

[2020-08-21 12:31] msfjarvis opened #1040 "Evaluate ktlint reintroduction"
Since https://github.com/pinterest/ktlint/issues/527 has been fixed it's now possible to reintroduce ktlint into our CI pipeline, and then hopefully move on to actual linters like [detekt](https://github.com/detekt/detekt).﻿

[2020-08-21 14:52] Nosweh commented on #284
As it's been a while since the last activity here, this issue does not seem time critical. Being new to this project, I would like to take a look at this if that's okay. I would try and implement viewing the commit log as a simple non-interactive list view.

[2020-08-21 15:27] msfjarvis commented on #284
Absolutely, please feel free to give it a shot.

[2020-08-21 19:29] fmeum opened #1042 "[BUG] `LockFailedException` when creating a new password"
**Describe the bug**
I have somehow gotten my repositories (both the Play Store and a dev version) into a state where creating a new password leads to the following exception:

[code]

This is not fixed by deleting and re-cloning the repository and likely caused by `.git/index.lock` sticking around after another Git operation.

Additionally, the error dialog box that accompanies the exception is o

[2020-08-22 10:41] msfjarvis commented on #1042
The problem isn't that `.git/index.lock` already exists, its that creation of it fails. I just tested a completely clean repository on a debug build, and peeked into the data. The file is not present before I create a password, and its not present after it fails. Something's botched heavily here.

[code]

[2020-08-22 12:43] #1038 closed, assigned to msfjarvis

[2020-08-22 12:46] msfjarvis commented on #1042
@FabianHenneke is it possible we screwed something in 152d86ec3a951bd6cb797128094d933d2c3a5697? AFAIK we both use OpenKeychain authentication, and if this was an issue on the stable build we'd *definitely* have heard from users.

[2020-08-22 12:56] fmeum commented on #1042
I'm not using OpenKeychain auth with the stable build currently. I'll see whether I can do a bisect later.

[2020-08-22 19:29] fmeum commented on #1042
This is getting weirder by the minute: Both v1.10.0 and v1.11.0 don't seem to have the issue, but it does show up in v1.11.1.

[2020-08-23 09:06] xdevs23 opened #1044 "[BUG] Crash on startup due to biometric authentication"
**Describe the bug**
When starting the app, it crashes immediately.
This has been happening for 2-3 days (that's as precise as I can tell)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable biometric authentication (i. e. fingerprint)
2. Close app
3. Start app
4. It crashes

**Expected behavior**
App does not crash.

**Screenshots**
No screenshots, it just crashes when starting the app.

[2020-08-23 11:17] msfjarvis commented on #1044
Seems to still be broken on API 29...

[2020-08-23 11:40] #1044 closed, assigned to msfjarvis

[2020-08-23 16:51] #1042 closed, assigned to msfjarvis

[2020-08-23 18:53] msfjarvis opened #1048 "HTTPS authentication does not prompt user for password"
**Describe the bug**

Using HTTPS to authenticate with a private GitHub repository fails due to the user not being presented a password dialog

**To Reproduce**
Steps to reproduce the behavior:
1. Create a private GitHub repository
2. Generate a personal access token to authenticate over HTTPS
3. Install APS, set protocol to HTTPS, authentication mode to Password
4. Enter URL to repository
5. Pres

[2020-08-23 20:30] fmeum commented on #1048
Can reproduce and will take a look tomorrow morning.

[2020-08-24 07:11] #1048 closed, assigned to fmeum, msfjarvis

[2020-08-24 20:15] tomkel opened #1055 "[FEATURE] Support new gopass MIME secret encoding"
As opposed to YAML or key-value encoding.

https://github.com/gopasspw/gopass/blob/master/docs/features.md#mime-secrets

[2020-08-24 21:24] msfjarvis commented on #1055
gopass seemingly has [plans to completely break pass compatibility](https://github.com/gopasspw/gopass/issues/1365) so I'm not too excited about supporting all these weird things they're up to.

[2020-08-26 14:28] Schueni1 opened #1057 "[Question] Version on F-Droid lagging behind"
The currently available version on F-Droid is still  1.9.2.
Is it complicated to release updates on F-Droid?

[2020-08-26 14:35] fmeum commented on #1057
Short answer: Yes, it is. ;-)
Long answer: We recently introduced variants in our builds and it took a long time for our F-Droid PR switching to the "free" variant to get merged. While this has happened now, the version of `fdroidserver` used by F-Droid to build our app currently doesn't support the Gradle plugin version we have updatet to in the meantime. Support is coming though: https://gitlab.

[2020-08-26 14:39] msfjarvis commented on #1057
I'm not willing to add workarounds to my project to fix F-Droid's incompetence. If their users can't get new versions of apps just because said apps are proactively updated then it's a failure of their system, not ours.

[2020-08-26 15:08] #1057 closed, assigned to nobody

[2020-08-26 20:01] euh2 opened #1058 "[BUG] HTTP Status 401 on pull/push to remote origin"
**Describe the bug**
I consistenly get 401 (forbidden) status code when trying to pull or push to or from remote repository. On pull my git-server first shows 401 in the logs, then 200, and the repo is updated locally (on my phone). So pull seems to work despite the first triggering 401 on my remote. Maybe the first request does not include authentication?

I then edit someting locally (on my phon

[2020-08-27 05:55] fmeum commented on #1057
Update: I will add my own incompetence to the mix. I apparently misunderstood their build metadata format, which resulted in our version names being `v1.2.3-free-free` on F-Droid. Not sure whether this broke anything, but I'm hoping to get it fixed soon: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6998#note_402895928

Unfortunately, reproducible builds are no longer an option unless we r

[2020-08-27 06:04] msfjarvis commented on #1057
That's going to be annoying w.r.t. GitHub releases... I'll see what can be done but It'd be much more preferable to just not need the separate tag. Would dropping the -free version suffix fix this?

[2020-08-27 06:07] fmeum commented on #1057
I think it would. If F-Droid releases were `v1.2.3` and Play Store releases were `v1.2.3-nonFree`, I think that F-Droid builds would simplify and allow using the Binaries directive.

[2020-08-27 06:09] fmeum commented on #1058
Thanks for the detailed report!

I think this broke in https://github.com/android-password-store/Android-Password-Store/pull/1012. I completely missed that the `InteractivePasswordFinder` in `SshjSessionFactory.kt` was also responsible for getting the HTTPS password. Unfortunately that may mean that we have to reintroduce the hacky reuse logic from before...

[2020-08-27 06:13] fmeum commented on #636
Re-opening since we had to revert #1016.

In order to resolve this, one would need to make a stub version of `FS_POSIX_Java7` that would only add the symlink features and hide them behind a `Build.VERSION` check.

[2020-08-27 06:14] msfjarvis commented on #1057
Can they both not be `v1.2.3`? I don't think I understand the need for an explicit suffix for either case.

[2020-08-27 06:14] msfjarvis commented on #636
I'll take this one.

[2020-08-27 06:15] fmeum commented on #1057
I guess they could. It seems to be rather common to have suffixes in this case, but I have also never understood why.

[2020-08-27 06:47] kartikynwa commented on #998
Can someone elaborate on how to add a key id to `.gpg-id`? I am not good at GPG/PGP.

[2020-08-27 06:49] msfjarvis commented on #998
In that case it'd be much easier if you simply delete the `.gpg-id` file, then let Password Store create it for you when you edit or add a new password.

[2020-08-27 06:54] kartikynwa commented on #998
Thanks very much for the quick reply. I have two questions if you don't mind.

1. Right now, looks like the `.gpg-id` is tracked by the git repo. Do you think it is okay to `.gitignore` it?
2. I am not sure how to delete the `.gpg-id` stored on my phone. I am using the hidden repo option, where the app clones the repo into the app memory. Sorry if I used the incorrect terminology here but I hope y

[2020-08-27 07:01] msfjarvis commented on #998
The `.gpg-id` file tells `pass` clients what key to use to encrypt/decrypt your passwords with, so I'd highly recommend you do not add it to the Git ignore file.

At the moment there's no option to show all files in the repository, but since we're now using `.gpg-id` files it certainly makes sense to offer the option to remove it as well. You'll have to use your computer or a separate Git client o

[2020-08-27 07:02] kartikynwa commented on #998
Thanks very much. I will look into it.

[2020-08-27 08:07] msfjarvis commented on #998
I've created #1059 to allow seeing hidden files within Password Store so that this flow is simpler for end users.

[2020-08-27 08:43] fmeum commented on #1058
Well, that was fun: I uncovered two bugs and a regression in how we handle HTTPS passwords. Will submit those as separate PRs.

While I cannot fully reproduce the issue @euh2 is experiencing, I'm pretty sure that their situation will drastically improved with these PRs.

[2020-08-27 10:21] fmeum commented on #1058
@euh2 We believe that we have resolved the issue you are experiencing. Could you verify that the issue is fixed for you with the snapshot builds available at https://dl.msfjarvis.dev/APS/?

[2020-08-27 11:44] euh2 commented on #1058
Thanks!

Unfortunately I can't test out this build due to local install policies. I have to wait for Play Store or F-Droid updates :/

[2020-08-27 11:46] fmeum commented on #1058
Don't worry, I have been able to test with gitea and found everything to be working well with our fixes. It would be great if you could confirm the fixes work after 1.11.3 has shipped to you.

[2020-08-27 17:29] msfjarvis commented on #306
Seems like there never was much interest for this in the first place and OP appears to be unavailable so I'm just going to close this for inactivity with a wontfix label.

[2020-08-27 17:29] #306 closed

[2020-08-27 17:29] #1055 closed, assigned to nobody

[2020-08-28 01:07] indeedwatson opened #1065 "[BUG] Keys are not listed"
I have a key in OpenKeychain, which I've allowed in the apps menu.

From password store I select clone from server, hidden, fill out my details, select openkeychain, hit clone, and a popup says to select a key, but there is nothing listed.

From the settings I have OpenKeychain as the pgp provider and i have the key ID selected (although it's not the name of the key, it says `0xc864`... it's a lon

[2020-08-28 04:13] msfjarvis commented on #1065
Please fill the issue template fully, it really makes things hard when you simply wipe it out :(

What version of the app are you on?

[2020-08-28 04:24] indeedwatson commented on #1065
Sorry m8

**Expected behavior**
I expect the key to show up

**Device information (please complete the following information):**
 - Device: SM-A510M
 - OS: LineageOS 10
 - App version 5.5

**Additional context**
Add any other context about the problem here.

[2020-08-28 04:50] msfjarvis commented on #1065
Are you sure that's the version of the right app? Password Store has never left the 1.x.y versioning series.

[2020-08-28 04:51] indeedwatson commented on #1065
1.9.2, I think I was looking at openkeychain sorry

[2020-08-28 06:12] fmeum commented on #1065
It sounds to me like there is confusion about two different kind of keys: The key ID you select in settings is the for they key that encrypts the entries in your password store. But if you select OpenKeychain authentication in the Git server settings, OpenKeychain will ask you to select an authentication key. It is possible that you don't have one or at least haven't imported it into OpenKeychain.

[2020-08-28 06:14] fmeum commented on #1058
@euh2 I just checked that 1.11.3 is out for me, it may also be for you.

[2020-08-28 07:26] euh2 commented on #1058
Yes! Installed and tested. It seems to work fine now.

Ganz herzlichen Dank!

[2020-08-28 07:26] #1058 closed, assigned to fmeum

[2020-08-28 13:23] indeedwatson commented on #1065
There are two subkeys: one has a wax seal and a pen icon, and the other has a lock. If screenshot is necessary let me know and I'll see how to transfer it (KDEconnect is failing on me for some reason)

I installed from F-Droid but I now see it says `Updated 1 month ago`, do you recommend against using F-Droid?

----

Installed 1.11.3 from Play store (through Aurora) and while the GUI seems improve

[2020-08-28 14:14] fmeum commented on #1065
Thanks for the info, that helps: The wax seal means that the first key is your master key with which you can sign other keys. The pen icon says that your master key can also be used to sign arbitrary messages. The key with the lock icon is your encryption key. However, you would need another subkey, an authentication key, to perform SSH authentication via OpenKeychain. Such a subkey would have an

[2020-08-28 14:14] #1065 closed, assigned to nobody

[2020-08-28 15:31] #284 closed

[2020-08-28 17:05] indeedwatson commented on #1065
@FabianHenneke alright thanks, I'll see about the key. Tbh it's pretty confusing, I haven't found this explained in detail anywhere.

[2020-08-28 17:47] c0r5um commented on #998
Redmi note 8t with LineageOS 17 here.
I have somehow the same issue but with different error from app.
Logged with adb logcat,  last log part is displayed on-screen by the app

 `PasswordCreationActivity$encrypt$$inlined$with$lambda: onError getMessage: Missing key for encryption: %s`

Decrypting works just fine.
Probleme started after I rotate the .gpg-id key with a new ed25519 sub-key.
I will co

[2020-08-28 18:43] msfjarvis commented on #998
hm I need to fix this logging.

That's expected, decryption delegates key selection to OpenKeychain which simply goes through all available keys and selects the one that matches.

Let us know what comes of it.

[2020-08-28 18:45] msfjarvis commented on #1065
That's true, our documentation is sorely lacking and while there's been community interest in having them, there is not much in the way of volunteering to provide it. There's a _lot_ of ground to cover here and its just very hard to balance that and the daily maintenance so we add on to the documentation as and when issues arise.

[2020-08-28 18:46] kartikynwa commented on #998
I ended up adding an email to my key (it was lacking one at the time I made the first comment) and the app works fine now.

Had a heart attack moment when I deleted my old uid without first doing a `pass init` but that is besides the point.

[2020-08-29 11:27] msfjarvis commented on #636
JGit's using `java.nio` underneath in the [Java 7 compat layer](https://github.com/android-password-store/jgit-java7-compat/blob/f527cd2844ea3004ce51d16126107fc9d294d34e/src/org/eclipse/jgit/util/FileUtil.java#L78) so we can't really backport this to below API 26 even if we get extremely lucky.

[2020-08-29 11:38] fmeum commented on #636
Can we just use the Java6 layer + add symlink support behind a version code check and call that `FS_POSIX_Java7` so it's picked up by the magic heuristic? We wouldn't need `FileUtil` then.

[2020-08-29 11:38] xdevs23 opened #1067 "[BUG] Switching apps while running git operation causes crash"
**Describe the bug**
Switching away from APS while it is running a git operation (let's say, synchronizing repository) may cause a crash.
This can be reproduced if the app being switched to is **not** a launcher.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a different app
2. Open APS
3. Tap three dots
4. Tap on "Synchronize repository"
5. Immediately switch to the other app without

[2020-08-29 11:39] msfjarvis commented on #636
I'll look into it.

[2020-08-29 11:49] msfjarvis commented on #1067
I don't think the text input has anything to do with this, it's just being caused by the app trying to show a dialog after the calling activity has finished. Can you reproduce this consistently?

[2020-08-29 11:53] xdevs23 commented on #1067
Yes, I think what matters is that it is an app and not a launcher. I can 100 % reproduce if it is not a launcher.

[2020-08-29 12:11] msfjarvis commented on #235
Since opting into Android's Auto Backup feature can't be done at runtime and most users including me absolutely do not want it, I'm going to close this issue. Synchronizing with Git is hard enough so I am not willing to manually sync with Google Drive as well.

[2020-08-29 12:11] #235 closed

[2020-08-30 00:43] c0r5um commented on #998
Ok, solved with reencrypting all my pass files with rsa main key ( .gpg-id modified by pass cmd) on my linux client and pulling the repo on android app.
Encrypting started working again,
none of my keys have a complete email but only comments

[2020-08-30 13:24] msfjarvis commented on #926
Current Chrome Canary build is pretty great with Autofill, I think this issue can be closed. I can't repro either problem on Version 87.0.4249.0.

[2020-08-30 13:34] fmeum commented on #926
I can still repro issue 1 and it's actually quite annoying. Unfortunately the essential reviewer is lost in perf or otherwise unresponsive. I will keep at it, so let's leave this open for now.

[2020-08-30 17:13] ulfi commented on #998
I've the same error. But I'm not sure if I understand the conversation well.
Inside the PasswordStore settings I can't define the GPG keys anymore.
Inside of the openKeyChain I selected my 4 Keys I use in the past.
But inside the Android file System (especially not on the SmartDrive/PasswordStore Folder I use for the password files) I can't find any .gpg-id file.
So I'm a little bit confused, what

[2020-08-30 17:18] kartikynwa commented on #998
On my phone the file is located at `/data/data/dev.msfjarvis.aps/files/store/.gpg-id`.
30-Aug-2020 22:44:04 ulfi <notifications@github.com>:

[2020-08-30 17:19] msfjarvis commented on #998
If you have no `.gpg-id` file in your repository then you can't get the error being discussed in this issue. Make sure you've enabled the 'Show hidden files' setting for your file browser application, then simply delete `.gpg-id`. When you next attempt to save a password, the app will let you pick your preferred key and create a new `.gpg-id` file in the store.

[2020-08-30 18:37] ulfi commented on #998
OK, you are right. The message is different, but hard to read due to she short time visible. The error message is
"Failed to locate .gpg-id, is your store setup correctly?"
Excuse me for this error.

So the store setup, is unchanged since longer time and decrypting is still possible

[2020-08-31 18:59] dlagg opened #1071 "keep private instead of public repo."
I don't feel safe sharing all my users accounts on a public repo, but seems it's needed to use this app. Is there any way to have a cloud backup but encrypt or keep private your file names?

[2020-08-31 19:24] msfjarvis commented on #1071
You most definitely do not require a public Git repository to use Password Store. Any and every Git repository that you can access and authenticate to is suitable for use with the app.

[2020-08-31 19:53] dlagg commented on #1071
I get 'not authorized' error when I type my github password for my private pass-store repo.

[2020-08-31 21:41] msfjarvis commented on #1071
Are you using SSH or HTTPS? If on HTTPS, do you have two factor authentication enabled? You can only use personal access tokens for HTTPS authentication with 2FA enabled.

[2020-08-31 23:51] indeedwatson commented on #1065
I ended up generating a key from Open Keychain, same issue, the icon you mentioned @FabianHenneke is not there either, and the key doesn't show up. How should I proceed?

[2020-09-01 05:11] fmeum commented on #1065
Indeed, for some reason OpenKeychain doesn't create authentication subkeys by default. You can add one as follows while generating a new key, generating just a new subkey should work similarly:
![Screenshot_20200901-070913.png](https://user-images.githubusercontent.com/4312191/91797189-46421300-ec22-11ea-89f7-f442297e80b7.png)
![Screenshot_20200901-070923.png](https://user-images.githubusercontent

[2020-09-01 07:47] dlagg commented on #1071
Okey, I didn't know I had to have 2FA to use it.

[2020-09-01 07:51] dlagg commented on #1071
2FA enabled, same error.

[2020-09-01 07:52] msfjarvis commented on #1071
You don't, but if you had 2FA then you can't directly use your password. Things should be working fine otherwise, but since you did not follow the issue template and add the required information I can't really deduce the reason for the issue you're facing.

[2020-09-01 08:05] msfjarvis commented on #1071
It'll be easier to continue this discussion over in our Gitter room: https://gitter.im/android-password-store/public. Make sure you're not using F-Droid's releases because they're very outdated, either download from the Play Store or from [GitHub releases](https://github.com/android-password-store/Android-Password-Store/releases/latest).

[2020-09-01 08:09] dlagg commented on #1071
I try with personal access token unsuccessfully. Maybe I haven't given sufficient permissions?

[2020-09-01 08:13] msfjarvis commented on #1071
It's possible. Did you set the `repo` scope for the token?

[2020-09-01 08:14] dlagg commented on #1071
repo scope only

[2020-09-01 08:20] msfjarvis commented on #1071
Hm that's very weird then. Are you on version 1.11.3 of the app? I can successfully authenticate with HTTPS repositories both public and private on a fresh installation from Play Store.

[2020-09-01 08:24] fmeum commented on #1071
@dlagg Are you specifying the repository URL in the form `https://username@github.com/foo/bar`? Note the `username@` to specify the username that goes with your token.

[2020-09-01 08:34] dlagg commented on #1071
Using that form I get: `invalid remote: origin`
Using `https://www.github.com/username/repo` at least ask me for password.

[2020-09-01 09:00] fmeum commented on #1071
The following steps allow me to clone a private repo on v1.11.3 without any issues:

1. Create a new GitHub account with username `john` and a new repository called `foo`.
1a. Push some content to `foo`.
2. Create a new Personal Access token with `repo` scope (which includes all `repo` subscopes), say the token is `abcdef123456`.
3. On Password Store's `Repository information` screen that is shown

[2020-09-01 09:10] msfjarvis commented on #1071
Hm that's true. I'll see if we can do something about it.

[2020-09-01 09:21] dlagg commented on #1071
works! , I was missing the **/username**/repo in the URL and using password instead of token. Thanks!

[2020-09-01 09:21] #1071 closed, assigned to nobody

[2020-09-03 08:10] msfjarvis commented on #636
I can't find a Java6 artifact in the [v3.7 tree](https://github.com/eclipse/jgit/tree/stable-3.7) :confused:

[2020-09-03 08:48] #1015 closed, assigned to fmeum

[2020-09-03 08:59] fmeum commented on #636
Not quite sure I understand your problem. My suggestion would be to extend [`FS_POSIX_Java6`](https://github.com/eclipse/jgit/blob/stable-3.7/org.eclipse.jgit/src/org/eclipse/jgit/util/FS_POSIX_Java6.java) in this way:

[code]

[2020-09-03 09:16] msfjarvis commented on #636
I wasn't paying attenting and started looking for a separate Java 6 library like we have for Java 7. I'll try and get this done tonight.

[2020-09-04 12:02] msfjarvis commented on #1067
Talked with OP on Telegram, issue's no longer reproducible after #1066

[2020-09-04 12:02] #1067 closed, assigned to nobody

[2020-09-06 08:26] msfjarvis commented on #1040
The formatting ktlint is doing still feels pretty terrible so we're just gonna stick with our Android Studio solution.

[2020-09-06 08:37] #1040 closed, assigned to msfjarvis

[2020-09-06 21:04] msfjarvis commented on #680
The main tasks here have been resolved and we might not end up needing SAF so it's about time this is closed.

[2020-09-06 21:04] #680 closed

[2020-09-07 08:13] ael-code opened #1085 "[BUG] ssh port is ignored"
**Describe the bug**
SSH port specified through the `Repository URL` configuration field is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Clone from server'
2. Click on 'hidden (preferred)'
3. Select `SSH` protocol and `openkeychain` authentication mode.
4. Specify a custom port in the repository URL in the form `[username@]host[:port]/path`. For instance `ael@myhost.com

[2020-09-07 08:23] fmeum commented on #1085
You can't specify custom ports with this URL format as they can't be distinguished from a directory: `ael@myhost.com:123/home/ael/.password-store` does afaik indicate that you would like to access the path `123/home/ael/.password-store` relative to the user `ael`'s home directory.
Please try again with `ssh://ael@myhost.com:123/home/ael/.password-store`.

[2020-09-07 08:39] ael-code commented on #1085
Thanks, it worked.

I think it would be helpful to add an in-app documentation of the Repository URL field that can help the user understand which format of URL are accepted.

[2020-09-07 08:39] #1085 closed, assigned to msfjarvis

[2020-09-07 11:54] msfjarvis commented on #86
Existing non-git stores behave correctly in the app, and there are no plans to add support for creating non-git stores from the app so this issue is resolved.

[2020-09-07 11:54] #86 closed

[2020-09-07 23:37] msfjarvis opened #1087 "Introduce contribution guidelines and source documentation"
We currently do not have any explicit contribution guidelines regarding common situations like discussing with us over an issue before working on a large feature and other general commandments typically found in open source projects, and it would certainly be nice to have some.

While at it, I'd also like to create a separate document (or set of documents) where we go through and record reasonings

[2020-09-08 10:08] #333 closed

[2020-09-08 10:08] #548 closed

[2020-09-08 10:08] #782 closed

[2020-09-08 16:09] btimofeev opened #1089 "[QUESTION] Key ID is too short"
Previously, the application worked fine, but today I found out that when I try to create a new password, I get the following message:
"Key ID in .gpg-id is too short, please use  either long key IDs (16 characters) or fingerprints (40 characters)".

I use "hidden repository", and since I do not have root access, I cannot change anything in this file.

 - Device: Xiaomi Mi A3
 - OS: Android 10
 - A

[2020-09-08 19:08] msfjarvis commented on #1089
Is the repository not synced with Git? You will have to make this change from a computer if you can't do so on your phone.

[2020-09-09 05:59] xdevs23 commented on #1087
I would love to see best practices as well as dos and donts when working with the libraries used in this project and the project in general itself that rhe IDEs or the compiler don't already tell you. (e. g. don't do X in the build script; Y is required for Z to work; foo always needs to be specified when using bar).

This might already be covered by _implicit knowledge_ but I just wanted to menti

[2020-09-09 06:04] msfjarvis commented on #1087
That's perfectly fine, direct examples are helpful. Thanks!

[2020-09-10 10:08] btimofeev commented on #1089
Thanks for the advice. Changed the GPG ID on the computer and that solved my problem.

[2020-09-10 10:20] #1089 closed, assigned to msfjarvis

[2020-09-10 10:21] btimofeev opened #1092 "[BUG] unable to synchronize repository"
**Describe the bug**
Synchronizing the repository throws an error: "An error occurred during a Git operation. cannot open additional channels".
However, the separate "push to remote" and "pull from remote" commands work well.

**To Reproduce**
Steps to reproduce the behavior:
1. Open menu
2. Click on 'Synchronize repository'
3. Enter SSH passphrase
4. See error dialog

**Device information (please

[2020-09-10 11:29] fmeum commented on #1092
@btimofeev Could you tell us where your Git remote is hosted?

@msfjarvis I fear this is due https://community.atlassian.com/t5/Bitbucket-questions/Can-t-repo-sync-anymore/qaq-p/354231 or a similar issue where the remote does not support multiplexing. I didn't know there are remotes that do not allow this when I created https://github.com/android-password-store/Android-Password-Store/pull/1012.

O

[2020-09-10 11:32] btimofeev commented on #1092
I use bitbucket.

[2020-09-10 11:41] msfjarvis commented on #1092
And...fuck me.

Yeah that's the issue, I've seen it a couple years ago on an unrelated problem involving the same thing.

I'm trying to eventually reduce the number of configuration knobs we expose to users so I'm certainly not a fan of adding another one. We might have to settle with special-casing the error.

[2020-09-10 11:59] fmeum commented on #1092
In that case, in order to keep things simple, I would recommend the following:

1. Introduce a preference that, if set to true, makes Sync behave like a separate pull and push.
2. When this error message is encountered, let the user know something understood went wrong and instruct them to try again. Enable the preference.
3. Clear the preference when the repository url changes.

This way we don't

[2020-09-10 12:04] msfjarvis commented on #1092
Sounds good to me.

[2020-09-11 07:58] #1092 closed, assigned to msfjarvis

[2020-09-13 18:24] XaosTX commented on #111
This app is phenomenal!  The only thing keeping me from using it as my daily driver for passwords is that I too use submodules to segregate my password-store between personal, work, shared with family members, etc.

What can any of us do to help with this?

[2020-09-13 18:40] msfjarvis commented on #111
Not a whole lot other than collating the comments from https://github.com/android-password-store/Android-Password-Store/pull/348 and putting together a new pull request. It's not a priority at the moment so I won't be working on it myself but I'm happy to help someone else along the process.

[2020-09-14 11:19] rounakdatta commented on #1055
@msfjarvis are we determined we wouldn't be supporting gopass?
Otherwise, I can start some work on the required compatibility changes

[2020-09-14 11:24] msfjarvis commented on #1055
I'm not averse to offering support for gopass-specific things up to a limit I deem reasonable, but I will certainly not be working directly on them. Feel free to create a pull request.

[2020-09-16 19:34] msfjarvis opened #1103 "[GitHub Actions] Add dependency tree and binary impact to pull requests"
While binary size is not a hard constraint for us and we're comfortable with it getting larger, it's preferable to keep it relatively under control. To aid with that, this issue proposes addition of pull request workflows that 1) compute the diff in the dependency tree from the pull request (using [dependency-tree-diff](https://github.com/JakeWharton/dependency-tree-diff)) and 2) Run [diffuse](htt

[2020-09-17 07:52] nicoe commented on #845
* Harsh Shandilya [août 20, 2020 11:33]:

FYI F-Droid's has updated PasswordStore version to 1.11.3
The issue is still there.
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-09-17 08:39] msfjarvis commented on #845
Like I said, file a new issue.

[2020-09-17 09:41] Skrilltrax commented on #845
@msfjarvis I've faced this bug when working on the new onboarding flow. We were not finishing the onboarding activity. It can be easily resolved by opening the app again ig. This is also fixed in the new onboarding flow.

[2020-09-17 09:43] msfjarvis commented on #845
Cool, @nicoe you can confirm this with the snapshot builds linked in the README. And file an issue if it's not resolved for you still.

[2020-09-17 18:22] dfrost16 opened #1104 "Autofill Support for Iceweasel"
Autofill Support for [Iceweasel](https://github.com/fork-maintainers/iceraven-browser)
**Bug**
![10505](https://user-images.githubusercontent.com/24663673/93511465-7f77c400-f940-11ea-906f-39c388926b5b.png)
Shows browser name Instead of site name
**Intended Behaviour**
![10507](https://user-images.githubusercontent.com/24663673/93511683-cfef2180-f940-11ea-9bb5-3158740c3575.png)

[2020-09-17 18:25] msfjarvis commented on #1104
Seems like the name is being changed to Iceraven? Has the package name been updated to reflect that?

[2020-09-17 18:30] dfrost16 commented on #1104
Am really sorry, idk much about that

[2020-09-17 18:32] tdltdl opened #1105 "Ssh port not respected"
Probable regression of "one url to rule them all". When I try to clone repo on a server where ssh is not running on port 22, I specify it with ':12345' after the host name. There is then an error stating that ip address corresponding to host name port 22 is not responding. So the prot is ignored

Also on another phone that already had the url specified frol a previous version sync was going fine u

[2020-09-17 18:39] fmeum commented on #1104
A quote from the linked repository:
[code]
Our policy is to only allow browsers that are 1) engineered to be secure (especially against origin bypasses) and 2) meaningfully signed so that other apps cannot pretend to be them.

As per that policy, I can't see us adding Iceraven support at this point.

[2020-09-17 18:40] #1104 closed, assigned to msfjarvis

[2020-09-17 18:43] fmeum commented on #1105
You need to use the `ssh:` scheme to specify a non-standard port:
[code]
@msfjarvis Maybe we should show a warning if the path portion of the url starts with digits?

[2020-09-17 18:55] msfjarvis commented on #1105
We should really just make `ssh://` mandatory for all SSH URLs.

[2020-09-17 18:59] fmeum commented on #1105
Downside is that people don't know them well as they are not what you copy from GitHub & Co. Plus only a minority uses non-standard ports, so I'm not sure that would make things better.

[2020-09-17 18:59] tdltdl commented on #1105
Or maybe default it to ssh:// when button on top says ssh or https:// when user selects https?

[2020-09-17 19:01] tdltdl commented on #1105
It is indeed working. Thanks.
For the upgrade drol previous version that lost my settings, hoz to proceed? Delete an reclone?

[2020-09-17 19:03] msfjarvis commented on #1105
:(

Add them in automatically if missing?

[2020-09-17 19:07] tdltdl commented on #1105
+1 for adding if missing :-)

[2020-09-17 19:09] fmeum commented on #1105
If we assume that nobody would want to have the first part of their path consist of digits, that would work. But I think that a snackbar warning in that case could be sufficient. Not sure though.

[2020-09-17 19:13] tdltdl commented on #1105
Not sure I understand, the url must start with a scheme in the followed by "://". I do not see the issue with digits. Sorry

[2020-09-17 19:17] msfjarvis commented on #1105
git@github.com is a valid SSH URL and so is 192.168.0.101

192.168.0.101:12345 isn't a valid SSH URL, but ssh://192.168.0.101:12345 is.

The first category is both more common as well as the one most tools and platforms will output by default.

[2020-09-17 19:17] nicoe opened #1106 "[BUG] OnboardingFragment init fails on release builds"
In issue #845 @msfjarvis adviced me to use the snapshot build from README.
I used the free one and received the following stacktrace when opening the app:

[code]

Using the nonfree one resulted in the same traceback

[2020-09-17 19:22] msfjarvis commented on #1106
I'm assuming this is a result of name mangling by R8 so this will either need a keep names rule or to not use the name from XML.

[2020-09-17 20:30] fmeum commented on #1105
A url such as `git@example.org:12345/example.git` is somewhat ambiguous since there might be paths starting with a digit, right?

[2020-09-17 20:44] msfjarvis commented on #1105
Yeah... What's the final verdict then?

[2020-09-17 21:50] tdltdl commented on #1105
But if we always prefix it with ssh:// (or https://) would it cause any problem? The absolute url syntax is not ambiguous so why not enforce it?

[2020-09-18 07:31] fmeum commented on #1105
It's not ambiguous, but also not compatible: The path in `git@example.org:foo/bar` is interpreted as a relative path, whereas the path in `ssh://git@example.org:123/foo/bar` is necessarily absolute. GitHub, Gitlab and the likes don't treat absolute and relative paths as different afaik, but self-hosted alternatives might.

I see the following options and do prefer option 2 right now:

1. Rewrite `

[2020-09-18 10:51] #1106 closed, assigned to Skrilltrax

[2020-09-18 12:45] Skrilltrax commented on #1106
@nicoe Please use the latest snapshot. The crash should be fixed in that build.

[2020-09-18 14:33] msfjarvis commented on #1105
Without the `ssh://` prefix JGit's URIish will see that `msfjarvis@192.168.0.102:39758/mnt/ro/pass-store` has no port and leave the value at `-1` so guess it's time to meet my old friend RegExp...

[2020-09-18 16:29] nicoe commented on #1106
The crash is fixed indeed

[2020-09-18 16:35] nicoe opened #1109 "Can't read stores from SAF-backed volumes"
As explained in #845 I am experiencing some issues when using a non git-store that is synced using nextcloud.
I start the onboarding process (the new one thanks to the snapshot builds made by @Skrilltrax (v 1.12)) and the symptoms are the same as in #845: I have to choose the directory, I choose the right one, there's a request for the acces rights (which I obviously grant) and then I am back on t

[2020-09-18 17:24] msfjarvis commented on #1109
@Skrilltrax managed to locate a possible cause for this problem, [this](https://dl.msfjarvis.dev/share/app-free-release.apk) APK has the fix implemented. Can you check if it resolves your problem?

[2020-09-18 18:53] nicoe commented on #1109
* Harsh Shandilya [septembre 18, 2020 19:24]:

Unfortunately not :(.
Let me know how I can help as I feel useless …
--
(°> Nicolas Évrard
( ) Liège
 `¯

[2020-09-18 19:35] msfjarvis commented on #1109
I am completely stumped as to how you still have this problem. Here's what I just did to confirm the fix:

1. Export my passwords to an external directory
2. Uninstall the app
3. Use a file browser to delete the `.git` directory from my exported passwords
4. Installed the APK I sent you
5. Started the app, selecting `Let's go` > `Create local repo` > `SD Card`, then picking the directory I previou

[2020-09-18 22:34] msfjarvis commented on #971
Still broken on Firefox Daylight build from today.

[2020-09-18 22:38] msfjarvis commented on #926
https://chromium.googlesource.com/chromium/src.git/+/444aad9599a465e3db4c52b3331c5c286818e8bc

Issue 1 should be fixed in the next Canary build 🎉

[2020-09-19 08:58] nicoe commented on #1109
* Harsh Shandilya [septembre 18, 2020 21:35]:

I know, the process is really straightforward so I don't understand
what's wrong. I suspect something in the way the configuration is
stored on my device (I have to select on each reboot the launcher app
I want to use because my preference is not saved … but only this
preference not all the others!).

How can I access the debug log of PasswordStore ?

[2020-09-19 09:08] msfjarvis commented on #1109
In the app's settings you'll find an option to enable debug logging towards the bottom of the page. Once that is enabled, force stop the app and then follow the steps [here](https://www.xda-developers.com/quickly-install-adb/) to set up debugging on your phone. Then in the same window as the guide, type `adb logcat -c`, followed by `adb logcat > log.txt` and replicate the issue on the app. Once th

[2020-09-19 15:47] #1105 closed, assigned to nobody

[2020-09-19 18:10] msfjarvis commented on #926
v87.0.4268.0 is supposed to have shipped with the commit but I still need to use the workaround to make Autofill work 🤔

[2020-09-19 19:34] fmeum commented on #926
Could you send me logs with Autofill verbosity set to verbose in the developer settings?

[2020-09-19 20:00] fmeum commented on #926
Autofill in the same version of Chrome Canary works really well for me, but the browser sometimes crashes on page loads. Hope that's not on us...

[2020-09-20 06:44] msfjarvis commented on #926
Tried doing so but Chrome crashes every 5 seconds for me as well so I'm assuming that earlier I simply hadn't finished updating and that's why the workaround was needed. Gonna wait it out for the next canary and see if the crash is fixed.

[2020-09-21 07:56] msfjarvis opened #1114 "Replace Snackbars that contain relatively long texts with BasicBottomSheet"
Snackbars are unwieldy for any message going past 3 to 6 words and often ellipsize out important parts of the message that then creates usability issues for users who can't read the entirety of that text. This became extremely clear in the support email I received over the weekend, where the URL misconfigured their repository URL to `https://username@github.com/repo-name` rather than `https://user

[2020-09-21 08:46] Skrilltrax commented on #1114
I think we should also change the dialog boxes into bottom sheets just to make the whole UI consistent.

[2020-09-21 12:34] msfjarvis commented on #926
Got today's update, everything appears to work ~~perfectly now~~ Autofill does, but the browser itself appears to crash still, just less frequently. Gonna hold off on the promotion from flaky to supported until that's been gone at least a week.

[2020-09-22 08:16] fmeum commented on #926
Agreed, let's wait for Chrome to become less crashy. As crashes function as a (terrible) workaround for issue 1, we won't be able to tell whether it works anyway.

[2020-09-22 15:21] fmeum commented on #926
The crashes are gone, but Autofill is misbehaving again. I will investigate, it does appear as if the fix doesn't work.

[2020-09-22 21:47] holderl5 commented on #173
I made sure the  --no-throw-keyids  was set and then ran the following:
pass init KEYID

[2020-09-23 18:15] msfjarvis opened #1118 "Tracking issue for removal of Git support w/ external repositories"
This is a discussion thread for users to comment on our proposal to remove support for Git features in external repositories. For the v1.12.0 release, we're doing a soft launch of our plans by taking away the ability to clone a repository to external storage. This is done as a means to gather feedback about the change and evaluate if this can be done without breaking too many users.

Our reasons f

[2020-09-24 12:53] fmeum commented on #926
I ended up finding a permanent workaround to the first issue: The `AugmentedAutofillService` that is behind the breakage is not a system app, but a regular app that goes under the name "Device Personalization Service". I disabled it and immediately enjoyed flawless Autofill in Chrome. However, disabling it means losing access to certain clipboard recommendations.

[2020-09-24 16:40] msfjarvis commented on #926
Losing way more than clipboard suggestions, actually.